[2019-06-06 22:29] adrcunha opened #7 "Presubmit jobs are failing"
Root cause: presubmit script is not executable.

[2019-06-06 23:19] #7 closed

[2019-06-10 21:23] n3wscott opened #12 "use default service-account on GKE"
Per: https://github.com/GoogleCloudPlatform/cloud-run-events/pull/10#discussion_r292197183

[2019-06-10 21:24] n3wscott opened #13 "Revisit immutable choice for PubSubSource spec."
Re: https://github.com/GoogleCloudPlatform/cloud-run-events/pull/10#discussion_r292197576

[2019-06-10 23:17] n3wscott opened #14 "support status.address.url"
ref: https://github.com/GoogleCloudPlatform/cloud-run-events/pull/10#discussion_r292198804

[2019-06-11 16:40] n3wscott opened #15 "we should explicitly say which permissions this Service account should have."
wonder if we should explicitly say which permissions this Service account should have?

_Originally posted by @vaikas-google in https://github.com/GoogleCloudPlatform/cloud-run-events/pull/10_

[2019-06-13 19:43] n3wscott opened #16 "This assumes you have actually downloaded the files (or cloned the git repo). It would be nice if we could have a 'curl' way to get these files so that we don't raise the bar unnecessarily for just kicking the tires."
bit of a nit here. This assumes you have actually downloaded the files (or cloned the git repo). It would be nice if we could have a 'curl' way to get these files so that we don't raise the bar unnecessarily for just kicking the tires.

_Originally posted by @vaikas-google in https://github.com/_render_node/MDExOlB1bGxSZXF1ZXN0Mjg2Nzk0NTgz/pull_requests/unread_timeline_

[2019-06-14 22:10] n3wscott opened #17 "Rename PubSubSource to PubSubSubscription?"
cc @mattmoor

[2019-06-15 02:12] n3wscott commented on #17
How about PubSubPull

[2019-06-15 14:30] mattmoor commented on #17
PullSubscription?

[2019-06-15 22:24] #17 closed

[2019-06-18 16:15] n3wscott opened #27 "Jobs: Use well defined name and not list them using label selectors."
Is there a reason why we can't use a well defined name and not have to list them using label selectors. I think there might be a race here. We had this same discussion with Channels and decided to use predictable naming and that also has been what serving has been doing.

_Originally posted by @vaikas-google in https://github.com/GoogleCloudPlatform/cloud-run-events/pull/24_

[2019-06-18 19:37] n3wscott opened #29 "This leaves the finalizer hanging around -- should we give up on the finalizer at some point (for example, if we don't have permissions to delete the subscription, or if it is already deleted)?"
This leaves the finalizer hanging around -- should we give up on the finalizer at some point (for example, if we don't have permissions to delete the subscription, or if it is already deleted)?

I seem to recall that the GitHub source had issues where it would stick around forever if (for example) you created a source but it hadn't had a chance to register the webhook yet.

_Originally posted by @

[2019-06-18 22:46] n3wscott commented on #27
Update to use this: https://github.com/knative/pkg/pull/471

[2019-06-19 19:46] n3wscott opened #37 "[dataplane] Confirm PubSubPush API is the same as PullSubscription."
I want to use the same function in both places.

[2019-06-19 19:50] n3wscott opened #38 "Doesn't OpenAPI schema support enums - for policy?"
Doesn't OpenAPI schema support enums - for policy?

_Originally posted by @akashrv in https://github.com/GoogleCloudPlatform/cloud-run-events/pull/34_

[2019-06-19 20:03] n3wscott opened #39 "Talk about naming."
cc @akashrv

[2019-06-19 22:44] n3wscott opened #40 "Can you add a test using an invalid propagationPolicy value?"
Can you add a test using an invalid propagationPolicy value?

_Originally posted by @grantr in https://github.com/GoogleCloudPlatform/cloud-run-events/pull/34_

[2019-06-20 17:44] n3wscott opened #43 "If Receive Adapter spec changes, controller is not updating it."

[2019-06-20 19:20] n3wscott opened #45 "TODO: Does this need the `+optional` tag?"
Does this need the `+optional` tag?

_Originally posted by @grantr in https://github.com/GoogleCloudPlatform/cloud-run-events/pull/34_

[2019-06-24 19:14] n3wscott opened #50 "Pubsub Publisher should be a ksvc."
Publisher should be a ksvc.

_Originally posted by @n3wscott in https://github.com/GoogleCloudPlatform/cloud-run-events/pull/35/review_comment/create_

[2019-06-26 18:42] n3wscott opened #58 "Revisit CloudEvents attributes"
I assume that this is because CloudEvents attributes with Map or Any type are a mess?

https://github.com/cloudevents/spec/pull/467 (if accepted) might help.

_Originally posted by @evankanderson in https://github.com/GoogleCloudPlatform/cloud-run-events/diffs_

[2019-06-28 17:52] n3wscott opened #64 "This `key.json` is what I wanted to be documented earlier in the Topic type's Secret ref field. How does the user know to use this key otherwise?"
This `key.json` is what I wanted to be documented earlier in the Topic type's Secret ref field. How does the user know to use this key otherwise?

_Originally posted by @grantr in https://github.com/GoogleCloudPlatform/cloud-run-events/pull/35_

[2019-06-28 22:50] n3wscott opened #67 "This should be a method on the type."
This should be a method on the type.

_Originally posted by @grantr in https://github.com/GoogleCloudPlatform/cloud-run-events/pull/35_

[2019-06-28 22:51] n3wscott opened #68 "Use Semantic.DeepEqual here, not cmp.Diff. cmp.Diff is meant for tests. https://github.com/google/go-cmp"
Use Semantic.DeepEqual here, not cmp.Diff. cmp.Diff is meant for tests. https://github.com/google/go-cmp

_Originally posted by @grantr in https://github.com/GoogleCloudPlatform/cloud-run-events/pull/35_

[2019-06-28 22:53] n3wscott opened #69 "Typo."
Typo.

_Originally posted by @grantr in https://github.com/GoogleCloudPlatform/cloud-run-events/diffs/23_

[2019-06-28 23:03] grantr opened #70 "updateFinalizers should use update"
This code seems unnecessary. `updateFinalizers` is only called if we changed the finalizers during reconcile. IIUC the only thing this is protecting against is if something else changes the object while we reconciled, but we can let the patch fail and try again, right?

_Originally posted by @grantr in https://github.com/GoogleCloudPlatform/cloud-run-events/pull/35#discussion_r298767037_

[2019-06-28 23:25] grantr opened #71 "Write tests for pubsub adapter"
Stub tests need to be filled in: https://github.com/GoogleCloudPlatform/cloud-run-events/pull/66/files#diff-e4aeeba1df8e80967ec05b8535f5d297

[2019-06-30 02:07] n3wscott opened #72 "Why is this `PROJECT_ID` and not `PROJECT`?"
Why is this `PROJECT_ID` and not `PROJECT`?

_Originally posted by @grantr in https://github.com/GoogleCloudPlatform/cloud-run-events/pull/35/files/b43fb10e9247b0db8e1abd323dc4814609315d1b_

[2019-07-01 21:16] Harwayne opened #76 "Webhook ServiceAccount"
The Webhook and Controller should use distinct ServiceAccounts, as they need different permissions. This also matches the knative/eventing [service accounts documentation](https://github.com/knative/eventing/blob/master/docs/service-accounts.md).

[2019-07-01 21:19] Harwayne opened #77 "Distinct ServiceAccounts"
The current ServiceAccount name for the controller is `controller`. This works well while in the `cloud-run-events` namespace. But we saw in knative/eventing that people wanted to install the controllers and webhooks into user defined namespaces, at which point the name `controller` is likely to collide.

I recommend `cloud-run-events-controller`.

[2019-07-08 18:00] grantr opened #86 "Depend on serving and eventing master."
Depend on serving and eventing master instead of specific revisions.

_Originally posted by @grantr in https://github.com/GoogleCloudPlatform/cloud-run-events/pull/35#discussion_r301226846_

[2019-07-08 18:23] grantr commented on #86
Also add a comment to overrides `This is a preemptive override` https://github.com/GoogleCloudPlatform/cloud-run-events/pull/35#discussion_r301221119

[2019-07-08 18:33] grantr opened #87 "Use Semantic.DeepEqual here"
Use Semantic.DeepEqual in topic reconciler

_Originally posted by @grantr in https://github.com/GoogleCloudPlatform/cloud-run-events/pull/35#discussion_r298759481_

[2019-07-08 18:40] grantr opened #88 "ReportReady is wrong for long-lived resources"
We could use `now - LastTransitionTime`, but maybe not if LastTransitionTime is updated when the message changes.

According to @n3wscott we actually want to timestamp the point when `observedGeneration != spec.generation` and use that as the subtrahend.

_Originally posted by @grantr in https://github.com/GoogleCloudPlatform/cloud-run-events/pull/35#discussion_r301243764_

[2019-07-08 18:57] grantr opened #89 "Commants and typipos"
Typo `exisiting` -> `existing` https://github.com/GoogleCloudPlatform/cloud-run-events/pull/35/files#diff-1d699b9cd7b3d4b5ad8802c07777a902R324 https://github.com/GoogleCloudPlatform/cloud-run-events/pull/35#discussion_r298765875

Add a comment saying "This method is generic for future compatibility with an SDK or some such" https://github.com/GoogleCloudPlatform/cloud-run-events/pull/35/files#diff

[2019-07-08 19:03] grantr commented on #89
Remove `add the finalizer` from comment because that's already happened https://github.com/GoogleCloudPlatform/cloud-run-events/pull/35#discussion_r301238029 https://github.com/GoogleCloudPlatform/cloud-run-events/pull/35/files#diff-1d699b9cd7b3d4b5ad8802c07777a902R155

[2019-07-08 19:09] #50 closed

[2019-07-08 20:17] n3wscott commented on #77
This is working as intended.

[2019-07-08 20:48] n3wscott commented on #76
This repo is intended to match serving. https://github.com/knative/serving/blob/master/config/webhook.yaml#L38

[2019-07-08 20:49] #69 closed

[2019-07-08 20:51] n3wscott commented on #67
Ref: https://github.com/GoogleCloudPlatform/cloud-run-events/pull/35#discussion_r298767429

I am not sure it should be. If it was on the type then you can't reuse the method logic. It should be part of the reconciler SDK on a RuntimeObject.

[2019-07-08 20:58] #89 closed

[2019-07-09 16:10] n3wscott commented on #45
fixed via https://github.com/GoogleCloudPlatform/cloud-run-events/pull/94

[2019-07-09 16:10] #45 closed

[2019-07-09 21:16] n3wscott opened #98 "It'd be nice if `envconfig` had a method for creating this from the structured type :-/"
It'd be nice if `envconfig` had a method for creating this from the structured type :-/

_Originally posted by @mattmoor in https://github.com/GoogleCloudPlatform/cloud-run-events/pull/51#discussion_r301780572_

[2019-07-09 22:15] n3wscott commented on #37
It is.

[2019-07-09 22:15] #37 closed

[2019-07-09 22:16] n3wscott commented on #13
This is now not immutable.

[2019-07-09 22:16] #13 closed

[2019-07-09 22:17] n3wscott commented on #14
This is now done.

[2019-07-09 22:17] #14 closed

[2019-07-09 22:18] n3wscott commented on #12
Service accounts have been removed in https://github.com/GoogleCloudPlatform/cloud-run-events/pull/96 and https://github.com/GoogleCloudPlatform/cloud-run-events/pull/97

We can add them back if it is compelling.

[2019-07-09 22:18] #12 closed

[2019-07-09 22:19] n3wscott opened #100 "Make an end to end test."

[2019-07-09 22:21] n3wscott opened #101 "Operations starting method - This is getting long enough that it should probably be a struct."
This is getting long enough that it should probably be a struct.

_Originally posted by @Harwayne in https://github.com/GoogleCloudPlatform/cloud-run-events/pull/51#discussion_r301814621_

[2019-07-09 22:40] #38 closed

[2019-07-23 21:50] #86 closed

[2019-07-25 20:39] #87 closed

[2019-07-30 18:33] n3wscott opened #111 "And here, esp. the bit about metadata?"
And here, esp. the bit about metadata?

_Originally posted by @vaikas-google in https://github.com/GoogleCloudPlatform/cloud-run-events/diffs_

[2019-07-30 19:24] n3wscott opened #112 "Make sure that sources track their sinks"
Consider turning this into an issue. Something about status of sinks might not get reflected, there might be issues with this on error conditions.

Consider turning this into an issue. Something about status of sinks might not get reflected, there might be issues with this on error conditions.

_Originally posted by @vaikas-google in https://github.com/_render_node/MDE3OlB1bGxSZXF1ZXN0UmV2aWV3MjY4

[2019-07-30 19:29] n3wscott opened #113 "Refactor sync code for channel subscribers."
https://github.com/GoogleCloudPlatform/cloud-run-events/pull/26#discussion_r308463820

This is where I found some confusion, coupled with the lines below where we actually create it. They seem very similar to just create. Or put another way, why do you need subCreates and don't just throw everything into subUpdates. I think this is where the comments would help. It was difficult to visually diff w

[2019-08-01 00:57] n3wscott opened #117 "Istio might not work well with PullSubscription. Test this."

[2019-08-02 03:28] n3wscott opened #127 "Bring up the test coverage for the components."
can we bring up the test coverage for the components on a followup PR...
/lgtm
/approve

_Originally posted by @vaikas-google in https://github.com/GoogleCloudPlatform/cloud-run-events/pull/124#issuecomment-517486002_

[2019-08-13 21:30] n3wscott opened #154 "Default Storage secrets."
Default Storage secrets.

https://github.com/google/knative-gcp/pull/153/files#r313621340

[2019-08-16 00:02] n3wscott opened #172 "the cloudEventOverrides should propagate down into the PullSubscription, not added to the customAttributes"
the cloudEventOverrides should propagate down into the PullSubscription, not added to the customAttributes

_Originally posted by @n3wscott in https://github.com/google/knative-gcp/pull/169_

[2019-08-16 17:16] n3wscott opened #179 "read the condition from PullSubscription, and add a message if it's not ready."
read the condition from PullSubscription, and add a message if it's not ready.

_Originally posted by @n3wscott in https://github.com/google/knative-gcp/pull/178/files#r314812446_

[2019-08-16 20:48] #179 closed

[2019-08-16 22:55] Harwayne opened #186 "Storage creates multiple Notifications"
Occasionally I see that Storage creates two GCS notifications. Then, when the Storage CO is deleted, only the more recent notifications is deleted. This caused me to hit the limit of 10 notifications on a bucket.

[code]

[2019-08-16 22:55] Harwayne commented on #186
/assign @vaikas-google

[2019-08-19 14:41] vaikas-google opened #189 "You will want to use the kmeta.ChildName method here to avoid overly long names"
You will want to use the kmeta.ChildName method here to avoid overly long names

_Originally posted by @n3wscott in https://github.com/google/knative-gcp/pull/187_

[2019-08-19 22:20] n3wscott commented on #186
@Harwayne can you try this flow again with the operations ?

[2019-08-20 05:35] #189 closed

[2019-08-20 06:03] #172 closed

[2019-08-20 06:04] vaikas-google commented on #186
as @n3wscott mentions, this should not happen again. The problem was that occasionally depending on which write (finalizer or the status update with the notificationId in Status) would go first we would indeed end up getting the duplicate notification. With the operations model, creating the subscription should be idempotent because the state is stored in the Job that creates the Subscription and

[2019-08-20 10:40] vaikas-google commented on #154
/close
Fixed in #190

[2019-08-20 10:40] #154 closed

[2019-08-21 15:57] n3wscott opened #204 "Make round trip duck test for Storage API"
Re: https://github.com/google/knative-gcp/pull/203/files#r316266232

I guess there is something to do with performance or whatever so serving has been making this test instead of doing the asserts like above: https://github.com/google/knative-gcp/blob/master/pkg/apis/pubsub/v1alpha1/implements_test.go#L26

it lets you test round trips in json form so that is useful.

_Originally posted by @n3wscot

[2019-08-21 16:02] vaikas-google commented on #204
done

[2019-08-21 16:02] #204 closed

[2019-08-21 17:28] nachocano opened #205 "E2E test for the storage source/importer"
We need an E2E for the storage source/importer. It will have to do the proper cluster setup (e.g., creating secrets, a bucket, etc.), then upload a file, and see that a notification is received on the sink.

There is a working example with PullSubscription, where we might be able to reuse some of the code. Need to sync with @n3wscott

[2019-08-21 17:36] nachocano commented on #205
Grace will help with this one after a tracing issue that she is currently working on.
/assign @grac3gao

[2019-08-21 17:36] nachocano commented on #205
fyi @vaikas-google @n3wscott

[2019-08-21 17:40] grac3gao commented on #205
/assign @grac3gao

[2019-08-21 18:03] vaikas-google commented on #205
so this should basically start out as:
 - create [or have a pre-made bucket for test purposes?]
 - create a service that listens for notifications
 - create Storage object pointing to bucket and to the service above
 - add an object to the Bucket
 - verify results

I think if we use a premade bucket with some credentials that have been properly configured it will be easier rather than create the b

[2019-08-21 18:04] vaikas-google commented on #186
@Harwayne can you still repro this?

[2019-08-21 18:14] nachocano commented on #205
Agree!

[2019-08-21 21:59] akashrv opened #207 "#Bug Updating the event types of an GCS importer doesn't work and is not immutable"
Create a GCS importer with just the "finalize" event type.
Then edit it to add "metadataupdate". Webhook accepts it and the object is ready.
However, gsutil notification list <bucketurl> doesn't show the new type. (also old ones stay forever, but I believe there is another bug tracking it).

I haven't tested for other fields.

Expected behavior:
Either make the field immutable, or reconcile (ideal

[2019-08-21 21:59] akashrv commented on #207
/assign @vaikas-google
/kind bug

[2019-08-23 14:06] vaikas-google commented on #207
Looks like GCS notification is not updateable (or at least I couldn't find an API for it). So, we could do couple of things:
 1. delete/create the subscription
 2. make it immutable

for the first option probably better to create a new Notification first, then after it has been successfully created remove the old one. I'll think about this some more.

[2019-08-29 14:55] vaikas-google opened #224 "Event Display shows errors in its output for Extensions"
When using Event Display (which uses Cloud SDK), both Storage and Scehduler examples show errors in the output:
For example:
☁️  cloudevents.Event
Validation: valid
Context Attributes,
  specversion: 0.3
  type: google.storage.object.finalize
  source: //storage.googleapis.com/buckets/vaikasvaikas-notification-test
  subject: testfilehere
  id: 710717795564381
  time: 2019-08-27T16:35:03.742Z
  sc

[2019-08-29 22:15] Harwayne opened #226 "Tracing through Channel"
**Problem**
A request made to the Channel should generate traces that link the request to the subscribers. It should either use an existing Trace if present, or create a new Trace if one isn't.

The trace from the Channel to any subscribers MUST be annotated with the subscription's name.

**Persona**:
System Integrator

**Exit Criteria**
Each of the following generate a trace that includes both th

[2019-09-04 17:14] n3wscott opened #243 "Scheduler needs instructions to enable Schedule API"
followed the instructions but job fails with

```{"level":"info","ts":1567617015.9008741,"logger":"fallback-logger","caller":"scheduler/job.go:217","msg":"Failed to create Job \"projects/fooo/locations/us-central1/jobs/XXX\": rpc error: code = PermissionDenied desc = Cloud Scheduler API has not been used in project XXX before or it is disabled. Enable it by visiting https://console.cloud.google.co

[2019-09-04 18:14] n3wscott commented on #226
Requires work and testing for PullSubscription and Topic

[2019-09-04 22:13] #243 closed

[2019-09-10 20:07] capri-xiyue opened #252 "Add ClusterRole to get, list and watch "pullsubscriptions" and "storages""
In PR https://github.com/knative/eventing/pull/1849, we added ClusterRole to get, list and watch "pullsubscriptions" and "storages" in config/200-source-resolvers-clusterrole.yaml.
This is a temporary solution. Such ClusterRole should eventually be moved to config directories in https://github.com/google/knative-gcp.

[2019-09-11 15:17] sayanh opened #255 "Use PROJECT_ID from the google-cloud-key secret"
Right now, PROJECT_ID should be part of the channel template in `default-ch-webhook` spec. Something like this:
[code]

As secret `google-cloud-key` is already containing PROJECT_ID, it can be picked up from there rather than having in channel template.

[2019-09-11 15:18] sayanh commented on #255
/assign @n3wscott

[2019-09-11 15:19] n3wscott commented on #255
Also this means the secret can change as long as the project does not change. This would allow us to upgrade the secrets...

Thanks for the feedback.

[2019-09-16 19:18] capri-xiyue opened #272 "Update status.ObservedGeneration for sources resources when sources resources get reconciled successfully"
In PR https://github.com/knative/eventing/pull/1849, we tried to validate dependency by checking whether the ObjectMeta.generation of dependency is equal to the Status.ObservedGeneration of dependency.
However, we found we don't update status.ObservedGeneration for sources resources when sources resources get reconciled successfully. We should do that when sources resources get reconciled successf

[2019-09-16 23:08] capri-xiyue commented on #272
/assign @capri-xiyue

[2019-09-17 16:30] n3wscott commented on #224
Fixed.
/close

[2019-09-17 16:30] #224 closed

[2019-09-17 16:31] n3wscott commented on #117
It just needs the istio gateway in the local namespace if istio is installed. the e2e tests work with istio installed.

/close

[2019-09-17 16:31] #117 closed

[2019-09-17 16:33] n3wscott opened #281 "Need to add finalizer to the secret used for Topic and PullSubscriptions."
We can get into the state of a namespace is deleted, the first thing to delete is the secret and then the topic and subscriptions can not be cleaned up, so the finalizers just stick around on those resources.

[2019-09-17 19:33] #272 closed

[2019-09-18 17:56] Harwayne commented on #226
/milestone v0.10.0

[2019-09-18 18:12] nachocano opened #287 "E2E test for Channel"
**Problem**
In order to ensure that the Channel generates metrics correctly, we need an E2E test.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
A test in the e2e suite that runs before every PR merge. The test verifies that an event sent through a Channel sends at least `event_count` metrics.

[2019-09-18 18:14] nachocano opened #288 "Metrics: E2E test for Storage"
**Problem**
In order to ensure that the Storage generates metrics correctly, we need an E2E test.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
A test in the e2e suite that runs before every PR merge. The test verifies that an event sent from Storage sends at least `event_count` metrics.

[2019-09-18 18:15] nachocano opened #289 "Metrics: E2E test for PubSub"
**Problem**
In order to ensure that the PubSub source generates metrics correctly, we need an E2E test.

Needs https://github.com/google/knative-gcp/issues/303

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
A test in the e2e suite that runs before every PR merge. The test verifies that an event sent from PubSub source sends at least

[2019-09-18 21:17] grac3gao opened #290 "GOOGLE_APPLICATION_CREDENTIALS in e2e-common.sh needs to be updated"
When doing integration test in RROW, the storage e2e test will fail.

Error message: googleapi: Error 403: The service account 'service-758498956531@gs-project-accounts.iam.gserviceaccount.com' does not have permission to publish messages to to the Cloud Pub/Sub topic '//pubsub.googleapis.com/projects/knative-boskos-68/topics/storage-54292b44-d992-11e9-a940-42010a800073', or that topic does not ex

[2019-09-18 21:41] n3wscott commented on #290
are you sure you have done step 6
<https://github.com/google/knative-gcp/tree/master/docs/storage>:

Give Google Cloud Storage permissions to publish to GCP Pub/Sub.

   1.

   First find the Service Account that GCS uses to publish to Pub/Sub
   (Either using UI or using curl as shown below)
   1.

      Use the steps outlined in Cloud Console or the JSON API
      <https://cloud.google.com/stora

[2019-09-18 21:53] grac3gao commented on #290
Have included in https://github.com/google/knative-gcp/pull/283/files/4a038ebeacf7fc992a7c3556f2f3fb7ea371a202#diff-bd936cfe1323838e9372afd0ae4135a3R99-R103

[2019-09-18 22:26] grac3gao commented on #290
contacted test-infra

[2019-09-18 22:26] #290 closed

[2019-09-18 22:37] #205 closed

[2019-09-19 04:13] capri-xiyue commented on #252
/assign @capri-xiyue

[2019-09-19 22:08] vaikas-google opened #295 "Document installation from releases so you don't need ko"
We should not require ko for installation.

[2019-09-19 22:36] #295 closed

[2019-09-20 15:15] n3wscott opened #298 "Evaluate CloudEvents 1.0"
/assign

High Priority. Due Oct 10.

[2019-09-24 17:59] nachocano commented on #289
/assign

[2019-09-25 16:54] n3wscott opened #303 "Implement PubSub source"
We need to implement a `PubSub` source object that is similar to `PullSubscription` except it decouples the _how_ (pull subscription) from the _what_ (deliver events from a topic).

Requirements:

[] Is in the `events.cloud.run` api group.
[] Implements the `Source` ducktype.

Likely there is not a ton of work here, we need to cherrypick the spec parts of PullSubscription spec (avoid mode), (promo

[2019-09-25 17:41] nachocano commented on #303
/assign

[2019-09-25 17:41] nachocano commented on #288
/assign

[2019-09-30 18:35] grantr opened #309 "Performance test for PullSubscription and/or PubSub Source"
We need a perf test, similar to the ones in knative/eventing and eventing-contrib, that measures latency and throughput of PubSub Source (and/or PullSubscription) and records results in Mako.

[2019-09-30 18:35] grantr opened #310 "Performance test for PubSub Channel"
We need a perf test, similar to the ones in knative/eventing and eventing-contrib, that measures latency and throughput of the PubSub Channel and records results in Mako.

[2019-09-30 21:00] nachocano opened #313 "PropagateStatus when Topic Fails in PullSubscription"
- We should propagate the status message when the topic does not exist in a pull subscription.
- This will also help debug the new `PubSub` source.

[2019-09-30 21:00] nachocano commented on #313
fyi @n3wscott

[2019-09-30 21:29] capri-xiyue commented on #309
/assign @capri-xiyue

[2019-10-01 21:36] capri-xiyue commented on #310
/assign @capri-xiyue

[2019-10-02 18:35] grantr commented on #310
This should test with a Broker.

[2019-10-03 00:03] #303 closed

[2019-10-03 17:18] nachocano opened #317 "StackDriver metrics e2e test does not work in PROW"
- I can consistently execute it locally and the test passes. In PROW, it doesn't. Needs further investigation...

`GOOGLE_APPLICATION_CREDENTIALS=<path_to_json> E2E_PROJECT_ID=<id> go test --tags=e2e ./test/e2e/... -run ^TestStorageStackDriverMetrics$ -count 1`
`
ok  	github.com/google/knative-gcp/test/e2e	156.576s
?   	github.com/google/knative-gcp/test/e2e/metrics	[no test files]
`

[2019-10-03 17:19] nachocano commented on #317
/assign

[2019-10-03 17:19] nachocano commented on #317
Log from PROW

--- FAIL: TestStorageStackDriverMetrics (144.18s)
    lifecycle.go:54: namespace is : "test-storage-stack-driver-metrics-nglsxtiv"
    test_storage.go:278: Last term message => {"success":true}
    test_storage.go:303: sleeping 1m0s to make sure metrics were pushed to stackdriver
    test_storage.go:336: Filter expression: metric.type="custom.googleapis.com/cloud.run/source/event_co

[2019-10-03 17:23] nachocano commented on #317
/cc @chizhg

[2019-10-03 17:40] #288 closed

[2019-10-03 17:58] chizhg commented on #317
Can [this](https://github.com/GoogleCloudPlatform/k8s-stackdriver/issues/198#issuecomment-415396464) be relevant?

[2019-10-03 20:42] chizhg commented on #317
/assign @chaodaiG
Chao is oncall this week and he's willing to help :-)

[2019-10-03 20:43] chizhg commented on #317
/cc @chaodaiG

[2019-10-04 08:21] meteatamel opened #321 "PullSubscription docs need cluster-local-gateway"
PullSubscription requires cluster-local-gateway for Knative service sinks. We should mention this in the docs somewhere

[2019-10-04 16:27] chaodaiG commented on #317
This test failed the same way on my local desktop as in Prow, this is my first time running e2e tests from knative-gcp on my machine. The only difference is I invoked the test same way as in Prow, which is our standard way of testing:
`./test/e2e-tests.sh --gcp-project [MYPROJECT]`

Please check [e2e-tests.sh](https://github.com/google/knative-gcp/blob/master/test/e2e-tests.sh) and [e2e-common.sh]

[2019-10-04 16:34] adrcunha commented on #317
Initial post clearly shows that the test was running against an already existing cluster. Tests running on Prow (or through e2e-tests.sh) create a new, clean cluster by default. Definitely that sounds like the cluster used to run the tests in the initial post has some extra configuration(s) that are not present in the test clusters created by the E2E test framework.

[2019-10-04 16:35] nachocano commented on #317
I've added some things regarding giving the service account editor permissions for monitoring... I've tried few other things in this WIP https://github.com/google/knative-gcp/pull/318/files, but still the same error.... I don't think it's a permission issue, as if I don't have the permissions, I would be getting a different error...

Do you have access to the pantheon UI to see if we can see the m

[2019-10-04 16:36] nachocano commented on #317
hmmm, this might be it... monitoring is not enabled perhaps?

`gcloud services enable monitoring`

[2019-10-04 16:40] chaodaiG commented on #317
Seems like the case: https://github.com/google/knative-gcp/blob/2596d42db90b6ea6a01563c5b8e552b969894a20/test/e2e-common.sh#L76

[2019-10-04 16:44] chaodaiG commented on #317
we probably should add `gcloud services enable monitoring` right above the code in my previous comment

[2019-10-04 16:45] nachocano commented on #317
yes! added it and running it in https://github.com/google/knative-gcp/pull/320
let's see if that makes it work

[2019-10-04 17:01] nachocano commented on #317
hmmm still no luck...

[2019-10-04 17:13] chaodaiG commented on #317
I switched to your branch in #320 and ran it again(with `gcloud services enable monitoring` change) and it passed, it might be your refactoring as it didn't pass on the branch from #318(I may need to double check though). One thing I noticed is that the metrics were sent to stackdriver: https://pantheon.corp.google.com/logs/viewer?project=knative-boskos-36&folder&organizationId&minLogLevel=0&expan

[2019-10-04 17:15] chizhg commented on #317
BTW, monitoring is already enabled on boskos project, so we do not need to enable it if running on Prow.

[2019-10-04 17:20] chaodaiG commented on #317
One of the possibility is that our service account might not have enough permission for querying Stackdriver logs. @chizhg , any idea how to check this?

[2019-10-04 17:21] nachocano commented on #317
I removed the permissions in my local cluster, and the error message is different. I added monitoring editor permissions to the service account in the sh scripts

[2019-10-04 17:21] nachocano commented on #317
In #320 I don't have some of the changes of #318... Let me enable monitoring in #318, which is a simpler change, and check again

[2019-10-04 17:56] chizhg commented on #317
Editor should have enough permissions to query Stackdriver logs, see https://cloud.google.com/logging/docs/access-control

[2019-10-04 18:28] aaron-lerner opened #325 "Storage CRD does not have ceOverrides property"
The [Storage event spec](https://github.com/google/knative-gcp/blob/master/pkg/apis/events/v1alpha1/storage_types.go#L53) has duckv1alpha1.PubSubSpec which brings in multiple fields including CloudEventOverrides. However, this field is not included in the [storage source CRD](https://github.com/google/knative-gcp/blob/master/config/300-storage.yaml).

[2019-10-04 20:21] chaodaiG commented on #317
I just checked out your branch from #318, and noticed that the enabling monitoring line was added inside the block which only excecute when running locally, it passed on my machine and I have left a comment in #318, please update and try again

[2019-10-04 21:47] nachocano commented on #317
giving it another try! thanks for the catch, it was my bad

[2019-10-07 23:11] Harwayne opened #327 "Topic can't be deleted in a Terminating Namespace"
Related to #281.

Deleting a namespace puts that namespace into TERMINATING, tries to delete everything inside it, and blocks any new resources from being created in that namespace. According to https://github.com/eBay/Kubernetes/blob/master/docs/design/namespaces.md#phases (this is years old, but we couldn't find anything more recent), the NS is immediately put into the Terminating phase when the

[2019-10-07 23:13] Harwayne commented on #327
Actually, I take it back, they are deletable, if the Topic's `spec.propagationPolicy` is set to either `CreateNoDelete` or `NoCreateNoDelete`. However, that still leaks the GCP Cloud PubSub Topic.

[2019-10-07 23:28] akashrv commented on #313
@nachocano What happens today? Could you explain actual and expected behavior from users perspective? Will help in triage.

[2019-10-08 00:28] nachocano commented on #313
the message that the topic does not exist is not propagated back up, thus is not that easy to debug... this is not an alpha blocker, it will be a nice to have.
@n3wscott mentioned that there is a message in the jobs that we can use to add that info...

[2019-10-08 16:19] akashrv commented on #112
@n3wscott @vaikas-google Is this alpha blocker? Could we add more details to description?

[2019-10-08 16:20] akashrv commented on #111
@n3wscott Please provide enough context in descriptions.

[2019-10-08 16:22] akashrv commented on #100
@n3wscott Please provide more context in description.

[2019-10-08 16:29] akashrv commented on #77
@Harwayne @n3wscott Is this fixed or won't fix the issue? Is it still an open issue?

[2019-10-08 16:30] akashrv commented on #76
@Harwayne @n3wscott Is this still an active issue, not an issue, or won't fix?

[2019-10-08 16:31] akashrv commented on #72
@n3wscott Do you intend to change it or close the issue?

[2019-10-08 16:32] Harwayne commented on #77
This is a design question. My view is that the ServiceAccount names should be moderately unique regardless of which namespace they are in, as I think that in the future it may be common for people to install in non-standard namespaces. @n3wscott prefers the simplicity and brevity of the 'non-qualified' name, because in his view the namespace itself gives all the necessary qualifications.

[2019-10-08 16:33] akashrv commented on #70
@grantr @n3wscott Will this be fixed or close the issue?

[2019-10-08 16:34] Harwayne commented on #76
I view it as still desirable to have the two be distinct ServiceAccounts, based on the principle of least privledge. But, as @n3wscott points out, knative/serving uses a single ServiceAccount for both and consistency may trump other concerns. For what its worth, knative/eventing uses a [distinct ServiceAccount](https://github.com/knative/eventing/blob/master/config/500-webhook.yaml#L34).

[2019-10-08 16:37] akashrv commented on #68
@n3wscott @grantr  Wouldn't it have been easier to either fix this, or resolve the comment in the PR rather than create an issue and add to tech debt?

[2019-10-08 16:38] akashrv commented on #64
@grantr @n3wscott So what is the fix here?

[2019-10-08 16:40] akashrv commented on #58
@n3wscott IIUC this will be taken care of when we transition to CE v1.0. Closing the issue.
If, not then please re-open the issue.

[2019-10-08 16:41] vaikas-google commented on #112
Well, this sure seems like a github fail. Clicking on that link does not work.
As far as I can decode from the bits here, I'd reckon that we should make sure that Sources will set up trackers for their Sinks to reflect their status and be notified of their state changes. I'd expect there to be a corresponding TODO in the code base.

[2019-10-08 16:42] #39 closed

[2019-10-08 17:00] #289 closed

[2019-10-08 17:25] nachocano commented on #317
still doesn't work in PROW... moving this up... @chizhg or @chaodaiG let me know if you guys have sometime this week to sit together and check the UI in the test cluster to see if the metric is actually being reported...

[2019-10-08 17:30] grantr commented on #88
https://github.com/google/knative-gcp/blob/009b191e08321c283706dfae188486d8ab5a42bf/pkg/reconciler/topic/topic.go#L319-L326

The above code reports time-to-ready for the resource. That time ultimately becomes a latency metric at

https://github.com/google/knative-gcp/blob/e3e8c1b4e4275b4ea0ae74b3e21f5e9d0833a5b0/pkg/reconciler/stats_reporter.go#L191

The first time the resource becomes ready the c

[2019-10-08 17:35] Harwayne commented on #226
/assign

[2019-10-08 17:42] adrcunha commented on #317
You should have project viewer access to the boskos project used by your test.

[2019-10-08 17:45] akashrv commented on #77
@mattmoor @vaikas-google This is more of a "best practice" question. Could you resolve this as TLs for knative and comment your decision?

[2019-10-08 19:23] evankanderson commented on #77
This doesn't seem like a Knative question, given that this is in the "Google" repo.

Having a hard-coded ServiceAccount name seems like a bit of a smell to me. I suspect you want to make this configurable, and then ship with a sensible default with the following priorities:

1. Not incredibly insecure (e.g. don't ship with a shared secret in code, or permitting unauthenticated read/modify/write fo

[2019-10-08 22:29] grantr opened #330 "Perf test for Broker+Channel and Knative Service subscriber"
#328 tests this scenario:

[code]

We expect most users will send events to Knative Services instead of bare pods. We should add a perf test for this scenario in addition to the pod test:

[code]

/area performance
/assign @grac3gao

[2019-10-08 22:34] grac3gao commented on #330
/assign @grac3gao

[2019-10-08 23:04] vaikas-google commented on #321
https://github.com/knative/docs/issues/1842

[2019-10-08 23:29] akashrv commented on #71
@grantr please verify and update the issue

[2019-10-08 23:32] grantr commented on #71
Unit tests for the pubsub adapter are now in https://github.com/google/knative-gcp/blob/master/pkg/pubsub/adapter/adapter_test.go. They are all stub tests.

[2019-10-08 23:35] capri-xiyue commented on #330
@grantr  Hi Grant, it seems like this issue has been covered by this PR https://github.com/google/knative-gcp/pull/328/commits

[2019-10-09 00:03] nachocano opened #331 "Update Sources APIGroup"
We are currently using `events.cloud.run`. We should move to `events.cloud.google.com`

[2019-10-09 00:05] nachocano commented on #331
fyi @vaikas-google @aaron-lerner

[2019-10-09 00:05] nachocano commented on #331
/assign

fyi @n3wscott

[2019-10-09 15:05] n3wscott commented on #321
Only if istio is installed.

On Tue, Oct 8, 2019, 4:04 PM Ville Aikas <notifications@github.com> wrote:

[2019-10-09 18:06] Harwayne opened #333 "Subscription never marked as Ready"
When creating a Channel with a Subscription, the Subscription is never marked as ready.

Concretely, the Channel:

[code]
The Subscription:
[code]
The Job creating the Subscription in GCP:
[code]
The first Pod it ran failed:
[code]
The second Pod succeeded:
[code]

[2019-10-09 20:55] #331 closed

[2019-10-09 21:59] #252 closed

[2019-10-09 22:11] yolocs commented on #281
@Harwayne  Would it be possible to add finalizer per topic/subscription to the secret?

[2019-10-09 22:14] yolocs commented on #327
Would having finalizer on the namespace be helpful at all?

[2019-10-09 23:02] Harwayne commented on #281
/assign @yolocs

[2019-10-09 23:24] Harwayne commented on #281
I'm not sure. I _think_ we would run into problems when there are 100s-1000s of finalizer entries. We might have the same problem if we add Owner References for each Topic/PullSubscription as well. @n3wscott would likely have a better idea of the scaling limits of K8s resources.

[2019-10-09 23:25] Harwayne commented on #327
I don't think so. I believe the problem is that as soon as the NS is marked for deletion, you can no longer create new resources in it (e.g. no new Jobs or Pods). Whereas adding a finalizer would just ensure the NS is not deleted until it is removed, the NS would still be in the terminating state.

[2019-10-11 07:45] xorver opened #336 "Limit of PullSubscription name length"
I wonder what is the limit of name length for triggers/sources.

I see that for PullSubscription it is lower than for Trigger (for trigger ~40 chars works fine), I tried to create a subscription with 40 character name (30 works fine)

[code]

And it fails to create:

[code]

Do you know if there's some limit enforced, also is there an easy way to get more detailed failure logs from PullSubscriptio

[2019-10-11 18:20] yolocs commented on #255
The project_id from the json key isn't necessarily the project where the user wants to have the pubsub topics/subscriptions, right? I can have `project_1` where I have the service account and generate the json key, and `project_`2 where I have my pubsub topics. As long as I grant my service account the pubsub admin role in `project_2`, I should still be able to use the same json key in this key.

[2019-10-11 18:28] n3wscott commented on #255
It currently needs this because the metadata server returns the local
project Id, not the one tied to the creds used to ask.

On Fri, Oct 11, 2019, 11:20 AM cshou <notifications@github.com> wrote:

[2019-10-11 18:35] nachocano commented on #313
/assign

[2019-10-11 18:51] yolocs commented on #313
/assign

[2019-10-11 18:52] nachocano commented on #313
For example, if you create a PubSub as follows, with a topic that does not exist, you won't get a clear error.

[code]

[2019-10-11 18:57] yolocs commented on #255
It might make sense to leave the `project` in the spec just in case in the need of overriding.

[2019-10-12 01:43] n3wscott commented on #255
ah, yeah, if that is the case, you can use the `spec.project` field. The metadata server is prob the wrong default though. A closer default project id is what is inside the secret when `spec.project` is omitted. Make sense?

[2019-10-14 15:19] n3wscott commented on #336
We use a name trimming function and have tests to confirm this works in k8s, so I am surprised this is an issue.

And you get the logs from the jobs that are failing for that PullSubscription? I would like to understand what the error really is. (we have a todo to output errors from the job pod into the status, but we are still working on it)

[2019-10-14 15:20] n3wscott commented on #327
This is related to the secret being removed. Finalized on secret will help.

[2019-10-14 17:08] meteatamel opened #340 "Main page needs a little explanation on the Pub/Sub choices"
The [main](https://github.com/google/knative-gcp) page talks about 3 different choices for consuming Pub/Sub messages:
1. Channel backed by Pub/Sub
2. PullSubscription
3. Topic

But there's not much explanation on what to use when. I ended up using PullSubscription to reach messages from a topic but was that the right one? Should I have used a Channel or a Topic? A little explanation here would be

[2019-10-14 20:31] yolocs commented on #40
/assign

[2019-10-14 20:53] yolocs commented on #71
/assign

[2019-10-14 21:39] #40 closed

[2019-10-14 22:17] #313 closed

[2019-10-14 22:31] yolocs commented on #281
/close

[2019-10-14 22:37] Harwayne commented on #281
/close

[2019-10-14 22:37] #281 closed

[2019-10-15 07:26] xorver commented on #336
I realized that I've put in the first post an example with 30 chars, which worked fine, I've edited it to be 40 (`aaaaaaaaaabbbbbbbbbbccccccccccdddddddddd`) as in quoted error messages.

I don't see any jobs related to that pullsubscription, I've created a similar one with shorter name for which I can find the job using:
[code]
Do I need any additional flag, or is the job not created at all?

[2019-10-15 21:02] Harwayne commented on #333
A _guess_ at what it might be:

It looks like the subscription is marked as ready by reading PullSubscriptions. The Channel controller is responsible for creating, updating, deleting, and listing PullSubscriptions. But, I can't see anything that tracks them. It might be as simple as adding an informer here: https://github.com/google/knative-gcp/blob/master/pkg/reconciler/channel/controller.go.

[2019-10-16 16:57] yolocs commented on #333
/assign

[2019-10-16 17:47] yolocs commented on #333
@Harwayne Is there a way to reproduce this issue? I don't see your channel has `.status.subscribableStatus` from which the subscription reconcilier reads the status. The logic at https://github.com/google/knative-gcp/blob/master/pkg/reconciler/channel/channel.go#L251-L271 adds `channel.status.subscribableStatus` whenever it creates a PullSubscription. And apparently you do have PullSubscription cr

[2019-10-17 17:25] #71 closed

[2019-10-17 17:47] vaikas-google commented on #321
This has been updated in the docs and cherry picked to 0.9 documents.

[2019-10-17 17:47] #321 closed

[2019-10-17 23:09] akashrv commented on #112
Yes, I found a todo in channel reconciler. But I think when we pick this issue, we should look at all sources and make sure that they track their sinks.
Example: If a source targets a CR service and I delete the service or the service status goes Ready=False, then the source status should reflect that in control plane.
As @n3wscott and @vaikas-google have been actively adding sources here, you cou

[2019-10-18 01:01] yolocs opened #347 "Proposal: allow using default GCE service account to operate GCP services when running on GKE"
### Current behavior and problem

When operating GCP services (e.g. pubsub topic/subscription), if a secret is not provided, we always default to `google-cloud-key` - https://github.com/google/knative-gcp/blob/master/pkg/apis/duck/v1alpha1/google_cloud_secret_defaults.go. This totally makes sense on non-GKE clusters.

This behavior requires a user to create a (either `google-cloud-key` or a custom

[2019-10-18 17:30] yolocs commented on #347
@akashrv @n3wscott

[2019-10-18 23:14] evankanderson commented on #347
One consideration, though this is probably a product decision:

By using the default service account, all namespaces in the cluster use the same security context (credential/identity). This works if all your namespaces are equally trusted, but might not be a good default if the common user case is to have a central project which vends resources to less-privileged namespaces, because the default ro

[2019-10-22 21:08] #68 closed

[2019-10-22 22:43] Harwayne opened #352 "Channel live locks when PullSubscription already exists"
I created ~320 Triggers on a Broker that is backed by a PubSub Channel. The Channel has created PullSubscriptions for ~5 of the subscribers, and has gotten permanently live locked.

[code]
[code]

[code]

**Theory**:
The Channel reconciler was reconciling a Channel, in particular it was creating the PullSubscription. It tried to write out the new status, but the Subscription controller raced with

[2019-10-22 22:44] Harwayne commented on #352
If the possible fix works, then we will need to check every reconciler that creates objects and ensure it has the same 'adopt if owned by me' behavior.

[2019-10-22 22:51] Harwayne opened #353 "Bad error messages with an invalid GCP Key"
My `google-cloud-key` credential was wrong, it was for an account that no longer existed.

I created a Broker that was backed by the PubSub Channel. It never went ready. The Channel had the error message `"Configuration "cre-default-kne-trigger-chan-publish" does not have any ready Revision."`, which it pulled verbatim from the corresponding Topic. Eventually, looking at the Pod, there was a usefu

[2019-10-22 23:27] Harwayne opened #354 "Topic creation+deletion race condition"
This is theorized, I have not seen it in practice.

The Topic reconciler creates a Job to create and delete Topics in GCP. I believe that we can cause a race condition which leaks a GCP Topic.

1. Create a Topic.
    - This creates a Job to create the Topic in GCP.
        - This takes longer than expected. E.g. the Pod is on a node which does not have the image cached and needs to fetch it.
2. De

[2019-10-23 18:30] akashrv commented on #327
Please consider #354 when designing a fix for this current issue

[2019-10-23 18:34] akashrv commented on #353
As part of this fix, lets also look at other errors that occur due to user input and needs to be surfaced into the K8s object status messages.

[2019-10-23 21:17] Harwayne opened #358 "Bulk PullSubscription deletion can cause live lock style issues"
This is most likely a Kubernetes issue, not one specific to this repo. But it may affect whether we use a Job based design or not.

**Setup**
I created a Broker backed by a PubSub Channel. I then created ~320 Triggers on that Broker. Sometime later, I deleted all the Triggers (`kubectl delete triggers --all`).

**Observation**
The PullSubscriptions, corresponding to the Triggers, never disappeared

[2019-10-23 21:38] Harwayne opened #359 "Channel permanently failed without adequate error message"
I found this due to #353.

**Setup**
I created a Broker backed by the PubSub Channel, but the `google-cloud-key` had an invalid credential (for a Service Account that no longer existed). After figuring out the error, I updated the `google-cloud-key` to a correct value.

**Expectation**
The Topic (and thus the Channel and Broker) would heal itself. This might take a while due to exponential backoff

[2019-10-23 22:22] Harwayne commented on #186
Looking through the code, I think it should be much safer now.

However, it is still possible if the Pod creating the notification dies at the wrong time. If the Pod dies after https://github.com/google/knative-gcp/blob/master/pkg/operations/storage/notification.go#L228, but before https://github.com/google/knative-gcp/blob/master/pkg/operations/storage/notification.go#L243, or writing the termina

[2019-10-24 17:57] Harwayne opened #361 "Storage - Bad keys don't self-heal"
I created a `google-cloud-key` with a valid key. I used it with PubSub Channels and everything worked. Then I created a Storage object, *without reading the documentation*. The Storage has a failed status message:

[code]

I **love** that the error message tells me _exactly_ what is wrong.

I went back and read the documentation and followed the command there to give my service acocunt storage adm

[2019-10-24 17:59] yolocs commented on #353
Did https://github.com/google/knative-gcp/pull/341 help at all?

[2019-10-24 20:34] Harwayne commented on #353
I am running bca49c293e5a630c8424d54d94380c88e4b0e708, which is after #341, so no I don't think that helped, or at least didn't solve it completely.

[2019-10-24 21:15] Harwayne opened #362 "Channels - Don't self-heal deleted GCP Topics"
I created a PubSub Channel. Then deleted the GCP Topic via gcloud.

**Expectation**:
Eventually the Channel would notice and both mark itself as unhealthy, as well as self-heal.

**Observation**:
Nothing noticed. It will stay broken forever, until I manually delete either the Topic or the Job.

**Note**:
This is a general problem of how do we notice and fix issues with resources outside the K8s cl

[2019-10-24 22:35] yolocs commented on #352
/assign

[2019-10-25 05:27] yolocs commented on #353
/assign

[2019-10-25 18:03] loonybear opened #367 "Does it make sense for a Source to be associated with a region?"
I am working on internal eventing.
Our api server is regional.
So we could run into a case where a user create a trigger in a different region from where the Source the trigger is interested in.
This could create challenge for us to deliver the event.
So we are asking if it makes sense to indicate the source region when user create a Trigger.

[2019-10-25 21:38] #352 closed

[2019-10-28 16:48] yolocs opened #374 "Not able to delete channel without valid JSON key in place"
## Current behavior
1. Created a channel with an invalid JSON key in place
2. Realized the key is wrong, so attempted to delete the channel
3. The channel cannot be deleted (because the key is invalid and the topic deletion job cannot complete)

## Expected behavior
3. The channel can be deleted even without a valid key.

## Fix
The controller probably should do some smart checks to realize the To

[2019-10-28 16:49] yolocs commented on #374
/kind bug

[2019-10-28 17:22] evankanderson commented on #367
I think that the Trigger and the Source need to be on the same cluster / using the same apiserver to be able to link things up via CloudEvents attributes. Regional GCP resources (different from the Source custom object) tend to already have the GCP region somewhere in their (opaque) resource path. The Source and Trigger's region is specified by the address of the apiserver, e.g. `us-east1.eventing

[2019-10-28 17:32] yolocs opened #375 "The default permission we give SA cloud-run-events doesn't seem allow adding finalizer to secret"
For topic and pullsubscription, we want to add finalizer the the secret to prevent it from being deleted before topic/pullsubscription. The change was introduced in: https://github.com/google/knative-gcp/pull/339.
But from the log, it seems the service account doesn't really have permission to add finalizer to the secret. This caused reconciliation failure.

[code]

[2019-10-28 18:37] yolocs opened #378 "Adding secret finalizer returns error"
## Problem

When adding finalizer to secrets, the API returns the following error:

[code]

According to:

https://github.com/kubernetes/kubernetes/blob/36981002246682ed7dc4de54ccc2a96c1a0cbbdb/pkg/apis/core/validation/validation.go#L5314-L5320

The API requires the secret finalizer to have at least one slash `/`.

## Fix
Add a slash to secret finalizer

[2019-10-28 18:47] evankanderson commented on #367
(Please `/close` if the above made sense, or re-ask the question if not.)

[2019-10-28 21:52] loonybear commented on #367
I personally would vote for the first option.

It is also convenient for the api server to watch any changes to the actual source.
It doesn't really matter where C is.

I agree that we shouldn't restrict users from keeping the actual resource in the same region as where they create the Trigger. But maybe users can specify in which region they want the resource as the Source.

For instance, if ther

[2019-10-28 22:50] yolocs opened #381 "Job to create topic failed but its status never get reflected in the topic"
## Problem

The job to create the topic is in a `Failed` state

[code]

But the status never get reflected in the Topic.

[code]

## Cause

I believe it's caused by a bug in checking the job status.

https://github.com/google/knative-gcp/blob/c2d9e08986e60c0b38fa0842d4c7e997e3f72678/pkg/reconciler/pubsub/reconciler.go#L145-L149

Checks if job is completed first, then check the `Failed` status. But

[2019-10-28 22:51] yolocs commented on #381
/assign

[2019-10-28 23:12] #378 closed

[2019-10-29 15:41] yolocs commented on #353
Based on my test, https://github.com/google/knative-gcp/pull/384 should also fix this issue. The error message can now propagate to the topic and channel.

[code]

[2019-10-29 17:06] #381 closed

[2019-10-29 17:25] #375 closed

[2019-10-29 19:50] yolocs commented on #353
/close

[2019-10-29 19:52] nachocano commented on #353
Fixed by https://github.com/google/knative-gcp/pull/384

[2019-10-29 19:52] nachocano commented on #353
/close

[2019-10-29 20:15] yolocs opened #386 "Expose "secret not found" error"
## Problem

We rely on the `google-cloud-key` secret (or a custom one) to run Jobs to create topics/subscriptions. When the secret is not available, the job will stuck because the underlying pod cannot mount the volume. For example,

[code]

As we can see from the Events, k8s was retrying to mount the volume (infinitely?).

## Fix

1. Before the controller spawns a job, it should check if the secr

[2019-10-29 21:47] Harwayne commented on #353
/close

Closed by #384.

[2019-10-29 21:47] #353 closed

[2019-10-31 17:56] grantr opened #392 "0.10 release incompatible with 0.10 version of pkg"
The pkg that 0.10 shipped with was not the same pkg that serving and eventing 0.10 shipped with. Specifically https://github.com/knative/pkg/pull/802 broke compatibility with older webhooks, but that commit wasn't included in this repo.

[2019-10-31 21:14] grantr opened #394 "0.10: delete previous webhook configuration on webhook startup"
#393 changed the name of the webhook, so on upgrade there will be two webhooks. I think what will happen is that objects will be sent to the webhook twice. The system will probably work fine, but we should advise users to delete the old webhook to avoid double validating objects.

[2019-10-31 21:18] grantr commented on #394
Here's the delete command: `kubectl delete mutatingwebhookconfiguration webhook.cloud-run-events.events.cloud.google.com`

[2019-11-04 17:43] #374 closed

[2019-11-05 02:09] grac3gao opened #399 "PubSub Source - Doesn't notice GCP topic deleted"
I created a PubSub as Source. After it was in ready status, I deleted the binding GCP Topic via gcloud.

**Expectation**
PubSub source would notice the deletion of this GCP topic, and propagate this status

**Observation**
Nothing noticed. PubSub will stay in ready status

[2019-11-05 09:09] grebois opened #401 "[BUG] Incorrect datacontenttype on emitted cloudevent acording to spec"
According to Cloudevents spec 0.3 https://github.com/cloudevents/spec/blob/v0.3/json-format.md#32-examples the field `datacontenttype` should reflect the content type of the data of the messsage, also in case of binary data, this should be encoded in base64, for example on a `thrift` message im getting this cloudevent:

[code]

when it should be according to https://github.com/cloudevents/spec/blo

[2019-11-07 00:12] grantr opened #402 "Update pkg with new Destination import path"
https://github.com/knative/pkg/pull/851 changed where Destination lives, so we'll need to update this repo to match.

[2019-11-11 17:52] capri-xiyue opened #406 "Fix duplicate "events-channel-addressable-resolver" cluster role"
Failed to run the example with this doc https://github.com/google/knative-gcp/blob/master/docs/channel/README.md.In knative-gcp, 201-addressable-resolvers-clusterrole.yaml and 201-channelable-manipulator-clusterrole.yaml defines the same clusterrole events-channel-addressable-resolver. But the label is different. Events-channel-addressable-resolver in 201-addressable-resolvers-clusterrole.yaml get

[2019-11-11 17:53] capri-xiyue commented on #406
/assign

[2019-11-11 22:13] #392 closed

[2019-11-11 22:13] grantr commented on #392
Fixed by https://github.com/google/knative-gcp/pull/393

[2019-11-11 23:07] #406 closed

[2019-11-13 22:46] capri-xiyue opened #413 "Update knative-gcp to use the same e2e test framework that knative eventing is using"
**Problem**
knative-gcp uses its own test framework to do e2e tests. https://github.com/knative/eventing already developed a framework to do e2e tests and https://github.com/knative/eventing-contrib also uses the test framework in https://github.com/knative/eventing. To keep it consistent, knative-gcp should use the same test framework.

[2019-11-13 22:47] capri-xiyue commented on #413
@akashrv

[2019-11-19 00:25] grantr opened #414 "Update to new pkg webhook code"
Added in https://github.com/knative/pkg/pull/848. Need a PR similar to https://github.com/knative/eventing/pull/2147.

[2019-11-19 12:01] ratamovic opened #415 "[BUG] KNative serving Activator throttler failures related to GCP Pubsub backed Broker"
Problem: I have a simple setup with a container source connected to a GCP pullsub backed broker itself forwarding message to a simple sequence composed of a single service.

Everything works at first: an event sent from the source is handled correctly by the sequence/service. But after some times (typical scenario is a few days such as a weekend without any traffic), events fail to be sent by the

[2019-11-19 22:54] nachocano commented on #414
/assign

[2019-11-20 23:02] #414 closed

[2019-11-20 23:06] grantr opened #417 "Scheduler api coverage is below threshold"
In https://github.com/google/knative-gcp/pull/416#issuecomment-556490403 the coverage of `pkg/apis/events/v1alpha1/scheduler_lifecycle.go` was measured at 25%. This is below the passing threshold of 50%.

[2019-11-21 17:35] ratamovic commented on #415
In fact not only GCP seems affected on my setup, though it happens more often and quickly with it usually... I'm trying to open an issue on knative serving.

[2019-11-26 21:12] nachocano opened #419 "Remove Job-based Reconcilers"
**Context**
knative-gcp has decided to use a job-based framework to setup clients used to interact with different GCP services. The Pod running the Job is the one where the proper credentials are mounted and therefore is able to interact with the different GCP services. For example, in the case of Storage, whenever a Storage CR is instantiated, we create a Job in the same namespace, which setups t

[2019-11-26 21:12] nachocano commented on #419
/assign

[2019-11-26 22:34] nachocano opened #421 "Reduce Footprint"
**Problem**
The data plane component in knative-gcp is the receive adapter, which is used for Channels, Sources, etc. Each receive adapter consists of a 1-replica Deployment.
The problem is that there is a 1:1 relationship between PullSubscriptions and Receive Adapters. A Channel, which consists of 1 Topic and n PullSubscriptions (one per subscriber), creates a receive adapter Pod per subscriber.

[2019-11-26 22:37] nachocano opened #422 "Improve Receive Adapter Performance"
**Problem**
The PullSubscription’s receive adapter pulls messages from a PubSub topic, tries to send them downstream, and then acks or nacks them. Nack-ing will cause immediate retry from PubSub.
The receive adapter currently pulls a single item at a time. This is a core construct, used by every higher level object, thus it’s critical to improve its performance if we want higher throughput.

We ne

[2019-11-26 22:39] nachocano opened #423 "Add KEDA-scaling for Sources"
**Problem**
Our PubSub-based Sources are Pull-based. Given that our receive adapter polls for new messages, it’s hard to decide when to scale it out. In other words, the draining of the PubSub subscriptions will eventually become a throughput bottleneck.

There are some initial talks in the Sources WG regarding Pull-based sources and how to scale them. @aslom suggested KEDA. Either with KEDA or so

[2019-11-26 22:45] nachocano opened #424 "CloudAuditLog (CAL) Source"
**Problem**
In order for users to consume CAL events, we need a CAL source
@ian-mi already started the work in his [branch](https://github.com/ian-mi/knative-gcp/tree/stackdriver-source)
Let's call it CAL Firehose source.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
A CAL source

**Time Estimate (optional):**
1w

[2019-11-26 22:47] nachocano opened #425 "Cloud Build Source"
**Problem**
In order for users to consume Cloud Build events, we need a Cloud Build source.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
A Cloud Build Source

**Time Estimate (optional):**
2w

[2019-11-26 22:47] nachocano opened #426 "BigQuery Source"
**Problem**
In order for users to consume BigQuery events, we need a BigQuery source.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
A BigQuery Source

**Time Estimate (optional):**
1.5w

[2019-11-26 22:48] nachocano opened #427 "Cloud Firestore Source"
**Problem**
In order for users to consume Cloud Firestore events, we need a Cloud Firestore source.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
A Cloud Firestore Source

**Time Estimate (optional):**
1.5w

[2019-11-26 22:56] capri-xiyue opened #428 "Firebase Realtime DB Source"
**Problem**
In order for users to consume Firebase Realtime DB, we need a Firebase Realtime DB Source.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
A Firebase Realtime DB Source

**Time Estimate (optional):**
1.5w

[2019-11-26 23:08] capri-xiyue opened #429 "Enable ApiServer Source"
**Problem**
In order for users to consume Kubernetes events, we need to enable the ApiServerSource in eventing.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
ApiServerSource enabled

**Time Estimate (optional):**
1d

[2019-11-27 06:01] nachocano commented on #394
I think this is done with https://github.com/google/knative-gcp/pull/393. Can we close it @grantr ?

[2019-11-27 20:12] nachocano commented on #424
/assign @ian-mi

[2019-11-27 20:13] nachocano opened #431 "Storage Source"
**Problem**
In order for users to consume Storage events, we need a Storage  Source.

related issues: #325

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
A Storage Source

**Time Estimate (optional):**
< 1w

[2019-11-27 20:14] nachocano opened #432 "Scheduler Source"
**Problem**
In order for users to consume Cloud Scheduler events, we need a Cloud Scheduler Source.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
A Scheduler Source

**Time Estimate (optional):**
< 1w

[2019-11-27 21:53] capri-xiyue commented on #112
/assign

[2019-11-27 21:54] capri-xiyue commented on #413
/assign

[2019-11-27 22:57] capri-xiyue commented on #413
/unassaign

[2019-11-27 23:07] capri-xiyue commented on #413
/reassign

[2019-11-28 01:24] akashrv commented on #367
@loonybear Is this still an open issue?

[2019-11-28 02:24] loonybear commented on #367
I don't think we really finalized a decision yet.
Global Events has rich use cases in my opinion. But as Evan described above, it is hard to actually associate a source or an event with a particular region.

I will pass this issue to my colleagues who spent a lot of time researching rationality to take a final look before we close this or mark this obsolete.

Thanks

[2019-11-28 09:16] ratamovic commented on #415
I'll close it since it seems more about Serving activator

[2019-11-28 09:16] #415 closed

[2019-12-02 15:12] akashrv commented on #347
@yolocs Did you follow-up with Ryan and have a design about what the first time user experience will be?

[2019-12-02 16:45] riaj commented on #367
In the case of a multi-regional service like the one @loonybear mentioned above, even if we restrict users to create the Trigger from one of the regions where their resource lives, the event can happen in other regions as well - in the example above, say users created a Trigger in A, since the resource lives in A,B,C, events can come from either one of those regions; if users created Triggers in a

[2019-12-02 17:09] nachocano commented on #423
As pointed out by @yolocs , KEDA seems to already be using SD metrics to scale PubSub... https://github.com/kedacore/keda/blob/master/pkg/scalers/gcp_pub_sub_scaler.go#L139
Thanks @yolocs for the pointer.

[2019-12-02 18:36] nachocano opened #434 "Tests for Upgrades"
**Problem**
We need to make upgrades smooth for users. In order to confirm upgrades can be done properly, we need automatic tests that tests such upgrades.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Developer

**Exit Criteria**
E2E tests that checks the upgrade from previous version(s) to latest one.

**Time Estimate (option

[2019-12-03 00:07] capri-xiyue commented on #399
/assign

[2019-12-03 11:49] meteatamel opened #435 "Automatic event registration does not work with GcpPubSubSource"
**Describe the bug**
In Event Registry [docs](https://knative.dev/docs/eventing/event-registry/), it says that there's automatic registration for GcpPubSubSource. However, when I configure and test a GcpPubSubSource, I don't see automatic registration for Pub/Sub events. `kubectl get eventtypes` always returns `No resources found`.

**Expected behavior**
When I configure GcpPubSubSource, I see an

[2019-12-03 23:02] capri-xiyue commented on #419
This fix will also fix #112. I tested it with Nacho's branch manually, it works.

[2019-12-03 23:04] nachocano opened #436 "Send CE v1.0"
**Problem**
All GCP sources should send CloudEvents v1.0. They currently send 0.3

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Developer

**Exit Criteria**
E2E tests sending CE v1.0

**Time Estimate (optional):**
1d

[2019-12-04 19:35] nachocano opened #438 "Add sockpuppet to this repo"
**Problem**
Add sockpuppet to this repo, so that we can format imports, md files, and auto update dependencies..

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Contributor

**Exit Criteria**
Sockpuppet running on this repo

[2019-12-05 01:32] capri-xiyue commented on #362
/assign

[2019-12-05 01:33] capri-xiyue commented on #399
This issue should get fixed with this merge request https://github.com/nachocano/knative-gcp/pull/1. Will close it after Nacho merges this PR into knative-gcp

[2019-12-05 01:33] capri-xiyue commented on #362
This issue should get fixed with this merge request https://github.com/nachocano/knative-gcp/pull/1. Will close it after Nacho merges this PR into knative-gcp

[2019-12-05 22:13] nachocano commented on #402
This was fixed when we update to latest pkg, here https://github.com/google/knative-gcp/pull/416.
Closing it...

/close

[2019-12-05 22:13] #402 closed

[2019-12-06 18:01] nachocano commented on #419
These are some of the tasks that are being done as part of this issue:

- [ ] Update PubSubSource
- [ ] Update Scheduler
- [ ] Update Storage
- [ ] Update Topic
- [ ] Update PullSubscription
- [ ] Remove dead code
- [ ] Improve logging (using the logging guide)
- [ ] Fix E2E tests (@capri-xiyue is working on it)
- [ ] Fix reconciliation issues for outside cluster changes (@capri-xiyue did it)
- [

[2019-12-09 16:26] loonybear opened #441 "PubSub source: passing a service account email as an optional parameter"
When users provide PubSub topic as a source, we might need to set a Subscription to the source. And we will need to be authenticated in user's project to create a Subscription subscribing to the input topic.

Users could provide an authorized service account as an optional parameter in PubSubSpec, to solve this issue.

@nachocano @capri-xiyue

[2019-12-09 23:04] #436 closed

[2019-12-10 18:48] nachocano opened #442 "Add retries for Setting Status"
**Problem**
As per PR in the serving stack, there should be retries / fallbacks on the code paths that set the Status. See knative/serving#6162

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Developer

**Exit Criteria**
Once we wrap the Status of our reconcilers

**Time Estimate (optional):**
2d

[2019-12-13 20:48] nachocano opened #447 "Rename Sources to have a Cloud prefix and a Source suffix"
Our current Sources are called Storage, Scheduler, and PubSub. To be more consistent with knative sources, let's rename them to CloudStorageSource, CloudSchedulerSource, CloudPubSubSource.

[2019-12-13 20:49] nachocano commented on #447
fyi @ian-mi @capri-xiyue this will also apply to CAL. But if it adds too much noise, we can rename it after we get the first PR in

[2019-12-17 17:54] grantr opened #450 "Set project id in webhook"
Assuming:
- The project id cannot change over the lifetime of the cluster
- The webhook's project id is always the same as the controller's project id

then I suggest defaulting spec.projectID in the webhook instead of the reconcilers.

Advantages:
- All defaulting is in one place (either in the per-kind APIs or shared across all kinds)
- If the project ID can't be defaulted (running outside GCE),

[2019-12-17 17:54] nachocano opened #451 "Use a mocking library for UTs"
**Problem**
We are currently "manually" mocking all the gcp clients that we use. It might make more sense to start using https://github.com/vektra/mockery as suggested by @grantr [here](https://github.com/google/knative-gcp/pull/444#discussion_r358540624).
This needs further investigation.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this featu

[2019-12-17 18:04] grantr commented on #450
/cc @argent who knows a thing or two about GCE.

[2019-12-17 18:13] grantr commented on #450
(Sorry `@Argent` if you got a notification about this, you may safely ignore)

[2019-12-17 23:17] dkozlov opened #452 "Python samples for https://github.com/google/knative-gcp/tree/master/docs/pullsubscription"
**Problem**
Python implementation of https://github.com/knative/eventing-contrib/blob/master/cmd/event_display/main.go? I have found https://github.com/elegantmonkeys/python-kncloudevents/tree/master/examples/event_display but seems that it does not work with PullSubscription(https://github.com/google/knative-gcp/tree/master/docs/pullsubscription )

**Exit Criteria**
A measurable (binary) test tha

[2019-12-18 06:10] nachocano commented on #432
As part of this task, we need to define a converter for scheduler, so that we can properly set up its ce-type and ce-source. Will probably have to be done similar to the CAL source

[2019-12-18 06:11] nachocano commented on #413
/assign @chizhg
so that it's on your radar. I don't know Peter's github id.

[2019-12-18 06:13] nachocano commented on #413
@grantr can you add @chizhg to the collaborators of this repo? I do not see the settings tab to add him.

[2019-12-18 06:16] nachocano commented on #422
fyi @yolocs so that you have it on your radar.
I had some WIP stuff here:
- https://github.com/nachocano/sdk-go/tree/pubsub
- https://github.com/nachocano/knative-gcp/tree/channel_perf

[2019-12-18 19:16] grantr commented on #413
Sure, I added @chizhg as a collaborator.

[2019-12-18 19:22] nachocano commented on #413
Thanks!

[2019-12-18 19:22] nachocano commented on #413
/assign @chizhg
so that it's on your radar. I don't know Peter's github id.

[2019-12-18 19:23] nachocano commented on #413
I think a good start would be to add an e2e test for Scheduler using the eventing test-infra, as it's the only source that doesn't have an e2e. And then we can start refactoring the current ones.

[2019-12-19 01:22] nachocano opened #455 "Track "become Ready after" time properly"
**Describe the bug**
Currently upon updating to ready status, our reconcilers count the time since the object was created, and not necessarily since they were not ready.

 **Expected behavior**
Upon updating to ready status, reconcilers should compute the duration since the last time the object was not ready, and report that metric.

**Aditional context**
Look for `// TODO compute duration since l

[2019-12-19 07:06] nachocano opened #456 "Document new installation procedure"
**Problem**
Given that we are removing job-based reconcilers and will start using a control-plane secret, we need to update our install docs to reflect this.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
Docs in knative-gcp are updated

**Time Estimate (optional):**
1d

[2019-12-19 07:44] nachocano opened #457 "Propagate ConfigMaps changes to data plane objects"
**Describe the bug**
Upon updating the logging and tracing config maps, we need to re-enqueue the pull subscriptions and topics, so that we update the logging/tracing levels in the receive adapters and publishers.
We might be able to leverage the propagation of configMaps done by @grac3gao [here](https://github.com/knative/eventing/pull/2333), which solves this [issue](https://github.com/knative/e

[2019-12-19 18:57] #112 closed

[2019-12-19 18:57] #386 closed

[2019-12-19 18:57] #419 closed

[2019-12-19 18:57] #354 closed

[2019-12-19 18:57] #358 closed

[2019-12-19 18:57] #359 closed

[2019-12-19 18:57] #361 closed

[2019-12-19 18:57] #362 closed

[2019-12-19 18:57] #325 closed

[2019-12-19 19:05] nachocano commented on #424
/assign @ian-mi

[2019-12-19 19:05] nachocano commented on #340
/assign

[2019-12-19 19:06] nachocano commented on #456
/assign

[2019-12-19 19:08] nachocano commented on #431
/close
this has been merged as part of [#444](https://github.com/google/knative-gcp/pull/444)
including the e2e tests

[2019-12-19 19:08] #431 closed

[2019-12-19 19:08] nachocano commented on #431
/assign

[2019-12-19 19:11] nachocano commented on #399
/close
This was fixed by @capri-xiyue and included as part of the job reconciler PR #444

[2019-12-19 19:11] #399 closed

[2019-12-19 19:18] nachocano commented on #447
Further, I think once the CAL source gets merged, we should remove the cloud prefix. All others don't have it, e.g., Scheduler, Storage, PubSub... Having just one with Cloud, IMO is confusing. So I think it will end up being `AuditLogsSource`.

[2019-12-19 23:02] nachocano opened #459 "Add Documentation for Pub/Sub Topic"
**Problem**
There is currently no documentation for Pub/Sub Topic. Should add that.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
Have documentation for PubSub Topics.

**Time Estimate (optional):**
< 2h

[2019-12-19 23:05] nachocano opened #460 "Add Documentation for Managing Multiple Projects"
**Problem**
There is currently no documentation on how to handle multiple projects.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
< 3h

**Additional context (optional)**
Especially needed for the control plane secret. Bor

[2019-12-19 23:07] #456 closed

[2019-12-20 18:35] chizhg opened #463 "Fix performance tests"
**Describe the bug**
https://github.com/google/knative-gcp/pull/444 accidentally broke performance tests, now all the requests are getting errors - https://mako.dev/benchmark?benchmark_key=6592390798245888&tseconds=604800, https://mako.dev/benchmark?benchmark_key=6246352530964480&tseconds=604800

 **Expected behavior**
The performance benchmarks can run without any error.

 **Additional context**

[2019-12-20 21:30] nachocano opened #464 "Add Documentation for the new CAL Source"
**Problem**
Need documentation for the new CAL source so that users can use it.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
An example of how to use a CAL source in the knative-gcp/docs folder. Similar to storage, scheduler, etc.

**Time Estimate (optional):**
1d

[2019-12-20 21:31] nachocano commented on #464
fyi @ian-mi @capri-xiyue

[2019-12-23 21:33] #463 closed

[2019-12-23 21:50] chizhg opened #467 "Add a new e2e test for Scheduler"
**Problem**
As discussed in https://github.com/google/knative-gcp/issues/413, we don't have an e2e test for Scheduler.

**Exit Criteria**
Have an e2e test for Scheduler, with the same test framework from eventing and eventing-contrib, and the test can consistently pass.

**Time Estimate (optional):**
2 days

/assign

[2019-12-23 21:51] yolocs opened #468 "Controller pod cannot start because the google-cloud-key doesn't exist"
**Describe the bug**
Controller pod cannot start because the google-cloud-key doesn't exist.

 **Expected behavior**
Applying yamls from `./confg` should at least have all control plane up and running.

 **To Reproduce**
`kubectl apply -f ./config` - controller pod won't start

**To solve**
Add a dummy secret for the controller pod to mount.

[2019-12-23 22:42] #468 closed

[2019-12-23 22:52] chizhg commented on #434
/assign

[2020-01-07 16:37] hrasadi commented on #447
For posterity, note that after renaming, the audit log source should be called 'CloudAuditLogsSource'.

[2020-01-07 17:50] capri-xiyue commented on #447
@hrasadi Do we need to add "Cloud" as a prefix for "Storage", "Scheduler", and "PubSub"?

[2020-01-08 19:22] #424 closed

[2020-01-08 19:42] capri-xiyue opened #473 "Standardize True/False/Unknown status throughout knative-gcp"
**Problem**
 Standardize True/False/Unknown status throughout knative-gcp
 We have not kept it consistent in the knative-gcp repo. We should modify the code to standardize True/False/Unknown status throughout knative-gcp by following this decision table https://github.com/knative/eventing/issues/2187#issuecomment-562283838

**Exit Criteria**
The standard of True/False/Unknown status throughout kna

[2020-01-08 23:06] capri-xiyue opened #475 "Define a converter for scheduler, so that we can properly set up its ce-type and ce-source."
**Problem**
Define a converter for scheduler, so that we can properly set up its ce-type and ce-source. Will probably have to be done similar to the CAL source

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (opt

[2020-01-08 23:06] capri-xiyue commented on #475
This is related to https://github.com/google/knative-gcp/issues/432

[2020-01-08 23:08] capri-xiyue commented on #432
I created a new issue https://github.com/google/knative-gcp/issues/475 to implement this converter.
 @chizhg  will add e2e tests for scheduler in other PRs.
And the fix of https://github.com/google/knative-gcp/issues/471 has dependencies with https://github.com/google/knative-gcp/issues/473.
So I think it will be better to create separate issues to track them.

[2020-01-09 19:25] chizhg commented on #467
/assign @peterfeifanchen

[2020-01-13 03:48] chizhg opened #480 "CAL source misses the CloudAuditLogs which gets created shortly after CAL source becomes ready"
From the comment in https://github.com/ian-mi/knative-gcp/pull/2#pullrequestreview-333515256.

If the AuditLog was created shortly after the CAL source becomes ready, the log will be missed. e.g. when the log sink got created and CAL source becomes ready at 1:42:35pm and one AuditLog got fired at 1:43:04pm, the AuditLog will get missed by the CAL source.

[2020-01-13 17:58] nachocano commented on #447
As agreed offline, we should also include the Cloud prefix...

`CloudAuditLogsSource`, `CloudPuySubSource`, `CloudSchedulerSource`, and `CloudStorageSource`

[2020-01-14 16:15] allenday commented on #435
same problem in 0.11

[2020-01-14 19:35] #464 closed

[2020-01-14 21:00] nachocano commented on #447
/assign

[2020-01-15 00:14] #475 closed

[2020-01-15 00:22] chizhg commented on #413
Fixed by https://github.com/google/knative-gcp/pull/471.

/close

[2020-01-15 00:22] #413 closed

[2020-01-15 01:56] #417 closed

[2020-01-15 20:04] chizhg commented on #310
The benchmarks are now up and running:
https://mako.dev/benchmark?benchmark_key=6592390798245888&tseconds=604800
https://mako.dev/benchmark?benchmark_key=6246352530964480&tseconds=604800

/close

[2020-01-15 20:04] #310 closed

[2020-01-15 20:08] chizhg opened #485 "Support dead letter queue for Channel"
**Problem**
Now only in-memory channel supports dead letter link - https://github.com/knative/eventing/issues/1573.

Channel in knative-gcp may also need to support it.

[2020-01-15 20:14] chizhg opened #486 "E2E tests for sending one event to Channel is flaky"
**Describe the bug**
When we run the E2E test in eventing for Channel, `TestSingleBinaryEventForChannel` and `TestSingleStructuredEventForChannel` are flaky.

The error message when it happens:

channel_single_event_helper.go:74: Failed to send fake CloudEvent to the channel "e2e-singleevent-channel-binary": addressable's URL does not have a Host: &{TypeMeta:{Kind:Channel APIVersion:messaging.clou

[2020-01-15 20:41] chizhg commented on #480
Also the e2e test for it is pretty flaky - https://testgrid.knative.dev/knative-gcp#continuous&exclude-non-failed-tests=

[2020-01-15 20:43] #100 closed

[2020-01-16 20:51] #473 closed

[2020-01-17 19:31] grantr opened #490 "scheduler event type is misspelled"
**Describe the bug**
Event type for scheduler has the string `sheduler`

 **Expected behavior**
Event type for scheduler should correctly spell `scheduler`

 **To Reproduce**

 **Knative-GCP release version**
0.11.0

 **Additional context**

/cc @nachocano
/kind good-first-issue

[2020-01-17 20:43] #490 closed

[2020-01-19 23:05] nachocano opened #493 "Add UTs for CloudAuditLogsSource validation"
**Problem**
#492 added missing validation for the CloudAuditLogsSource. We should add UTs for it.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
UTs for cloudauditlogssource_validation.go

[2020-01-20 00:40] chizhg opened #494 "Clean up Topics and Subscriptions before running e2e tests"
**Problem**
When the e2e tests are run, Topics and Subscriptions will be created under the hood. If tests are being teared down properly, these Topics and Subscriptions will be automatically cleaned up as the upper level resources are deleted. But the tests can possibly be interrupted in the middle, in that case the Topics and Subscriptions will be leaked.

Aside from deleting them after the tests

[2020-01-21 18:15] #447 closed

[2020-01-21 21:09] capri-xiyue opened #496 "Update documentation for CloudPubSubSource"
**Problem**
Update documentation for CloudPubSubSource in knative-gcp repo. Currently the doc is out-dated.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you think this

[2020-01-21 21:26] nachocano opened #497 "CloudPubSubSource should use PushCompatible mode"
**Problem**
CloudPubSubSource should be configured to send events in PushCompatible mode.
Here is an example of a PubSub push message, which we should include as part of the CE data

[code]

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
CloudPubSubSource emits CloudEvents with Push format

**Time Estimate (optional):**
2 days

**Addit

[2020-01-21 21:36] nlopezgi commented on #493
Created https://github.com/google/knative-gcp/pull/498 for this.

[2020-01-21 21:59] nachocano commented on #336
@xorver we have removed the Job-based architecture in 0.12. Once the release comes out (in the upcoming hours), you should be able to test it out, and should not see any job being created...

The limit that you will face in naming resources is the one that k8s has, which IIRC is about 253 chars.. See [here](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names).. I just cr

[2020-01-21 21:59] #336 closed

[2020-01-21 22:10] nachocano opened #500 "Controller should watch for changes on its secret"
**Problem**
The controller should watch for patches of its secret, and "update" it accordingly.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
Whenever the controller secret is patched, we should be notified so that the Controller is able to read it again

**Time Estimate (optional):**
1d

**Additional context (optional)**
Needed fo

[2020-01-21 22:47] nachocano opened #502 "Specify sideEffects in the webhook"
**Problem**
As with https://github.com/knative/eventing/pull/2410

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
Webhook with sideEffects

**Time Estimate (optional):**
10m

[2020-01-22 01:53] nachocano opened #504 "Channel tests failing"
**Describe the bug**
All channel tests are failing for some webhook reason... They do in 0.12, but not in master.
[code]

 **Expected behavior**
Channel tests passing

 **Knative-GCP release version**
0.12

 **Additional context**
Add any other context about the problem here such as proposed priority

[2020-01-22 01:53] nachocano commented on #504
/cc @chizhg

[2020-01-22 17:17] nlopezgi commented on #502
Created https://github.com/google/knative-gcp/pull/506

[2020-01-22 17:50] #502 closed

[2020-01-22 18:20] nachocano opened #507 "Document how to install Broker with PubSub Channel"
**Problem**
We currently have docs on how to use the Channel. We should add on how to use it with a Broker, by changing the default-ch-webhook configmap in eventing. Similar to this: https://knative.dev/docs/eventing/channels/default-channels/

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
A document explaining how to use the Broker w

[2020-01-22 18:21] nachocano commented on #507
fyi @akashrv

[2020-01-22 18:58] nachocano commented on #504
Fixed by https://github.com/google/knative-gcp/pull/505

[2020-01-22 18:58] #504 closed

[2020-01-22 19:02] #496 closed

[2020-01-22 19:07] nlopezgi commented on #442
Created https://github.com/google/knative-gcp/pull/508. Have left one question in the PR about code reuse from knative/serving#6162, please advise.

[2020-01-22 19:14] nachocano commented on #500
/assign @capri-xiyue

[2020-01-22 19:23] #493 closed

[2020-01-22 19:40] akashrv opened #509 "Add labels to GCP resource to organize/identify them"
**Problem**
After creating few sources and pubsub channel it becomes difficult to figure out which topic/subscription is created for which source and channels/subscriptions.
This makes debugging difficult.
Could we add labels to these GCP resource such that users can identify which source or channel or broker the resource belongs to? This will also help someone administering the resource understan

[2020-01-22 19:44] nachocano commented on #327
need to check if this is still an issue...
the easy way to do it is to have some sources instantiated, that create a topic and pullsubscription underneath, and then delete the namespace. Hopefully everything should be cleaned up, and then the controller removed, together with the control-plane secret. I think this has already been fixed with https://github.com/google/knative-gcp/pull/444

@capri-x

[2020-01-22 19:55] akashrv opened #510 "CloudStorageSource doesn't work with PubSub backed Broker in v0.12"
## Expected Behavior
GoogleCloudSource doesn't work with PubSub backed channel. The receive adapter of PubSub channel that backs the broker panics.

## Actual Behavior
Event should be delivered successfully from GCS Source to Trigger destination

## Steps to Reproduce the Problem

1. Install Serving, Eventing and Knative-gcp from v0.12
2. Update default-ch-webhook config map to use PubSub channel

[2020-01-22 19:57] akashrv opened #511 "E2E test: Each source with PubSub backed channel"
We need to test each source with PubSub backed channel to avoid breaking CRfA. This could be done in knative-gcp repo or CloudRun repo. I would prefer knative-gcp repo so that issues are caught early at source.

[2020-01-22 20:23] nlopezgi commented on #497
I'm going to try to solve this one. Its a bit more complex than the previous ones I've done, will update here if I have questions or run into issues.

[2020-01-22 20:29] capri-xiyue commented on #327
Yep. I will check it.

[2020-01-22 21:08] capri-xiyue commented on #327
I use the latest serving(commit b101b5518c11584547b14691221ec02d9c6ef6f8), eventing(702be2256abf1be34390b7eb4ea63f600d46ba8d), knative-gcp(31fae447e59550de1a140237e0d9a28d98c89604), I created namespace `test`, created Pub/Sub Enabled Service Account in `test` namespace, created `cloudauditlogs source` with this https://github.com/google/knative-gcp/blob/master/docs/examples/cloudauditlogssource/RE

[2020-01-22 21:25] nachocano commented on #327
Awesome @capri-xiyue
Thanks for verifying!!! closing it...

/close

[2020-01-22 21:25] #327 closed

[2020-01-23 18:09] nachocano commented on #442
taking a look

[2020-01-23 19:11] capri-xiyue opened #513 "Fix CloudAuditLogs reconcile bug"
**Describe the bug**
A clear and concise description of what the bug is.
It takes longer time for the CloudAuditLogs to reconcile successfully. It can't reconcile ASAP when related topic and pullsubscription change.
 **Expected behavior**
A clear and concise description of what you expected to happen.
It reconciles ASAP when related topic and pullsubscription change.
 **To Reproduce**
Steps to rep

[2020-01-23 19:34] #513 closed

[2020-01-23 21:34] #510 closed

[2020-01-23 23:42] capri-xiyue commented on #500
I added a secret informer for controller. But it doesn't decrease the time needed for sources to reconcile successfully when valid secret gets patched. When the secret informer got added, it really trigger reconciliation when secret gets updated, but the secret got mounted with the pod is still out-dated, therefore the reconciliation still fails. The delay regarding secret update is about 1 min.

[2020-01-24 17:57] #497 closed

[2020-01-24 23:07] capri-xiyue commented on #500
Did some manual test. It works when I updated the annotation of the pod spec of deployments, deployments will recreate the pods which will pick up the latest secret volume(similar to restarting pod). Discussed with @nachocano, it looks like we will need our own deployment controller and reconciler which watch the google-cloud-key secret and then update the controller pod in cloud-run-events with n

[2020-01-27 22:47] #442 closed

[2020-02-03 21:55] nachocano commented on #459
/assign

[2020-02-03 21:59] nachocano commented on #507
/assign @capri-xiyue

[2020-02-04 21:50] #507 closed

[2020-02-05 07:41] nachocano commented on #435
Thanks for reporting... Waiting for a refactor to happen in eventing that we will be able to leverage, and easily add this feature...

[2020-02-05 07:59] nachocano opened #536 "Generic way to integrate with multiple GCP services"
**Problem**
Generic way to integrate with multiple GCP services, without requiring to do "custom" things for each service.

Some tasks that this work will entail:

- [x] Initial design and estimates
- [ ] Detailed design & Implementation
- [ ] E2E tests
- [ ] Documentation

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
Integrate with

[2020-02-05 07:59] nachocano commented on #536
/assign

[2020-02-05 18:16] nachocano commented on #15
/close obsolete, this has already been fixed by the new install docs

[2020-02-05 18:16] #15 closed

[2020-02-05 18:17] #340 closed

[2020-02-05 18:17] #459 closed

[2020-02-05 18:17] nachocano commented on #16
/close obsolete... multiple refactors done, and updated the docs accordingly

[2020-02-05 18:17] #16 closed

[2020-02-05 18:19] nachocano commented on #27
/close obsolete... removed all job-based reconcilers in https://github.com/google/knative-gcp/pull/444

[2020-02-05 18:19] #27 closed

[2020-02-05 18:20] nachocano commented on #29
/close obsolete... fixed as part of removing reconcilers

[2020-02-05 18:20] #29 closed

[2020-02-05 18:22] nachocano commented on #64
/close obsolete... updated the install docs

[2020-02-05 18:22] #64 closed

[2020-02-05 18:25] nachocano commented on #67
/close
currently not a method on the type.. using the same as eventing, so that we can benefit from the reconciler code-gen that is coming soon

[2020-02-05 18:25] #67 closed

[2020-02-05 18:28] nachocano commented on #70
/close
leave it as is so that we can benefit from the reconciler code-gen that is coming soon

[2020-02-05 18:28] #70 closed

[2020-02-05 18:30] nachocano commented on #394
/close obsolete
we are in 0.12 now...

[2020-02-05 18:30] #394 closed

[2020-02-05 18:31] nachocano commented on #333
/close cannot repro in 0.12...
we've removed job-based reconcilers, so that might have helped...

[2020-02-05 18:31] #333 closed

[2020-02-05 18:35] nachocano commented on #72
/close old code... we use `spec.project`, which refers to the project_id in GCP...

[2020-02-05 18:35] #72 closed

[2020-02-05 18:36] nachocano commented on #111
/close no idea what this is... given the refactor we did, this seems obsolete

[2020-02-05 18:36] #111 closed

[2020-02-05 18:36] nachocano commented on #207
let's make it immutable for now

[2020-02-05 18:37] nachocano commented on #480
I don't see this as our issue. It seems to be related to CAL SLO.
Closing it as I fixed the flakiness by increasing the timeout...
We should properly document that users should wait a few seconds before they will start receiving events.

If you disagree, please re-open and we can revisit

[2020-02-05 18:37] #480 closed

[2020-02-05 18:39] nachocano commented on #330
@chizhg does any of the e2e tests that we have for broker with pubsub channel use a Kn Service as subscriber?

[2020-02-05 18:41] chizhg commented on #330
https://github.com/google/knative-gcp/blob/3f6b17d1a02bfe2cfc9d6891c09d8c185372d5b9/test/e2e/test_broker_pubsub.go#L45 is using Kn service.

[2020-02-05 18:44] nachocano commented on #486
@chizhg any updates on this? Do you know if we can enable them?
Was the one with the default-ch-webhook configMap problem, that wasn't being updated?

BTW, that one got fixed?

[2020-02-05 18:54] nachocano commented on #330
sounds good....

sorry my bad... it was for perf tests I guess...

[2020-02-05 18:58] nachocano commented on #186
I cannot repro this in 0.12... leaving it open for now, but may close it in 0.13 if nobody can reproduce

[2020-02-05 19:26] nachocano commented on #207
/assign @nlopezgi

This has been opened for a while. It would be nice if we can make eventTypes immutable... I haven't seen the code, but some other things might need to be immutable as well...

[2020-02-05 19:28] nachocano commented on #494
/assign @chizhg
would you have cycles to work on this? or maybe @peterfeifanchen ?

[2020-02-05 19:36] nachocano commented on #509
/assign @nlopezgi

Can you take a look at this one? Not sure if with the ownerReference is clear already, but we might be able to add some extra label or annotation to specify the name of the Source or Channel that ended up creating the underlying resources..

[2020-02-05 19:37] nachocano commented on #511
@chizhg do you guys think you might have the cycles to work on some of this?
fyi @nlopezgi

[2020-02-05 19:38] nachocano commented on #423
/assign @ian-mi
in case you are interested, this can have a high impact... and I'd be interested in helping out...

[2020-02-05 19:54] nachocano commented on #422
/assign @nlopezgi

This might already be done... @yolocs added [this change](https://github.com/cloudevents/sdk-go/pull/279) in the CloudEvents SDK to pull stuff from multiple go routines...
I think is a matter of testing if it works. We might be missing some change in how we construct our pubsub clients in knative-gcp, both in publisher and the receive_adapter (especially in the latter).

@chizhg

[2020-02-05 20:05] nachocano commented on #423
WIP on the kafka source https://github.com/knative/eventing-contrib/pull/886

[2020-02-06 16:46] #207 closed

[2020-02-06 19:05] nachocano commented on #423
Starting working on some of this to see if it would work... This will require quite some work to have something generic enough for other sources to benefit...
fyi @nlopezgi, we can talk more offline

[2020-02-06 21:45] ian-mi commented on #422
I'm not sure that this has had the desired effect on performance, the pubsub channel still struggles meet the maximum pace defined by the benchmark. My reading of the pubsub client is that NumGoroutines effectively controls the number of gRPC streams that the client creates and does not limit the concurrency of pubsub message handlers. If this is the case, I believe only a handful of streaming con

[2020-02-06 21:51] nachocano commented on #422
I think those default numbers were mainly borrowed from the tuning of the HTTP client, and as you suggest, may not be correct for the PubSub one.
Are you interested in taking a closer look at this and see if we can boost the throughput numbers for a single pod?

[2020-02-06 22:49] ian-mi commented on #422
Yes, thanks for the additional context, I will look into tuning the receiver parameters. I believe the equivalent receive parameter should be max outstanding messages.

[2020-02-06 23:19] nachocano commented on #422
/assign @ian-mi

[2020-02-07 00:40] yolocs commented on #422
I set the default `NumGoroutines` to 1000 in cloudevents client. Since we block to deliver each message, my understanding is with 1 pod we can only top at 1000 qps. If somehow reality is significantly below that number, we need to find out why.

[2020-02-07 01:15] ian-mi commented on #422
While we block delivering messages, the pull receiver will create a goroutine to handle each pubsub message without blocking the pulling thread (see https://github.com/googleapis/google-cloud-go/blob/master/pubsub/subscription.go#L785-L789). As far as I can tell this happens regardless of the value of NumGoroutines which only controls the number for pullers.

[2020-02-07 02:28] yolocs commented on #422
Good to know!

On Thu, Feb 6, 2020, 5:15 PM ian-mi <notifications@github.com> wrote:

[2020-02-07 21:00] nachocano opened #540 "Workload Identity Support"
**Problem**
We should support Workload Identity for people running on GKE, as it's the recommended way of accessing Google Cloud Services.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
Being able to use Workload Identity

**Time Estimate (optional):**
2w

**Additional context (optional)**
https://cloud.google.com/kubernetes-engine/do

[2020-02-07 21:04] nachocano opened #541 "Observability: StackDriver Integration"
**Problem**
High-level issue for Observability related tasks.
TL'DR we should be able to integrate with SD metrics, tracing, and logging.

There has been worked done already in this space. We are mainly lacking Source metrics, as it requires integration with SD backend so that users are not charged. But we need to verify traces and logging are actually working as expected. And maybe move away from

[2020-02-07 21:06] nachocano commented on #540
fyi @liu-cong

[2020-02-07 21:25] nachocano commented on #540
fyi @nlopezgi

[2020-02-07 21:27] nachocano commented on #536
fyi @nlopezgi

[2020-02-07 21:28] nachocano commented on #541
fyi @liu-cong @nlopezgi

[2020-02-10 19:08] chizhg commented on #486
I don't think they can be enabled as there was no change related to them. I can revisit them again today to see what's the exact reason for the failure.

The default-ch-webhook is a different issue and it hasn't been fixed. There are only two ways to fix it, one is changing the resync time for the informer, the other is recreating the webhook Pod in the tests.
I'm not sure which one is more prefer

[2020-02-10 19:14] chizhg commented on #540
Just a heads up for this issue as I had been using Workload Identity but did not have a good experience. A big caveat is if your cluster enables Workload Identity, you won't be able to use the default GCE service account , that means if your cluster is created without using a service account, the workloads on your cluster won't be authenticated as any service account unless you explicitly specify

[2020-02-10 19:16] chizhg commented on #494
I'll take care of it, it's an easy fix.

[2020-02-10 22:48] #494 closed

[2020-02-11 01:32] nachocano opened #544 "Add Documentation for CE PubSub binding"
**Problem**
As with other [bindings](https://github.com/cloudevents/spec), we need to define the PubSub binding for CloudEvents.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
The CE PubSub binding pushed into this repo

**Time Estimate (optional):**
2d

**Additional context (optional)**
See https://github.com/google/knative-gcp/pull/

[2020-02-11 02:08] #509 closed

[2020-02-11 03:53] nachocano commented on #544
/cc @hrasasi

[2020-02-11 17:48] nachocano commented on #511
/assign @nlopezgi

[2020-02-11 17:51] nachocano commented on #511
We need this e2e tests, sending from one of our Sources to a Broker backed by PubSub channel, and receiving on the Kn Service on the other end. In order of priority:

- [ ] CloudPubSubSource
- [ ] CloudAuditLogsSource
- [ ] CloudStorageSource
- [ ] CloudSchedulerSource

I think each of the tests can be committed in their own PR, and once we have all of them checked, we can close this issue...

[2020-02-11 18:02] nachocano commented on #511
Some docs to look at on how to run e2e tests...
https://github.com/google/knative-gcp/tree/master/test/e2e

TL'DR: either submit a WIP PR and PROW will run it for you. Or you can run some scripts locally to upload the tests images, and then run your particular test in your own cluster (will probably be faster for development, unless you skip all the other ones in the WIP PR)

A bunch of the stuff

[2020-02-11 21:21] nachocano commented on #422
synced with @ian-mi offline. He is digging into adding more tracing as that might help out figure out what the bottleneck is.
@nlopezgi please sync with him before you start with this, so that we can coordinate the effort

/assign @nlopezgi

[2020-02-11 22:06] nachocano opened #546 "Don't base64 decode data in CloudPubSubSource"
**Problem**
Currently, if the data is a json, we are unmarshalling it, and sending the raw data. We do not do this for other types, e.g., xml... We agreed not to unmarshall the payload, and just send the data as is (base64 encoded)

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Developer

**Exit Criteria**
Not base64 decode json

[2020-02-11 22:06] nachocano commented on #546
/assign @capri-xiyue

[2020-02-12 18:55] nachocano commented on #541
/assign @ian-mi as I know you have started working on some tracing stuff.
This can be considered an umbrella issue, where you can start putting your findings on... Together with the openCensus patching one in eventing

[2020-02-12 19:21] nachocano commented on #540
fyi @grac3gao

[2020-02-12 19:21] nachocano commented on #536
fyi @grac3gao

[2020-02-13 00:00] nachocano opened #548 "Remove PubSubSecret from Sources"
**Problem**
Now that we have a control plane secret it doesn't make sense to have two secrets in the sources (secret and pubsubSecret). We should remove pubsubSecret, and just keep secret (which will need the permissions of the prior pubsubSecret, basically the ability to read from pubsub (and publish in case of the channel).
We should update all yamls, and go code to remove pubsubSecrets.

**[Per

[2020-02-13 00:05] nachocano commented on #548
/cc @capri-xiyue

[2020-02-13 00:13] nachocano commented on #536
Started the conversations. It seems that we might be able to create a generic GoogleCloudService CRD (or something similar), that might just have a map of key-value pairs... On top of that, our Sources CRDs will include more type-safe arguments, and will end up creating this GoogleCloudService lower-level construct...

[2020-02-13 00:27] nachocano commented on #548
/cc @aaron-lerner

[2020-02-13 23:27] bskaplan commented on #546
/assign

[2020-02-14 18:57] #500 closed

[2020-02-14 19:33] #546 closed

[2020-02-14 20:06] nachocano opened #556 "E2E tests creating objects with gcloud"
**Problem**
Our e2e tests currently create the resources using the client-go. However, many users will be inclined to use gcloud. The experience there is to create a Trigger, which in turn will create a Source and hook them together.
We've seen problems because of gcloud sending nil values as empty, unkown fields, etc.
We should have e2e tests that create things using gcloud.

**[Persona:](https:/

[2020-02-14 20:07] nachocano commented on #556
/cc @chizhg
/cc @nlopezgi keep this one in mind while you do the refactor. We will probably need a "configurable" creation step, and then reuse all the same tests...

[2020-02-18 20:22] nachocano commented on #423
Integration done, seems to be working for the different sources.
Still needed to add UTs and documentation

[2020-02-19 07:39] nachocano opened #557 "Move to the GenReconciler"
**Problem**
Leverage the new genreconciler funcionality enabled in knative/pkg to reduce boilerplate reconciler code.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
Using the new genReconciler framework

**Time Estimate (optional):**
1w

**Additional context (optional)**
This is a sensitive change that should be done in stages (one

[2020-02-19 07:41] nachocano commented on #548
we should test that this doesn't break gcloud

[2020-02-19 07:44] nachocano commented on #421
If we leverage KEDA https://github.com/google/knative-gcp/issues/423 we can scale all the way down to zero, thus this has lower priority for now. Moving it to later sprints

[2020-02-19 07:44] nachocano commented on #540
/assign @grac3gao

[2020-02-19 07:51] nachocano commented on #101
/close moved away from job-based reconcilers. Obsolete

[2020-02-19 07:51] #101 closed

[2020-02-19 07:52] nachocano commented on #127
/close. Done as part of other refactors, and while removing job-based reconcilers

[2020-02-19 07:52] #127 closed

[2020-02-19 07:54] nachocano commented on #455
/close duplicate of https://github.com/google/knative-gcp/issues/88, favoring the other one as it has more details

[2020-02-19 07:54] #455 closed

[2020-02-19 07:57] nachocano commented on #76
/close fixed, we are using separate service accounts

[2020-02-19 07:57] #76 closed

[2020-02-19 18:17] grantr opened #558 "Use peribolos to manage repo settings"
**Problem**
Managing contributors is done manually by admins with no obvious audit trail. I think GitHub does provide audit logs to org admins, but none of us are google org admins.

Prow has a component called [Peribolos](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/peribolos) that updates github settings based on a checked-in config file. Using this we could use PRs and normal a

[2020-02-21 17:32] nachocano commented on #457
fyi @grac3gao

[2020-02-21 18:49] nachocano opened #563 "Add KEDA documentation"
**Problem**
Now that we support an option to scale our sources using Keda, we need proper documentation.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
Documentation on how to use the new Keda-scaling

**Time Estimate (optional):**
3h

**Additional context (optional)**
https://github.com/google/knative-gcp/pull/551

[2020-02-21 19:16] #423 closed

[2020-02-22 17:48] #511 closed

[2020-02-25 19:40] grac3gao commented on #540
After investigation, some tasks that this task would entail:
- [ ]  Tried out using WI (to figure out the amount of change needs to be done)
- [ ]  Design & Implementation
- [ ]  Documentation

[2020-02-26 18:44] nachocano commented on #540
Thank you @grac3gao for getting started with this, and for the initial set of tasks.
Let me add a summary of some of our offline discussions so far...

Given that we already have a non-workload identity solution working (using secrets), we decided to continue to support it. Especially for folks that do not use GKE.
For folks using GKE, we will recommend to use Workload Identity, but they still sho

[2020-02-26 19:13] nachocano commented on #540
Adding more to the list of tasks that @grac3gao started above. I think we can leverage the natural split of control and data plane PRs to simplify reviews, and also divide some work.

- [ ] Control plane
  - [ ] create separate controller yaml without secrets
  - [ ] provide a new release artifact (maybe cloud-run-events-gke)
  - [ ] create new install page to explain the setup of the control plan

[2020-02-26 19:35] nachocano commented on #548
/assign

[2020-02-26 21:22] grac3gao commented on #540
Thank you @nachocano , I just tested WI, and have some observations and thoughts.
1. One GSA can connect with multiple KSAs.
2. If GSA connects to default KSA in a namespace, and we remove `publisher` and `receive-adapter`'s secret-elated ENV, grant this GSA enough permission, all the doc examples work in that namespace. (This GSA also connects controller SA in cloud-run-events namespace).
3. We n

[2020-02-26 22:23] #548 closed

[2020-02-26 22:38] nachocano commented on #540
Synced offline with @grac3gao !!! We have much more clarify on what needs to be done. @grac3gao  is starting to work on a PoC with just one Source for demo-ing next week!!!

[2020-02-26 22:41] nachocano commented on #540
Nice, and as you mentioned, the other way around, multiple GSA to just one KSA might help us with the single receive_adapter Pod.

As we agreed offline, let's get the data plane piece separate from the control plane GSA and try to use user-specified GSAs to create the KSA for the data plane.

Agree! Let's support both options.

Nice, another strong argument to support WI by default.

[2020-02-27 22:08] yolocs opened #575 "Knative policy API definition"
**Problem**
Add Knative policy API as proposed in https://docs.google.com/document/d/1Nymrlp__dXKsp02Dpif0GN_Pskm6YXv6WjeF8trYzzk/edit#
It will be experimental initially.

Tasks

- [x] HTTP policy API
- [x] Event policy API
- [x] HTTP policy binding API
- [x] Event policy binding API
- [ ] Mutation check

**Exit Criteria**
Policy API added.

[2020-02-27 22:18] yolocs commented on #575
/assign

[2020-02-28 17:02] nachocano commented on #438
/assign

[2020-02-28 19:08] nachocano commented on #540
Synced offline with @grac3gao. She found a way to bind the KSA and GSA programatically using the iam client, which is great.
We are on track for a PoC next Tuesday...

[2020-02-28 19:11] nachocano commented on #438
Fixed!!! Thanks a lot @mattmoor for adding sockpuppet to this repo!

[2020-02-28 19:11] #438 closed

[2020-03-02 18:08] nachocano opened #584 "Separate Channel and Sources ReceiveAdapters"
**Describe the bug**
Since ~ 0.8-0.9, we have been using the same receive adapter code for both the PubSub Channel and GCP Sources. However, the branches executed in code are different. For example the former uses a Transformer, where the latter uses converters, etc. There are also some other settings that had to be configured differently for metrics, etc.
All of the above has turned the code more

[2020-03-02 18:11] nachocano commented on #429
Note that this actually refers to the ApiServerSource in eventing.
The task will involve enabling this in our release

[2020-03-02 18:28] nachocano opened #585 "Restructure knative-gcp config files"
**Problem**
As done in [eventing](https://github.com/knative/eventing/pull/2428) and serving, we need to restructure the config files.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
Config structure matching eventing and serving

**Time Estimate (optional):**
2d

[2020-03-02 18:32] nachocano commented on #421
KEDA scaling might not be enough, as SD metrics latency is around 2 mins.
This issue will become more important as we start working on Broker improvements (and the multi-tenancy investigation done by @liu-cong

[2020-03-02 21:27] grantr commented on #584
/assign @ian-mi

[2020-03-02 21:34] nachocano commented on #557
/assign @nachocano

[2020-03-02 21:36] nachocano commented on #541
We should scope this down to multiple issues

[2020-03-02 22:13] nachocano commented on #485
We might be able to leverage PubSub directly for supporting this

[2020-03-02 22:17] nachocano commented on #441
This is something that @grac3gao will add as part of the integration with workload identity in https://github.com/google/knative-gcp/issues/540.
Assigning it to Grace

/assign @grac3gao

[2020-03-02 22:22] nachocano commented on #452
Not sure if this actually belong here. We are not adding python examples in this repo.
I'm wondering why PullSubscription doesn't work. Maybe the python event_display doesn't support CloudEvents v1.0?

BTW, instead of PullSubscription, you should be able to leverage [CloudPubSubSource](https://github.com/google/knative-gcp/blob/master/docs/examples/cloudpubsubsource/README.md) now.

[2020-03-02 22:28] nachocano commented on #429
/close let's track this internally... there is nothing to do here

[2020-03-02 22:28] #429 closed

[2020-03-02 22:30] #563 closed

[2020-03-02 23:44] #186 closed

[2020-03-02 23:44] #98 closed

[2020-03-02 23:47] #77 closed

[2020-03-03 01:54] nachocano commented on #43
this has already been fixed

[2020-03-03 01:54] #43 closed

[2020-03-03 02:20] nachocano commented on #401
We discussed this and we decided to set a generic content-type `application/octet-stream`. We do not want to inspect the payload in every message, as it will be inefficient. So, whenever we are unsure what can be in the payload, we just set the datacontenttype to that generic one.

Setting it at the PullSubscription spec level is not enough (it will be just a hint), as nothing prevents folks from

[2020-03-03 02:20] #401 closed

[2020-03-03 02:22] nachocano commented on #452
Closing this one... We won't be adding python examples here.
I think the correct place to file this issue is in the https://github.com/elegantmonkeys/python-kncloudevents/ repo.
I think the problem is that they do not support CloudEvents v1 yet (or at least at the time that this bug was filed).

[2020-03-03 02:22] #452 closed

[2020-03-03 02:33] nachocano commented on #347
@yolocs I'm closing this one as is obsolete. We've discussed with PMs and we've taken the approach of having a control plane secret, and then data plane ones, which are created with a `gcloud create broker command`.
Now that we are introducing workload identity for GKE clusters, users will be able to specify a GSA as part of their GCP sources spec. If not specified, we might fallback to a default

[2020-03-03 02:33] #347 closed

[2020-03-03 02:53] nachocano commented on #255
As mentioned by @yolocs, using the PROJECT_ID from the json key might not be what the user wants.
I think considering it a closer default than the metadata server one is debatable. As long as we properly document we are getting it from the metadata server, we should be fine.

Closing this guy as we are not planning on doing changes for now. There is a related although not exactly the same bug [her

[2020-03-03 02:53] #255 closed

[2020-03-03 19:49] nachocano opened #594 "Verify alignment of event formats"
**Problem**
We need to verify that CAL and PubSub source have the formats agreed within our teams.

If any differences are determined, file bugs for those.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
Check that the events have the same format

[2020-03-03 21:25] yolocs opened #595 "Policy binding implementation with Istio"
**Problem**
After https://github.com/google/knative-gcp/issues/575, we will need at least one policy binding implementation for policy enforcement.
We will start with an Istio implementation.

Tasks

- [x] HTTP policy binding implementation with Istio
- [ ] Event policy binding implementation with HTTP policy

[2020-03-03 21:26] yolocs commented on #595
/area security
/release 2
/priority 1

[2020-03-04 02:05] nachocano opened #596 "CloudAuditLogs E2E tests are flaky"
**Describe the bug**
E2E tests for CloudAuditLogs failed in 0.13 branch though consistently pass in master. Cannot trigger a release because of this problem. As of the time of this writing, both master and 0.13 are exactly the same.

 **Expected behavior**
E2E test passing

 **Knative-GCP release version**
0.13

 **Additional context**
https://testgrid.knative.dev/knative-gcp#auto-release

[2020-03-04 02:06] nachocano commented on #596
Will skip them in 0.13 branch so that we can get a release out

[2020-03-04 02:06] nachocano commented on #596
/cc @chizhg

[2020-03-04 17:39] chizhg commented on #596
It was because the service account used in release jobs missed some permissions, https://github.com/knative/test-infra/pull/1781 added the permission for it, and the tests can pass now.

/close

[2020-03-04 17:39] #596 closed

[2020-03-04 17:40] chizhg commented on #558
Related: https://github.com/knative/test-infra/issues/148

[2020-03-04 19:50] nachocano commented on #557
Some examples here:

https://github.com/knative/eventing/pull/2540
https://github.com/knative/eventing/pull/2541
https://github.com/knative/eventing/pull/2543

Things to watch out for is the finalizers part. I think there is a new FinalizeKind method. There is an example in the Subscription controller.
Also some of the warning events that we were emitting won't be emitted anymore. We will have to

[2020-03-04 22:33] yolocs commented on #595
/milestone v0.14.0-M1

[2020-03-04 22:40] yolocs commented on #595
/milestone v0.14.0-M1

[2020-03-05 01:17] #585 closed

[2020-03-05 20:14] zargarpur opened #606 "Use the updated way of specifying a Broker's default Channel"
**Describe the bug**
Knative has updated how Broker determine the default channel to use https://github.com/knative/eventing/pull/2651

The current way of updating default-ch-webhook doesn't work anymore, so all newer Brokers will use an InMemory channel instead of PubSub.

 **Expected behavior**
The Broker's default Channel should be PubSub

 **To Reproduce**
Following the steps in google/knative

[2020-03-05 20:14] zargarpur commented on #606
/assign

[2020-03-06 00:07] ericlem opened #609 "E2E correctness of GCP broker during upgrade"
**Problem**
We need an e2e functional test that performs event transmission during broker upgrade and ensures that any events receiving a 200 return value are eventually delivered through to subscribers to that event type. We should investigate whether the work done in https://github.com/knative/eventing/pull/2388 can be extended and used for this, but this is not a requirement.

Eventually we wan

[2020-03-06 00:12] ericlem opened #610 "E2E availability test for broker ingress during upgrade"
**Problem**
Test that the broker never goes unavailable during upgrade.  This will build on the E2E test from https://github.com/google/knative-gcp/issues/609 that insured that accepted events were eventually delivered to test that the events never receive a response other than 200 even during upgrade.

**Exit Criteria**
E2E test for event delivery during upgrade has been modified to fail if any e

[2020-03-06 00:19] ericlem opened #611 "Broker ingress available during upgrade"
**Problem**
We want to ensure that all services in the ingress path of the broker can be upgraded through a rolling upgrade or activator model and not experience failures during upgrade.

**Exit Criteria**
Ingress path components are deployed in a way that future upgrades past the version in which this task's output has been deployed can be rolling upgraded or proxied via an activator, preventing

[2020-03-06 17:41] nachocano opened #614 "Create v1beta1 types"
**Problem**
We need to start promoting stable APIs to v1beta1. This issue only involves adding the new types.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
Stable APIs have v1beta1 types

**Additional context (optional)**
https://github.com/knative/eventing/pull/2414
https://github.com/knative/eventing/pull/2407
https://github.com/kn

[2020-03-06 17:46] nachocano opened #615 "Conversion, store and serving of v1beta1 APIs"
**Problem**
Once we have the v1beta1 APIs https://github.com/google/knative-gcp/issues/614, we need to add the proper conversion mechanism, and start serving them.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
Serving v1beta1 APIs and provide conversions if needed

**Additional context (optional)**
https://github.com/knative/eventing

[2020-03-06 17:50] nachocano opened #616 "Create v1 types"
**Problem**
We need to start promoting stable APIs to v1beta1. This issue only involves adding the new types.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
Stable APIs have v1 types

**Additional context (optional)**
https://github.com/google/knative-gcp/issues/614

[2020-03-06 17:58] nachocano opened #617 "Conversion, store and serving of v1 APIs"
**Problem**
Once we have the v1 APIs #616, we need to add the proper conversion mechanism, and start serving them.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Developer

**Exit Criteria**
Stable APIs are moved to v1

**Additional context (optional)**
https://github.com/google/knative-gcp/issues/615

[2020-03-06 18:31] #606 closed

[2020-03-09 20:26] grantr commented on #367
@loonybear is this issue still relevant or can it be closed? Thanks!

[2020-03-09 20:28] #113 closed

[2020-03-09 20:30] #88 closed

[2020-03-11 14:13] loonybear commented on #367
We can close this now. Thanks

[2020-03-11 14:13] #367 closed

[2020-03-11 19:00] nachocano commented on #556
We should also test the reply mechanism as part of these tests

[2020-03-11 20:22] nachocano opened #629 "Add PubSub binding in CloudEvents SDK"
**Problem**
The CE sdk removed support for PubSub in 2.0. We need to add it back so that we can keep on depending on the latest eventing once it upgrades to 2.0. The [PubSub binding spec](https://github.com/cloudevents/spec/pull/587) is under review, once it gets in we will be able to merge our refactored bits back.
But that shouldn't stop us from starting this task as it might take a while..
It w

[2020-03-11 23:41] ericlem opened #630 "GCP broker happy path"
**Problem**
Implement the happy path (no delivery failure) for a new GCP based broker.

**Exit Criteria**
* Integrated ingress/pubsub component has been implemented (hopefully based on existing pub sub ingress)
* Implement a single subscription egress/fanout service that just drops undeliverable events
* Implement a reconciler for assembling these components along with the happy path pub sub resou

[2020-03-11 23:44] ericlem opened #631 "GCP Broker retry path"
**Problem**
Add the retry path for failed event delivery

**Exit Criteria**
* Add reconciliation logic to create pub sub channels/subscriptions for each trigger
* Add calls in retry failure path to enqueue failed writes on pub sub retry topics
* Add support for pulling events off retry pub sub channels and resending (for now in same pod as happy path pulls)
* Fully functional
* Not yet turned on b

[2020-03-12 20:29] #544 closed

[2020-03-12 23:17] grantr opened #634 "Define Broker config API"
* Define Broker class name
* Config object: ConfigMap or CRD?
* Config properties and defaults

/area broker

Estimate: <1 week

[2020-03-12 23:18] grantr opened #635 "#5 Implement Broker/Trigger Controller"
* Watch Broker and Trigger objects and children
* Periodically resync to reconcile Pubsub resources
* Reconcile data plane deployments (if namespaced)
    * Ingress
    * Fanout
* Reconcile PubSub resources
    * Decoupling topic
    * Retry topics
    * PullSubscriptions to Decoupling and Retry topics
* Unit tests

Estimate: 2w

### Open questions
* Should there be a resource for pubsub topic tha

[2020-03-12 23:19] grantr opened #636 "Implement Broker ingress basic functionality"
* Accept events via HTTP and publish them to decoupling topic
* Unit tests

Future improvements to think about but not implement for this issue:
* Filtering at ingress
* Batching by filter expression/consumer

[2020-03-12 23:21] grantr opened #637 "Implement Broker fanout basic functionality"
* Receive events from decoupling topic
* Publish to matching consumers (with timeout) executing filters to determine match
* If consumer timeouts expire, publish to correct retry topics then ack to decoupling topic
* If reply arrives, publish to decoupling topic or ingress (efficiency improvement if ingress is implemented in same process)
* Unit tests

/area broker

[2020-03-12 23:22] grantr opened #638 "#3 Implement Broker retry basic functionality"
_Can be combined with fanout implementation in #637_

* Receive events from all retry topics
* Publish to matching consumers (but don't requeue on failure)
* Unit tests

/area broker

[2020-03-12 23:25] grantr opened #639 "E2E tests for GCP Broker with Sources"
The existing E2E tests for the pubsub channel-based broker should be copied to use the new broker.

/area broker

[2020-03-12 23:29] grantr opened #640 "Run Broker conformance tests on GCP Broker"
Conformance tests from https://github.com/knative/eventing/issues/2704 and https://github.com/knative/eventing/issues/2705 should be used as E2E tests for the GCP Broker.

/area broker

[2020-03-12 23:31] grantr opened #641 "Scale Broker ingress"
Scale up and down as needed to handle publish throughput. If ingress is namespaced, must scale to zero. If cluster-wide can scale down to 1.

/area broker

[2020-03-12 23:33] grantr opened #642 "Scale Broker fanout/retry"
Scale up and down as needed to handle **consumer throughput**. If consumers are unavailable, no need to scale up regardless of queue length.

If namespaced, must scale to zero. if cluster-wide, can scale to 1.

/area broker

[2020-03-12 23:35] grantr opened #643 "Run continuous perf tests on GCP Broker"
Same as the perf tests already running for the PubSub Channel Broker.

/area broker

[2020-03-12 23:36] grantr opened #644 "Soak test for GCP Broker"
Deliver events through the GCP Broker constantly in a persistent configuration to verify that the behavior of the system under load remains stable over time. Can also be used to test long-term upgrade scenarios.

/area broker

[2020-03-13 16:28] nachocano commented on #541
We should make sure that the new Broker implementation support our current SD metrics

[2020-03-13 16:34] nachocano opened #647 "E2E test for Trigger metrics"
## Expected Behavior
We need to have e2e tests for Trigger metrics using StackDriver as backend (event_count, dispatch_latencies, etc)

## Actual Behavior
We don't have

## Additional Info
https://cloud.google.com/monitoring/api/metrics_knative

[2020-03-13 16:36] nachocano opened #648 "E2E test for Broker metrics"
## Expected Behavior
We need to have E2E tests for Broker metrics using StackDriver as backend (event_count, dispatch_latencies, etc) so that we do not regress

## Additional Info
https://cloud.google.com/monitoring/api/metrics_knative

[2020-03-13 16:51] nachocano opened #649 "Broker/Trigger metrics for new Broker impl"
## Expected Behavior
In the new Broker implementation, we should implement at least the same metrics we currently expose in eventing (in the ingress and filter pods).

## Additional Info
https://github.com/knative/eventing/blob/master/pkg/broker/ingress/stats_reporter.go
https://github.com/knative/eventing/blob/master/pkg/broker/filter/stats_reporter.go
https://cloud.google.com/monitoring/api/metr

[2020-03-13 17:01] nachocano opened #650 "Tracing through new Broker Covered by E2E Test"
## Expected Behavior
The new Broker implementation should support Tracing and setting SD as the backend.

## Additional Info
https://github.com/google/knative-gcp/issues/226

## Exit Criteria
- E2E that verifies the trace of an event through all components of the Broker and to a Knative Service as the eventual sink.

[2020-03-13 17:11] nachocano opened #651 "E2E test for Logging"
## Expected Behavior
We need to have e2e tests to verify that when we configure SD as the logging backend, that actual logs are being sent there. This can be simply done with one of our current tests, in which we additionally configure the logging configMap to point to SD, and then assert for any log.

[2020-03-13 17:31] nachocano commented on #541
re: the metris list in eventing https://github.com/knative/eventing/issues?q=is%3Aopen+metrics+author%3Anachocano+label%3Aarea%2Fobservability+. IMO we can safely skip it for now, as they were mainly targeting prometheus backends, and we need to explicitly test our SD integration.

[2020-03-13 18:50] nachocano opened #652 "Enable tracing tests when assertions are more lenient"
We should enable https://github.com/google/knative-gcp/blob/94506c23b2be7b939bc03054ebaf979090455d97/test/e2e/e2e_test.go#L145, once https://github.com/knative/eventing/issues/2046 is fixed

Creating this so that we don't miss it.

[2020-03-16 16:04] yolocs opened #654 "Design how trigger resources will be efficiently tracked"
The current eventing core broker queries API server for trigger resources. This is a potential bottleneck as API server usually shouldn't be on the data plane. We need to figure out how to efficiently track trigger resource.

In a recent prototype, I have tried to use ConfigMap to track triggers - which is pretty effective when trigger updates (updates & creates) are at low qps. But it has potenti

[2020-03-16 16:12] yolocs opened #655 "Decide what resources to surface for gcp broker"
The current eventing core broker, when combined with Pubsub channel, surfaces a lot of resources. The broker itself will introduce a Pubsub `Channel` which introduces a `Topic` and a `Pullsubscription` and for each `Trigger` will additionally introduce one `Topic` and `Pullsubscription`. These "logical" resources for the most of the time are useless to the users and they increases the cognitive lo

[2020-03-16 17:13] grantr commented on #635
Cluster-wide vs Namespaced:
- Only implement one strategy
- Probably similar time to implement for each

[2020-03-16 17:30] grantr commented on #654
Current consensus is use ConfigMaps as volumes.

[2020-03-16 17:30] #654 closed

[2020-03-16 19:10] liu-cong commented on #634
We can start with defining some constants and convert them to configurations.

We should use a ConfigMap and use the [default-br-config](https://github.com/knative/eventing/blob/11bafe000b9b97277ed011cc9ef83e075485b146/config/core/configmaps/default-broker.yaml#L22) configuration to point to the configmap.

[2020-03-16 19:22] liu-cong commented on #631
This seems to be a master issue that includes the following:

- [ ] https://github.com/google/knative-gcp/issues/638
- [ ] https://github.com/google/knative-gcp/issues/635

[2020-03-16 19:23] liu-cong commented on #630
This includes multiple sub-issues:

- [ ] https://github.com/google/knative-gcp/issues/635
- [ ] https://github.com/google/knative-gcp/issues/636
- [ ] https://github.com/google/knative-gcp/issues/637

[2020-03-16 19:30] liu-cong commented on #655
We decided to go with configmap for now.

[2020-03-16 21:32] grac3gao opened #657 "Have a mock client for iam policy binding unit test"
**Describe the bug**
It is hard to write UT for iam policy binding because we are not mocking it.

 **Expected behavior**
Having a mock client for iam policy binding to write UT

[2020-03-16 21:44] grac3gao opened #658 "E2E tests for workload identity"
**Problem**
We need to have e2e tests to verify workload identity. When enabled workload identity, the control plane should work without secret, and the data plane should work with a qualified GCP serviceAccount inputted (without secret).

**Exit Criteria**
e2e tests to verify workload identity.

[2020-03-16 22:07] nachocano commented on #317
@chizhg we will need your help with this... Would you be able to sync with @zargarpur sometime soonish? This blocks all our E2E tests for metrics

[2020-03-16 23:20] yolocs commented on #655
/reopen

[2020-03-16 23:22] yolocs commented on #655
This is different from the ConfigMap issue. I don't think we have explicitly reached an agreement on what resources to surface. Although it seems we're lean toward **only** exposing broker/trigger resources. If that's the case, we can close this one.

[2020-03-16 23:35] yolocs opened #660 "Broker ConfigMap data and common utility to read it"
**Problem**

From https://github.com/google/knative-gcp/issues/654, we have agreed that we want to use ConfigMap for tracking triggers and likely for other broker configs.

- We need to decide what data and how to store them in ConfigMap.
- It's likely the same ConfigMap will be loaded in multiple broker workloads and the controller. We should have a common lib to manipulate the ConfigMap so that

[2020-03-17 00:00] yolocs commented on #660
Once the *contract* of the config is settled, we can parallel the work:

1. Controller (https://github.com/google/knative-gcp/issues/635) - reconciles Pubsub resources and update the config
2. Fanout (https://github.com/google/knative-gcp/issues/637) - it loads the config and reconciles itself
3. Retry (https://github.com/google/knative-gcp/issues/638) - it loads the config and reconciles itself

[2020-03-17 04:15] chizhg commented on #317
Sure, I should have some time to help later this week.

[2020-03-17 08:34] nachocano commented on #557
This was fixed by all the referenced PRs.
Thanks @nlopezgi !!!

[2020-03-17 08:34] #557 closed

[2020-03-17 16:54] nachocano opened #662 "Verify all our OpenAPI schemas are correct"
**Problem**
Until we autogenerate the schemas, we should verify that they are actually accurate with what the underlying types say, and they should be structured as well.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Developer

**Exit Criteria**
Well-defined schemas

**Time Estimate (optional):**
1-2d

**Additional context (opt

[2020-03-17 18:22] nachocano opened #665 "Autoscaling annotation should be made immutable"
**Describe the bug**
The autoscaling annotation should be made immutable, otherwise the correct controller won't be called if changed.

 **Expected behavior**
Autoscaling annotation cannot be changed

 **To Reproduce**
Change the annotation and you can save the object

 **Knative-GCP release version**
0.13

[2020-03-17 18:52] grantr commented on #660
Go micro is apache licensed, so probably fine: https://github.com/micro/go-micro/blob/master/LICENSE
I'm fine with that, but if it doesn't work out an alternative with similar features is viper, by the author of cobra: https://github.com/spf13/viper (MIT license).

I haven't thought about it too much, but maybe it would make sense to have a single ConfigMap with one key (file) per handler (ingress

[2020-03-17 18:58] yolocs commented on #660
I was thinking have a single config file. I will put several options in this issue soon so that we can vote.

[2020-03-17 20:16] grantr commented on #636
This code has mostly been written for the Topic data plane. Handling multiple namespaces is additional work.

While scaling isn't necessary to close this issue, it would be a good idea to keep in mind that this should be compatible with Knative Serving. Could start with a Serving object with min/max scale 2 (to verify that scaling >1 is possible also).

[2020-03-17 20:19] yolocs commented on #655
We have reached an agreement to not expose any additional resources other than broker/trigger. This will make it a little bit harder for users to find out what Pubsub topic/subscription the broker uses, but again for the most time they don't need to worry about them at all. If we find that's a problem, we will seek ways to better expose topic/subscription.

[2020-03-17 20:19] #655 closed

[2020-03-17 20:30] grantr commented on #660
Something to keep in mind is that we want to minimize delay between when the Trigger is created and the data plane is ready to service the Trigger.

A separate but related issue is that there's no obvious way for the controller to know when the Trigger has processed an updated configmap. But this is a general issue for all data plane components so we don't have to solve it here.

[2020-03-17 20:34] grantr commented on #634
Basic configuration we know we need: GCP project.

We may add configuration of decoupling topic name, but no clear need for that right now.

[2020-03-17 20:36] grantr commented on #634
Deprioritizing this one. If we need a configuration value, for now put a TODO so we can find them later.

[2020-03-17 20:41] grantr opened #666 "Test Broker control plane responsiveness post-upgrade"
**Problem**
After upgrade it should be possible to create/delete a Trigger.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?

**Addition

[2020-03-17 20:45] yolocs commented on #637
In proker, this is where it does the fanout https://github.com/yolocs/proker/blob/master/pkg/fanout/handler.go
It doesn't handle timeout or graceful shutdown properly.

[2020-03-17 20:54] grantr opened #667 "Determine pubsub encoding format for decoupling topic"
If the data plane must be namespace-aware, the event format used in the pubsub messages may need to encode the namespace or other metadata along with the event.

We should version (separately from CloudEvents version) this internal format to allow for evolution.

[2020-03-17 22:37] yolocs commented on #660
Some initial thoughts on the config.

[code]

Essentially it's a list of triggers + retry topic/sub. In the ConfigMap it could be `encode(serialize(TargetsConfig))`. The ConfigMap size [limit](https://stackoverflow.com/questions/53012798/kubernetes-configmap-size-limitation) is the limit from etcd. It makes sense to me to be mindful about how much config data we store from the beginning.

Addition

[2020-03-17 22:59] yolocs commented on #660
Putting a reference here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#mounted-configmaps-are-updated-automatically

Although it's a little bit upsetting to see that there are long opening issues regarding to make this behavior more deterministic (e.g. https://github.com/kubernetes/kubernetes/issues/30189).

[2020-03-17 23:36] liu-cong commented on #660
For watching file changes, can also use https://github.com/fsnotify/fsnotify. This is what kubernetes uses,  see [1](https://github.com/kubernetes/kubernetes/blob/7f23a743e8c23ac6489340bbb34fa6f1d392db9d/pkg/util/filesystem/watcher.go#L20)

[2020-03-17 23:43] yolocs commented on #660
I think both micro-go/config and viper use fsnotify behind the scene :)

[2020-03-18 03:15] grac3gao opened #668 "Adding a status condition for workload identity"
**Problem**
We need  a status condition for objects for workload identity. When workload identity wasn't properly set, it will be marked.
If the user is not using workload identity (using secret), the status type WorkloadIdentityReady should be unknown. This status will be not included in condset, so that the unknown status will not affect the whole condition to be ready.
This condition should be

[2020-03-18 03:20] grac3gao opened #669 "Service account validation should be updated"
**Describe the bug**
The current regex validation for service account should be updated to valid the service account
more precisely.

Service account name must be between 6 and 30 characters (inclusive), must begin with a lowercase letter, and consist of lowercase alphanumeric characters that can be separated by hyphens

 **Expected behavior**
 Updated validation

 **Knative-GCP release version**

[2020-03-18 04:23] #669 closed

[2020-03-18 05:09] nachocano commented on #422
This will probably be superseded by https://github.com/google/knative-gcp/issues/629.
Leaving it open for now, but once we have the new binding in and see its improvements, we might be able to close this. Removing the milestone for now

[2020-03-18 05:21] nachocano commented on #441
Fixed by @grac3gao in PR https://github.com/google/knative-gcp/pull/625
Closing

[2020-03-18 05:21] #441 closed

[2020-03-18 05:31] nachocano opened #671 "Add documentation for Workload Identity"
**Problem**
Now that we support workload identity for GKE clusters, we should add documentation

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
Docs in knative-gcp

**Time Estimate (optional):**
1d

[2020-03-18 05:36] nachocano commented on #540
Now that https://github.com/google/knative-gcp/pull/625 went in, I think we can close this big issue now... Some pending items are being tracked in separate smaller issues.

  - [ ] provide a new release artifact (maybe cloud-run-events-gke) **will be tracked in a separate issue**
  - [ ] create new install page to explain the setup of the control plane **tracked in https://github.com/google/knati

[2020-03-18 05:36] #540 closed

[2020-03-18 20:26] grantr commented on #652
https://github.com/knative/eventing/issues/2046 is fixed now.

[2020-03-18 20:48] nachocano commented on #651
There seems to be a problem with Workload Identity... We should check that

[2020-03-18 23:20] #575 closed

[2020-03-19 16:33] nachocano commented on #556
Moving to v1beta1 seems that it might break gcloud. We need to make sure we are not.

[2020-03-19 16:34] nachocano commented on #615
When we start serving v1beta1, I think we will break gcloud integration.
We should make sure we are not. We should have the gcloud E2E tests in place before doing so.
https://github.com/google/knative-gcp/issues/556

[2020-03-19 17:08] grantr opened #676 "Broker data plane multitenancy strategy"
How will we support multitenancy of the Broker data plane?

What are the possible approaches and their advantages and disadvantages? Relative level of difficulty?

Should we start with one and gradually evolve to another? If so how much work can be reused?

[2020-03-19 17:41] grac3gao commented on #658
Put some thoughts here.
Compare with the existing secret method:
1. In control plane, we have a different controller deployment for workload identity, which means the init set up for the e2e testing cluster needs to change (apply different yams for controller deployment, and running command to enable WI in control plane)
2. In data plane, we need to have a GSA, and when running the e2e test, inste

[2020-03-19 17:41] nachocano commented on #648
We should sync with serving folks , especially @yanweiguo, as he has been adding E2E tests on their side, and we might be able to reuse some of their stuff

[2020-03-19 17:42] nachocano commented on #647
We should sync with serving folks , especially @yanweiguo, as he has been adding E2E tests on their side, and we might be able to reuse some of their stuff

[2020-03-19 17:42] nachocano commented on #317
We should sync with serving folks , especially @yanweiguo, as he has been adding E2E tests on their side, and may have encountered this before

[2020-03-20 17:03] yolocs commented on #595
/reopen

[2020-03-20 17:04] yolocs opened #684 "E2E tests for policy with istio binding"
- [ ] HTTPPolicy
- [ ] EventPolicy

[2020-03-20 17:07] yolocs opened #685 "Document KPolicy usage with examples"

[2020-03-20 17:10] yolocs opened #686 "Add release artifact(s)"
The installation should be optional and decoupled from the "core" installation.

[2020-03-20 20:32] yolocs opened #687 "EventPolicy needs to support RequestOperation"
**Describe the bug**
EventPolicy currently doesn't have RequestOperation as part of the rule. This implies we will check event policy for all hosts, methods and paths, which is not desirable. For example, with multi-tenant broker, we will need to use host or path to differentiate requests from different namespaces.

[2020-03-20 20:33] yolocs opened #688 "Istio RequestAuthentication requires Issuer field"
**Describe the bug**
Istio RequestAuthentication requires Issuer field but currently it's not set by KPolicy.

[2020-03-20 20:52] nachocano commented on #614
For workload identity we added a `spec.serviceAccount` field to all constructs. That refers to a google service account. @grac3gao proposed to use `spec.googleServiceAccount`, which is more accurate. I'm wondering if she was right. `serviceAccount` might be confusing with a typical k8s service account.

Might be worth thinking of what we should use `spec.serviceAccount`, `spec.gsa` or `spec.google

[2020-03-20 22:45] #660 closed

[2020-03-21 00:09] #687 closed

[2020-03-23 15:44] #688 closed

[2020-03-23 18:54] bskaplan commented on #317
/assign

[2020-03-24 16:25] yolocs commented on #667
As we decided to adopt the shared broker data-plane, it becomes obvious that we need to attach additional info to each event, e.g. hostname, request path, etc. The current cloudevents pubsub binding doesn't allow us to do that easily (there is no interface to do that with the current sdk).

The current cloudevents binding logic:
With structured encoding - it directly writes the event bytes to the

[2020-03-24 16:34] ericlem commented on #667
I'd tend to to favor something in the Option 1 case.   We almost certainly don't want to be having to use structured encoding if possible.  And 1 leaves the most fields still in interpretable form in pubsub without decoding.

[2020-03-24 16:38] yolocs commented on #667
/assign @yolocs

[2020-03-24 17:14] grantr commented on #667
We don't actually have to use structured encoding for option 2. Since we control both ends of the pubsub topics, we can use whatever encoding we want in pubsub messages, cloudevents compatible or not.

[2020-03-24 17:17] grac3gao commented on #658
Sync with @chizhg offline, and Chi listed what needs to be done for this:
1. After https://github.com/kubernetes/test-infra/pull/16888 is merged, update prow-tests image to get the latest kubetest
2. Add a new script in knative-gcp/test, namely e2e-wi-tests.sh. In this script, source e2e-common.sh and override the setup and teardown functions to install wi-enabled control plane components, call in

[2020-03-24 18:20] yolocs commented on #667
Option 3:
WE can directly use cloudevents extension with a special prefix.

[2020-03-24 19:55] grantr commented on #667
If we have a topic per broker, do we need any additional fields? Or are these fields only needed if we have a single shared topic for all brokers?

[2020-03-24 20:04] yolocs commented on #667
I'm thinking a single shared topic. I thought we're going to have a single shared topic?

[2020-03-24 20:44] grantr opened #699 "Decoupling topic: per broker or per data plane"
**Problem**
We can have one decoupling topic per broker (similar to the current architecture) or one decoupling topic per data plane "cell" (by default, one for all brokers in the cluster). If the topic is shared by several brokers, we need a way to partition the messages as discussed in #667.

I'd like to document a decision on this and the rationale for that decision.

[2020-03-24 20:49] grantr commented on #667
If single topic requires us to do additional work to partition the events, what is the advantage of that single topic? But I created #699 to discuss that.

I think I'm leaning toward option 3 (using extension attributes) since it seems like the least work for now. As has been pointed out by others, we can change this later if it proves to be an issue.

Would this be sufficient?

[code]

[2020-03-24 20:57] grantr commented on #699
My thoughts:
1. Topic per-broker gives us a natural partitioning scheme without needing to embed that in the message. Additional topics don't cost more.
1. Control plane already has to manage a topic per trigger, likely to be more than the number of brokers, so managing a topic per broker doesn't seem like much extra work.
1. Conversely, having the broker controller manage a single topic that is u

[2020-03-24 20:58] ericlem commented on #699
-Reasons for a single topic:
-   Makes scaling for the main puller more straightforward (watch a single pub sub channel), only one pool of pullers for pub sub
-   Makes the controller for creating/destroying a broker slightly easier (no channel and subscription create/destroy)
-   Obvious extension for globally available events (ie, events sent once, received by all brokers)
- Reasons against one

[2020-03-24 21:06] yolocs commented on #699
Properly scaling the happy path is probably more important. For retry, we can probably live with longer delay which gives us some flexibility on how to design scaling.

[2020-03-24 21:25] ericlem commented on #667
I'd agree with leaning towards 3

[2020-03-24 21:53] liu-cong commented on #667
I prefer option 3 too. It seems to be what `Extensions` is designed for.

[2020-03-24 22:09] liu-cong commented on #699
I'd like to vote on this point. For example, It's easier to rate limit the fanout for a broker with multiple topics for the "noisy neighbor" problem.
The partitioning scheme is a nice-to-have feature but it can be relatively easily solved by labelling events.

[2020-03-24 22:45] grantr commented on #642
(Let's imagine that KEDA is rock-solid stable today and uses metrics that react quickly to queue length changes, or we have a similar system that can scale quickly based on queue length of a pubsub topic. None of this is true today, but ignore that)

With a cluster-wide deployment, scaling to zero isn't critical, but scaling to N is. For 1-N scaling, KEDA uses HPA to scale a deployment on queue le

[2020-03-24 22:48] grantr commented on #699
Can we talk more about scaling? It's not clear to me how this would work or why it would be straightforward, and I think it's important to get concrete now since we're making design choices based on perceived ease of implementation. I added my thoughts to #642, please add yours too. :smiley:

[2020-03-24 23:02] grantr commented on #699
(continuation of above)
If we don't have a clear design in our heads of how to scale based on pubsub metrics (#642), then I don't think we can say with confidence that scaling is more straightforward with a single topic than multiple topics.

I'll push back on this a bit. The controller is already dealing with many of these objects for triggers. The topic and pullsubscription must be created by so

[2020-03-24 23:05] ericlem commented on #699
Simply having to do anything other than creating or destroying

[2020-03-24 23:09] ericlem commented on #699
I'd be hard pressed to come up with a scaling strategy for pulling off a queue that is harder when pulling off a single pub sub topic then pulling off multiple topics.  Fairness is a different point, but the simple pub sub topic pull scaling is almost certainlly at least as easy in this case (one set of pull threads, rather than having x threads pulling from topic a, y threads pulling from topic b

[2020-03-24 23:14] ericlem commented on #642
Assuming consumers can scale, queue length is related to the fanout service scale.  As consumers are backing up the scaling policies on the consumers should be increasing as well so that the consumer horizontally scales to take more load.  I'll agree if consumers don't, that becomes a problem.  Presumably that eventually shows up as increasing consumer latency and causes us to start forwarding the

[2020-03-24 23:43] liu-cong commented on #642
Since we don't have knowledge on whether the consumer can scale, can we use some heuristics that takes into account the decouple queue length, resend queue length, and potentially other metrics such as consumer latency?

Also, is there some sort of "feedback" mechanism in KEDA? I think the ultimate goal of scaling fanout service is to increase egress throughput. If we can stop scaling if throughpu

[2020-03-24 23:48] grantr commented on #642
KEDA doesn't have a feedback mechanism that I'm aware of. Its implementation of 1->N scaling is an HPA set to [scale on a custom metric](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#support-for-custom-metrics) that reports queue length. So if we used KEDA as currently implemented to scale, we would not be able to use negative feedback based on consumer throughput.

[2020-03-24 23:54] ericlem commented on #642
My gut feeling is that we don't want to scale back based on consumer throughput (for some range of queue length timescale measumerent)...  We'll want to start queueing on resend queues at that point.  And yes, you can bring that question back up there.  We want the decoupling queue to keep up as much as possible assuming we have more than one consumer.

[2020-03-25 01:02] nachocano opened #702 "Enable verification of LICENSE check"
**Describe the bug**
While trying to get this PR https://github.com/google/knative-gcp/pull/701 in, I kept on getting a build-test failure. All other PROW jobs passed. It seems that there is a problem with the LICENSE check. The third_party/VENDOR_LICENSE was updated, I ran update-codegen multiple times, but still PROW complaints that is old and that I should run it again...

 **Expected behavior*

[2020-03-25 01:02] liu-cong commented on #642
Agree.

What's our strategy to scale the retry service? Or is it not important at this point?

[2020-03-25 02:45] yolocs commented on #642
From the offline discussion, the conclusion seems to be: there is no single metric we can rely on to scale fanout properly; instead, we need to look at a combination of metrics including ingress load (qps), queue length, fanout resource usage (cpu + memory), downstream response (response code, timeouts).

Giving each metric a weight, with some algorithm we can calculate and combine them into a sin

[2020-03-25 03:03] yolocs commented on #699
I don't think "isolation" is a top priority in this shared data-plane approach. If lack of isolation is a problem, I think the right solution is to **also** support data-plane in user namespace mode.

With that said, if we can label events, the other extreme would be to have a shared retry topic and a shared retry subscription. We can label events so that when an event is pulled from the retry sub

[2020-03-25 04:22] #595 closed

[2020-03-25 06:52] nachocano commented on #614
my apologies, I was too optimistic, won't be able to make this in the three days I have remaining.
/unassign

[2020-03-25 06:53] nachocano commented on #615
my apologies, I was too optimistic, won't be able to make this in the three days I have remaining.
/unassign

[2020-03-25 18:03] #671 closed

[2020-03-25 18:23] #629 closed

[2020-03-25 18:48] grantr commented on #699
There are two options for this and I'm not sure which you're proposing:

1. Send each event to the retry topic once per undelivered trigger (N events)
1. Send each event to the retry topic once for all undelivered triggers (1 event)

[2020-03-25 19:33] grac3gao commented on #614
Have talked with Nacho under other thread. https://github.com/google/knative-gcp/pull/692#issuecomment-603946288.

[Grace]
I am fine with `gsa`, but I am worried about that it might be too brief for user to understand? Perhaps `gServiceAccount` would be a choice?

[Nacho]
Yeah gsa might not be correct as well, and gServiceAccount sounds better. I
think we need a third opinion, maybe Adam?

@Harway

[2020-03-25 19:54] yolocs commented on #699
I meant #1. I think the cost would be same as having N retry queues.

[2020-03-25 20:10] grantr commented on #699
My concern with that approach is that when the event comes out of the retry queue needing to be delivered to 2 subscribers, and only 1 acks, then we need to re-enqueue that event to update its retry state. The event then goes to the back of the queue and waits for every other retry to be processed before it can come back around to be retried. This makes the retry timing more unpredictable. If a si

[2020-03-25 20:12] #667 closed

[2020-03-25 20:31] yolocs commented on #699
@grantr

This shouldn't happen. Here is a flow in my mind:

[code]

The same event will be enqueued twice in the retry queue. So for an event being retried, it will only deliver to 1 subscriber.

This is a valid concern and it's still about isolation. On a high level I think decoupling queue has a similar problem and comparatively we can probably have a more relaxed latency requirements for retry.

[2020-03-25 20:47] ericlem commented on #699
We did.  One of the biggest issues with a shared retry subscription is that your only choice for controlling retry rate to a consumer is the retry rate of the underlying queue.  IE, if you have 50000 events enqueued for a target that hasn't been up for 36 hours, you have to keep retrying them at the normal event retry rate(and each of these pulls also incurs a pub sub pull cost).  If you have sepe

[2020-03-25 20:53] grantr commented on #699
Oops I misread your comment and replied as if you'd said you prefer option 2. Sorry for misunderstanding, but thank you for writing out your summary of the solution. :grin:

Putting my user hat on, I'm not satisfied by, "we thought we couldn't figure out how to scale this, so you'll have to deal with unpredictable retry." IMO stability of user experience under load needs to be a primary goal for a

[2020-03-25 20:54] grantr commented on #676
Result of offline discussion as summarized by @yolocs:

We eventually decided to favor the shared broker data-plane for the benefits it brings. To be clear, for proper permission control, we still want a "logical" broker (a broker object) in each user namespace.

To summarize, a shared data-plane has following advantages:
- Control logic could be much simplified because there is less work of provi

[2020-03-25 20:54] #676 closed

[2020-03-25 20:54] grantr commented on #642
If we ultimately have to aggregate multiple metrics, then it seems reasonable to sum the lengths of all relevant topics to produce a single aggregate length.

[2020-03-25 20:58] ericlem commented on #642
@grantr I think it's a reasonable first approximation.  We may need some form of exception to exclude queues that haven't shrunken at all in some amount of time (ie, queues that are growing because the consumer isn't consuming at all.)

[2020-03-25 20:58] ericlem commented on #642
That last comment only apply to the retry queues though.

[2020-03-25 21:07] ericlem commented on #642
@Harwayne

[2020-03-25 21:08] ericlem commented on #699
@Harwayne
FYI

[2020-03-25 21:31] yolocs commented on #699
I'm not implying that. We will have deal with the scaling problem either way. But if a user really cares about isolation to avoid noisy neighbors, I'm leaning towards to "let them have their own broker".

[2020-03-25 21:33] yolocs commented on #699
Thanks for reminding me. Not sure if it would complicate things or simply, but would multiple retry queues (each with longer deliver delay) help in this case?

[2020-03-25 21:42] ericlem commented on #699
It would help, but still is a bit less control in such situations.  Overall retry rate to a client still ends up being affected by the number of messages queued for that target.  And it makes it harder to quickly pick back up and start delivering messages as soon as a client comes back up for messages enqueued in a long retry interval queue.

[2020-03-25 22:20] grantr commented on #699
Sorry for putting words in your mouth, and thank you for correcting me. Obviously nobody wants that to be what we tell users :)

IIUC, with a single shared retry topic, creating another broker doesn't improve isolation, right? They'd have to create a separate data plane (which may be what you're referring to here).

[2020-03-25 22:32] yolocs commented on #699
Sorry for not stating it clearly. Yes, it's "let them have their own data-plane". I believe it's also one of our goals to support this?

IMO I'm less concerned about scaling (because it's going to be somewhat complicated anyway). If we're fine with the complexity introduced to the controller (provision/recycle pubsub resources) and fanout service (dynamically add/remove pulls), I think we should j

[2020-03-25 22:55] grantr commented on #699
Thanks @yolocs, this is a good summary of the complexities involved. I think these are manageable, but if we choose this path and I'm wrong we'll probably find out right away. We've done them all before in eventing and knative-gcp.

[2020-03-25 22:56] grantr commented on #699
This is one of my goals but I hope it's an exceptional case (and that we don't need to spend a lot of time making it simple to use).

[2020-03-25 23:25] grantr opened #712 "Topic reconciler checks for existence with the wrong name"
**Describe the bug**
This call should be using the topic name given in the Topic spec as argument, but it's using the ProjectID instead:
https://github.com/google/knative-gcp/blob/45d9dbd44358730aa34474225fa2969c12ff1d43/pkg/reconciler/pubsub/topic/topic.go#L127

Since the existence check is checking for the wrong topic, the reconciler will always attempt to create the topic. This works because we

[2020-03-25 23:47] nachocano commented on #712
oops! Thanks Grant, let me fix this and clean up some unnecessary stuff as well

/assign

[2020-03-26 01:21] akashrv commented on #699
Good discussion.  My two cents on "isolation".  I don't think that having a multi-tenant shared data-plane  throws away isolation. Usually any online service will be multi-tenant and handle workloads from multiple users. In my experience I have seen isolation being a concern when it comes when we save the state  or persist user-data, rather than stateless services that handle requests from any ten

[2020-03-26 05:11] grac3gao opened #715 "Include cluster name in k8s Service Account name for Workload Identity"
**Describe the bug**
When enable Workload Identity, reconciler will create a k8s Service Account, the k8s SA's name is the same as corresponding Google Cloud Service Account.
https://github.com/google/knative-gcp/blob/45d9dbd44358730aa34474225fa2969c12ff1d43/pkg/reconciler/identity/resources/service_account.go#L31

More details about reconciler logic for workload identity: https://github.com/googl

[2020-03-26 16:58] Harwayne commented on #614
I tend to prefer longer, unambiguous names personally. My preferences from most liked to least are:
1. `spec.googleServiceAccount`
1. `spec.gServiceAccount`
1. `spec.gsa`
1. `spec.serviceAccount` (I really dislike this one for the reasons stated in https://github.com/google/knative-gcp/issues/614#issuecomment-601905923).

[2020-03-26 19:16] nachocano commented on #614
OK, then let's just call it `googleServiceAccount` or `gServiceAccount`. I think you can make the call @grac3gao. And my apologies, because you started with `googleServiceAccount` in the first place and I told you to change it... Once again, you were right :) Glad that we revisited this early enough...

[2020-03-26 21:14] #712 closed

[2020-03-26 22:24] grantr commented on #699
We decided on per-Broker decoupling topics, because despite not providing true isolation, the separation of per-Broker pubsub metrics and billing is useful enough to slightly outweigh any additional complexities. The preference for this strategy was slight so we may revisit this decision if unforeseen difficulties arise.

The per-Broker decoupling topics solution has these advantages:
- Per-Broker

[2020-03-26 22:24] #699 closed

[2020-03-26 22:44] grantr opened #719 "Issues with workload identity install docs"
**Describe the bug**
Following the readme, I ran into these issues:

### Paths in commands
`controller-gke.yaml` is in `config/core/deployments` so the command `ko apply -f controller-gke.yaml` should include the directory from the repo root.

The `init_control_plane*` scripts are in the `hack` directory, so the commands to run them should be prefixed with `hack/` rather than `./`.

### gcloud con

[2020-03-27 02:05] nmnellis opened #720 "CloudPubSubSource Sink Namespace not honored"
**Describe the bug**
According to the spec, you can set the namespace of the sink Service but it is not honored and you get the following error.

[code]

 **Expected behavior**
You can have a knative Service that is in another namespace from the cloudpubsubsource

 **To Reproduce**
Create KNative Service and CloudPubSubSource in another with reference to the Service as a sink.

 **Knative-GCP rele

[2020-03-27 17:47] grac3gao opened #723 "Rename serviceAccount in IdentitySpec"
**Describe the bug**
For workload identity we added a `spec.serviceAccount` field to all constructs. That refers to a google service account. Rename it to a longer, unambiguous name `GoogleServiceAccount`
https://github.com/google/knative-gcp/issues/614#issuecomment-604548094

 **Expected behavior**
Rename serviceAccount

[2020-03-27 17:52] grac3gao commented on #614
@nachocano No worries:) I created #723 to address it.

[2020-03-27 18:26] yolocs opened #724 "Update broker config lib to be broker-aware"
Based on the conclusion from https://github.com/google/knative-gcp/issues/699, it would make more sense to have the broker config lib to group targets by broker. And we need decouple queue info for each broker be available in the config.

[2020-03-27 19:12] #668 closed

[2020-03-27 19:48] yolocs opened #726 "Update API group name and related naming"
Currently `security.knative.dev` is used. Since it's not official yet, we need something more appropriate.

[2020-03-27 20:49] yolocs opened #727 "Support trigger identity in broker"
**Problem**
In our broker, we should enable broker to send events with identities. The reason is documented in the [policy design](https://docs.google.com/document/d/1Nymrlp__dXKsp02Dpif0GN_Pskm6YXv6WjeF8trYzzk/edit#bookmark=id.8i81ieryxdes).

**Proposal**
Since it's unlikely all broker classes will support this feature (at least at the beginning), it's hard to add this as part of the trigger API.

[2020-03-27 21:00] #686 closed

[2020-03-27 21:19] nachocano commented on #614
One extra thing before moving to `v1beta1`, I think we need to rename our `pubsub.cloud.google.com` and `messaging.cloud.google.com` API groups to something like `pubsub.events.cloud.google.com` and `messaging.events.cloud.google.com`. If maintaining compatibility is too much work, then I'd suggest we just rename before 0.14 cuts, and properly document it in the release notes.
It'd be great if you

[2020-03-27 22:22] grac3gao commented on #719
Thank you! @grantr, you might be the first user for this updated install doc:) I'll address those comments.

[2020-03-28 01:25] grac3gao opened #729 "Pass serviceAccountLister to Identity reconciler"
**Describe the bug**
In Identity reconciler, we use kubeclient to get service account. We should use serviceAccountLister to do that. Approach is when initialize other controllers to use Identity reconciler, pass the serviceAccountLister from the serviceAccountInformer to it.

 **Expected behavior**
Use serviceAccountLister to get service account in Identity reconciler

[2020-03-30 17:48] #724 closed

[2020-03-30 20:45] grantr opened #735 "Default metadata.clusterName for all cloud run resources on GKE"
**Problem**
When we create GCP resources like PubSub Topics for objects in the cluster, it would be useful to use the cluster name as part of the GCP resource name. This helps with name uniqueness (technically Kubernetes object UIDs aren't unique across clusters) and helps users more easily find the resources associated with a cluster or object.

As @grac3gao points out in #715, the GKE metadata c

[2020-03-30 20:45] grantr commented on #715
Thanks for pointing this out @grac3gao! That gave me an idea that we should set this automatically in the webhook for all objects. Opened #735 for that.

[2020-03-30 20:46] grantr commented on #735
cc @Harwayne who pointed out the Kubernetes UID guarantees.

[2020-03-30 20:54] grantr commented on #720
Thanks for the report @nmnellis!

Is this a feature you need, or are you testing the limits of the system?

[2020-03-30 21:01] nmnellis commented on #720
Because the CloudPubSubSource requires gcp credentials we would like to store them in one secured namespace and reuse them for CloudPubSubSources that would then reference services in other namespaces

[2020-03-30 21:01] #726 closed

[2020-03-30 22:09] grantr commented on #720
Ok, that makes sense. In your cluster(s) do you have one credential for all CloudPubSubSource objects, or do different sources use different credentials?

[2020-03-30 23:53] chizhg opened #738 "Simplify e2e tests setup scripts"
**Problem**
In [e2e-common.sh](https://github.com/google/knative-gcp/blob/master/test/e2e-common.sh), there are a lot of `gcloud` commands to configure the authentication mechanism. These are only used when users run the scripts on their local, and there is no way to keep them up-to-date.

**Exit Criteria**
Since it's a one-time setting for running it locally, we should direct users to run [./hack

[2020-03-31 16:44] grac3gao commented on #658
After running e2e test in PROW, there is an issue. In PROW, the control plane's Google Service Account doesn't belong to the current project, which will cause error like: `NOT_FOUND: Service account projects/knative-boskos-96/serviceAccounts/prow-job@knative-tests.iam.gserviceaccount.com does not exist`, this makes the GSA unable to set iam policy binding for Workload Identity.

[2020-03-31 18:37] liu-cong opened #743 "Mark resource ready only when both the control plane and data plane are ready"
**Problem**
Ideally a resource(e.g. trigger) is only marked at "READY" when both the control plane and data plane are ready. However in practice it's not obvious for the controller to know the data plane is ready in an efficient way. One straightforward approach is to update the data plane deployment with new configurations, however this approach can be expensive. Note this issue is not unique to

[2020-03-31 18:38] grantr opened #744 "Synchronize readiness state between controller and data plane components"
**Problem**
How can the user know for sure that the data plane is ready to correctly deliver events to a trigger, or receive events to a broker?

There are a few states that need to be synced: broker to decouple topic mapping, triggers, trigger to retry topic mapping, etc. By storing the state in a configmap and having data plane components (e.g. ingress) mounting the configmap as a volume, we can

[2020-03-31 18:40] grantr commented on #744
Duplicate of #743

[2020-03-31 18:40] #744 closed

[2020-03-31 18:45] liu-cong commented on #743
link to note: https://docs.google.com/document/d/1I_58byTZrsFYtgdBG5KHOxYz-FCc_13KX1SCUNTvyB4/edit?usp=sharing

[2020-03-31 19:08] #723 closed

[2020-04-01 00:09] grantr opened #745 "Suggestions for targets config API from the Broker controller perspective"
Just writing these down here so I don't forget:
- [ ] Need a way to create an empty `config.Targets`. For now using `memory.NewTargetsFromBytes([]byte{})` but I have to deal with an error return.
- [ ] InsertTargets is actually doing an upsert since it replaces existing targets. Had to look at the code to see if it would duplicate. The current behavior is good, but maybe should be renamed to Upser

[2020-04-01 04:05] grac3gao opened #746 "Remove skip for channel-based broker related E2E tests of Workload Identity"
**Problem**
For Workload Identity, E2E tests related on channel with broker, and eventing are currently skipped.

For channel with broker tests, the problem is: https://github.com/google/knative-gcp/pull/709#discussion_r398056790, the solution is https://github.com/google/knative-gcp/pull/709#discussion_r398316358
For eventing tests, the problem is https://github.com/google/knative-gcp/pull/709#di

[2020-04-01 16:12] #652 closed

[2020-04-01 16:54] ericlem opened #749 "Small E2E test that runs a test after an upgrade"
**Problem**
We want to have upgrade tests that ensure that the systems works during and after upgrade.  As a stepping stone to get there, we'll start by doing an install/upgrade and then running basic tests to ensure the system works AFTER the upgrade.

**Exit Criteria**
This would install the last official gcp release, upgrade to the current head eventing and gcp code (using a method as close as

[2020-04-01 17:49] nmnellis commented on #720
in our non-prod environments we would probably share the credentials. in production they would have separate ones, we are moving to using a broker so this issue might be lessened by that.

[2020-04-01 17:51] #719 closed

[2020-04-01 17:57] grac3gao commented on #658
E2E test for Workload Identity works. Thanks for your help! @chizhg. Currently, testing for if two e2e test scripts can properly run in the same boskos project in PROW.

[2020-04-01 18:53] grantr commented on #715
/kind good-first-issue

[2020-04-01 19:04] grac3gao commented on #715
It would be better to fix #735 together with this issue. If #735 is fixed, which means all cloud run resources on GKE would have a default non-empty metadata.clusterName, then we can only use `ObjectMeta.getClusterName()` to get cluster name.

[2020-04-01 22:57] #745 closed

[2020-04-02 14:05] nlopezgi commented on #556
@danyinggu will start looking at this issue

[2020-04-02 17:44] grac3gao opened #759 "Workload Identity has delay in receive-adapter"
**Describe the bug**
After Workload Identity reconciled for a source in the data plane (create a k8s Service Account, set iam policy binding as WorkloadIdentityUser to the GoogleServiceAccount with the K8s ServiceAccount, annotate the k8s ServiceAccount), the source will mark ready after topic, pullsubscription and other condition are all marked ready.

But the receive-adapter will continue with e

[2020-04-02 17:50] grac3gao opened #760 "Flaky tests in the repo"
**Describe the bug**
It seems that e2e test for TestBrokerTracing is flaky these days. And StorageSourceBrokerWithPubSubChannel and Scheduler tests are not as stable as other tests either.
https://testgrid.knative.dev/knative-gcp#continuous

 **Expected behavior**
These E2E tests become more stable

[2020-04-02 18:26] liu-cong commented on #735
It seems that customers can disable the metadata access: https://cloud.google.com/kubernetes-engine/docs/how-to/protecting-cluster-metadata

It's worth confirming this.

[2020-04-02 21:28] grantr commented on #556
Great thanks @danyinggu!

/assign @danyinggu

[2020-04-02 22:32] grac3gao opened #764 "MakeFoo(...) style methods in testing includes lots of strings in a row"
**Describe the bug**
This issue refers to @Harwayne 's commend https://github.com/google/knative-gcp/pull/709#discussion_r400403076.

Most of the `MakeFoo(...)` style methods has a lot of strings in a row. It will be hard/impossible for someone reading the code to see that everything is in the correct position.

 **Expected behavior**
More clear style for `MakeFoo(...)` style methods' input.

[2020-04-03 17:54] capri-xiyue opened #766 "Modify init_scripts of knative-gcp so that they can run multiple times(Idempotence)"
**Problem**
Currently, we have several init_scripts for example (https://github.com/google/knative-gcp/blob/master/hack/init_control_plane_gke.sh and https://github.com/google/knative-gcp/blob/master/hack/init_control_plane.sh). However, usera can only run it one time.
I just found it's quite inconvenient if something goes wrong in the script but it doesn't support running for multiple rounds.

**

[2020-04-03 17:59] capri-xiyue opened #767 "E2E tests for Cloud Build Source"
**Problem**
We need to have e2e tests to verify Cloud Build Source.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
e2e tests to verify Cloud Build Source.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?

**Additional context (optional)**
Add any other context about

[2020-04-03 18:00] capri-xiyue commented on #767
related to https://github.com/google/knative-gcp/issues/425

[2020-04-03 18:04] ericlem commented on #766
I'll see if i can get to any of this during upgrade work.  It would be useful there.
/assign

[2020-04-03 19:31] grac3gao commented on #759
https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#deployment-status

Deployments have this condition that we can check to see if minimum replicas are ready:
- lastTransitionTime: 2016-10-04T12:25:42Z
    lastUpdateTime: 2016-10-04T12:25:42Z
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"

[2020-04-04 01:32] #425 closed

[2020-04-04 02:22] capri-xiyue opened #769 "Docs for Cloud Build Source"
**Problem**
Write docs for Cloud Build Source

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.
**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?

**Additional context (optional)**
Add any

[2020-04-06 21:24] #769 closed

[2020-04-07 18:32] grantr opened #781 "Investigate switching pubsub testing to pstest"
We currently have a copy of the pubsub client interface so we can mock methods for unit testing (https://github.com/google/knative-gcp/tree/master/pkg/gclient/pubsub). The pubsub client now has a `pstest` package that might make this unnecessary.

[2020-04-07 23:01] liu-cong opened #785 "Investigate using gorilla/mux for broker ingress routing"
**Problem**
A short explanation of the problem, including relevant restrictions.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?

**Add

[2020-04-07 23:03] liu-cong opened #786 "Add integration test for broker ingress"
**Problem**
Prepare pubsub topics, start ingress, send events to it, and pull events from pubsub to verify.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you think this

[2020-04-07 23:29] ethai opened #787 "googleServiceAccount not recognized during CloudPubSubSource creation"
**Describe the bug**

I'm unable to create my CloudPubSubSource object when I include the googleServiceAccount in my manifest.

[code]

The error I'm getting is

admission webhook "webhook.events.cloud.google.com" denied the request: mutation failed: cannot decode incoming new object: json: unknown field "googleServiceAccount"

 **Expected behavior**

The pubsub object should be created

 **To Rep

[2020-04-07 23:34] #636 closed

[2020-04-08 16:35] grac3gao commented on #787
`googleServiceAccount` is newly added, and used to be named as `serviceAccount`. This issue might be caused by an old version of knative-gcp. Could you try `ko apply -f ./config` to update the latest knative-gcp to see if that solves the problem.

[2020-04-08 17:35] grac3gao opened #792 "Investigate using one controller to support both secret and workload identity"
**Problem**
Currently, we have two controller deployments to separately support secret and workload identity, as secret needs additional ENV (GOOGLE_APPLICATION_CREDENTIALS) and secret volume. @grantr pointed out that secret volume can be optional. Based on that, investigate using one controller to support both secret and workload identity and manual test initial behaviors for that.

**[Persona:](

[2020-04-08 17:58] grac3gao commented on #792
We have two ways to make it. Both can make the controller not showing error message when there is no credential set in the initial state, and use same controller deployment for secret and WI.

After setting the secret volume optional, we can:
***1).*** set the GOOGLE_APPLICATION_CREDENTIALS ENV value from secret, which can make the ENV to be optional too:
[code]
When user creating the secret to co

[2020-04-08 18:19] grantr commented on #639
The existing E2E tests for the pubsub channel-based broker should also be switched or copied to use the new broker.

[2020-04-08 18:28] ethai commented on #787
I tried with the latest knative-gcp 0.13.1 and am still seeing the same error

[2020-04-08 19:00] ethai commented on #787
Hi, I'm looking at the CRD in the latest yaml and I believe the problem is that CloudPubSubSource doesn't even accept the googleServiceAccount property and only supports 'secret'

[2020-04-08 19:20] grac3gao commented on #787
Oh, I didn't notice you are using v0.13.0 release version. v0.13.0 release doesn't include this functionality, if you want to use `googleServiceAccount` now, you need to fetch the latest master branch of knative-gcp repo and apply `ko apply -f ./config` in the current master branch (instead of install a release). This functionality is only in the current master branch.

[2020-04-08 19:39] ethai commented on #787
so in short does this mean the 'release' install essentially supports secrets and not workload identity?

[2020-04-08 20:29] grac3gao commented on #787
v0.13.0 release doesn't include WI, as WI is a newly added functionality. This doesn't mean future release would not include it. But currently, if you use release to install Knative-GCP, WI is not supported.

[2020-04-08 20:33] ethai commented on #787
perfect and thanks - closing thread as i'll workaround with secret

[2020-04-08 20:33] #787 closed

[2020-04-08 21:48] grac3gao commented on #759
For the control plane, because we have that 1 min delay, once the control plane is enabled WI, user need to wait for 1 min to apply resources. Otherwise, resources will still fail for permission issue.
If the user apply resources before configuring any credential in control plane, after configuring WI, restarting controller immediately will not lead to reconcile resource successfully. It will stil

[2020-04-08 21:50] grac3gao commented on #792
Initial Behavior for these two ways are similar:

***No credential configuration:*** controller will keep ready. If user apply resources, error will appear in resources's status condition, for invalid permission.

***Init eventing using secret:*** Controller needs restart to take the secret in. If the controller is configured with secret, and this secret is deleted later, source will reflect this

[2020-04-09 00:21] ericlem opened #796 "Pubsub topic push fails forever if first attempt to create/open topic fails"
**Describe the bug**
Pubsub publisher returns an error of the form "unable to create topic XXX, <nil>" for all pub sub publish attempts after hitting an error during initial pubsub connection creation in some circumstances.  It can be recovered by restarting the pod.

 **Expected behavior**
Errors are returned by publish calls while the underlying pub sub creation/get API's return errors, but publ

[2020-04-09 18:43] ian-mi opened #800 "Migrate to cloudevents sdk-go v2"
**Problem**
Now that v2.0.0-RC1 has been released, knative-gcp should begin migrating the v2 of the cloudevents SDK.

**Exit Criteria**
All v1 dependencies have been removed.

**Time Estimate (optional):**
1w

[2020-04-09 18:59] ian-mi opened #802 "pool_test fails without Google default credentials"
**Describe the bug**
go test ./pkg/broker/handler/pool/fanout/ fails with errors such as:
[code]

 **Expected behavior**
The test passes

[2020-04-09 20:38] yolocs opened #804 "The broker config bytes output might not always work with configmap"
**Describe the bug**
The broker config currently directly outputs raw proto marshaled bytes via `Bytes()`. Converting that to a string and put in the configmap might not work because of encoding problem.

**Solution**
Use base64 encoding to output encoded config.

[2020-04-09 20:39] ericlem commented on #658
Done.

[2020-04-09 20:39] #658 closed

[2020-04-09 21:36] grantr commented on #804
We can also use the `BinaryData` field in the configmap. This seems to work in #739.

[2020-04-09 21:43] #804 closed

[2020-04-09 21:50] v0id3r opened #806 "Pullsubscription not being deleted with Trigger deletion"
**Describe the bug**
PullSubscription created for Trigger is not removed when trigger is deleted.

 **Expected behavior**
PullSubscription should be removed if related Trigger is removed.

 **To Reproduce**
I have default broker in default namespace.
Create simple trigger -> trigger, subscription, pullsubscription created, everything ready and  works.
delete this trigger -> trigger and subscriptio

[2020-04-10 14:35] v0id3r commented on #806
Checked with inmemory channel.
After trigger deleted, channel `spec.subscribers` is not updated.
[code]

[2020-04-10 18:40] grantr opened #808 "#1 Initial deployment strategy for broker data plane components"
**Problem**
Once we have the broker data plane images, we need to create deployments for them in the cluster.

**Exit Criteria**
A cluster with the GCP broker enabled or present has a running data plane that can route events.

[2020-04-12 23:36] #802 closed

[2020-04-13 18:00] Harwayne opened #818 "TestBrokerTracing - Flaky"
**Describe the bug**
`TestBrokerTracing` has been very flaky recently in prow (anecdotally, failing >75% of the time).

 **Expected behavior**
The test should consistently pass.

**Exit Criteria**
Running the test via Prow succeeds 20 times in a row.

 **To Reproduce**
Remove the ignore for the test and run it through prow repeatedly.

[2020-04-13 19:35] grac3gao opened #821 "Flaky test in Workload Identity with concurrency issue"
**Describe the bug**
Using this issue to track.
E2E tests for Workload Identity are flaky and it will show errors as follows: adding iam policy binding failed with: failed to set iam policy: googleapi: Error 409: There were concurrent policy changes. Please retry the whole read-modify-write with exponential backoff.

Currently, an exponential backoff is added, retry 5 times, but sometime test will

[2020-04-13 20:09] grantr commented on #781
Should also look into this in the CloudEvents SDK.

[2020-04-13 20:20] grantr commented on #796
This is a bug in the SDK's PubSub transport so it affects the broker as well.

[2020-04-13 20:26] grantr commented on #806
Looks like this might be a bug in eventing. @v0id3r how high priority is this for you? Are you prototyping or using this in production? Trying to triage.

[2020-04-13 20:30] grantr commented on #650
Including tests

[2020-04-13 20:30] grantr commented on #818
This is only about the pubsub broker tests - the gcp broker tracing tests have their own issue.

[2020-04-13 20:55] v0id3r commented on #806
We are only starting to use eventing component, so it is not running live right now.
Also I think I found and fixed it.
I will submit PR in short time.

[2020-04-13 21:04] v0id3r commented on #806
I have feeling that this part is not correct in 0.13.6 release: https://github.com/knative/eventing/blob/e581ecaec7fa86b2005811a875b9a7bb39679218/pkg/reconciler/subscription/subscription.go#L475
And later real alpha channel remove handler was removed as dead code: https://github.com/knative/eventing/commit/54cee987710e6d3ca3d1ea3af1e7dedd138be341

https://github.com/knative/eventing/blob/3634f0894

[2020-04-13 21:50] grantr commented on #806
Oh nice work tracking that down! Looks like the bug was introduced in https://github.com/knative/eventing/pull/2682 and released in 0.13.0. Looking forward to your PR! It might deserve a backport.

[2020-04-13 23:23] grantr commented on #821
I wonder how long the iam policy binding update normally takes. 1 second? 3 seconds? Is it longer when there's contention? We should add metrics around this and see if we can get a chart of the latency during a test run. It may be that the current backoff settings (5 times with total 3.1s sleep) aren't enough to avoid contention.

[2020-04-13 23:25] grac3gao commented on #792
Majority favored keeping env var static and unsetting in the code.

[2020-04-14 22:37] Harwayne commented on #637
It seems like this has been accomplished. Can this issue be closed?

[2020-04-14 23:29] grantr opened #828 "Decide how triggers should be reconciled if their broker doesn't exist"
**Describe the bug**
Currently a trigger is only reconciled if its broker exists. A trigger created before a broker, or more importantly a trigger that still exists after its broker is deleted, will never be reconciled. This is an issue for gcp triggers because those triggers need to be finalized, so deleting a trigger when its broker doesn't exist causes it to hang forever because its finalizer w

[2020-04-14 23:40] grantr commented on #808
These can be static deployments initially, but since we want to make eventing practically zero cost to install, the ideal case is for these to be created on demand when eventing is configured or an eventing resource is created.

[2020-04-14 23:47] grantr opened #829 "Add custom status fields to broker and trigger containing GCP resource names"
**Problem**
Broker and Trigger own GCP pubsub resources. It would be nice if the user could see in the object's status the names of the GCP resources it owns for debugging purposes.

Currently this is allowed by the broker conformance spec and CRD schemas, but the admission webhook rejects unknown fields and the conversion webhook drops them before storing. We'd need to fix those issues in Knative

[2020-04-14 23:55] grantr opened #830 "Implementation of Targets that knows it's backed by a configmap"
**Problem**
Currently the Broker reconciler uses the in-memory variant of config.Targets to aggregate broker and trigger routing and handles persisting that to a configmap. This adds a lot of complexity to the reconciler: since reconciler threads can process multiple brokers at once, it has to run a separate goroutine to update the configmap safely. It would be nicer if there were a variant of Tar

[2020-04-15 00:00] grantr opened #831 "#1 Broker reconciler doesn't validate length of pubsub resource names"
**Describe the bug**
Pubsub resource names can't be longer than 255 characters. The resource names generated for brokers and triggers can be longer than that if their K8s names are especially long.

Similar to kmeta.ChildName, we need a strategy to truncate those names safely if they are greater than the max length. We probably shouldn't use kmeta.ChildName directly because its max length is too s

[2020-04-15 00:06] grantr opened #832 "Decide on pubsub topic and sub deletion strategy for Broker and Trigger"
When a Broker or Trigger is deleted, we also need to clean up their pubsub resources. Deleting immediately may not be the best approach for the user, since they may lose messages that were already acknowledged by the Broker.

This issue is about deciding what the deletion strategy is. We can create a new issue for implementation.

### Pubsub deletion scenarios
In pubsub, the deletion scenarios wor

[2020-04-15 00:13] grantr commented on #832
In my opinion, we should aim for the same behavior as pubsub. In this context the Broker is equivalent to the topic and the Trigger is equivalent to the pull subscription. Deleting a broker means no more ingress, but any accepted events are still delivered to existing triggers. If a trigger is deleted, no more events will be delivered to the subscriber, and any undelivered events will be dropped.

[2020-04-15 04:24] liu-cong commented on #785
An example:
https://github.com/cloudevents/sdk-go/blob/master/v2/cmd/samples/http/receiver-gorilla/main.go

[2020-04-15 15:25] yolocs commented on #830
/assign

[2020-04-15 15:26] yolocs commented on #637
There are a couple of minor things left. For proper planning, I will close this one and create separate issues for them.

[2020-04-15 15:26] #637 closed

[2020-04-15 15:38] yolocs opened #834 "#2 Send events to retry queue if the intial delivery fails"
On initial deliver failure, send events to retry queue

[2020-04-15 15:51] yolocs opened #835 "#2 Broker fanout/retry processors should directly read targets config"
**Problem**
Currently some processors expect `Broker` and/or `Target` in context while some other expect broker key. To make it more consistent, we can consistently only store broker/target key in context and have each processor read TargetsConfig by keys.

[2020-04-15 16:39] ericlem opened #837 "E2E test new broker and receives/forwards an event"
**Problem**

Add a very basic E2E tests to start up a new gcp broker, send an event, and make sure it is received as a first test at integrating the new broker into E2E tests.

This test should essentially be a copy of test/e2e/BrokerWithPubSubChannelTestImpl with a new
helper function equivalent to createBrokerWithPubSubChannel that can be used to create the
new style broker.

This will also have

[2020-04-15 16:43] liu-cong opened #838 "#2 Broker fanout fails for recreated brokers"
**Describe the bug**
For a recreated broker, fanout fails with
[code]

 **Expected behavior**
Fanout should deliver events.

 **To Reproduce**
* Create a broker, create a trigger to this broker and make sure events can be delivered
* Delete the broker and recreate it, create a trigger to the broker
* Send an event to the broker and fanout won't deliver the event to the consumers

 **Knative-GCP re

[2020-04-15 16:55] ericlem opened #839 "Add .Logf() calls to test/lib helpers"
**Problem**
Tracking down failures in E2E tests has proven time consuming.  Information about the state of the system at the time of failure is useful.  As an experiment, we should try instrumenting a lot
of the functions in test/lib with basic .Logf() calls to record both failed and successful operations.
This would make it easier to determine from logs(without looking at code) that (for instance

[2020-04-15 16:57] liu-cong opened #840 "Add metrics to broker ingress"
**Problem**
Add metrics; at least test it e2e with SD manually;
May require extra work to write a e2e test, which can be part of the broker e2e test.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**

[2020-04-15 17:27] capri-xiyue commented on #818
FYI: Logs of prow
https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/google_knative-gcp/784/pull-google-knative-gcp-integration-tests/1248388433005514752/

[2020-04-15 17:31] capri-xiyue opened #842 "Flaky E2E tests related to Cloud Audit Logs"
**Describe the bug**
`TestCloudAuditLogsSource` is kind of flaky. It is related to the SLO of CloudAuditLogsSource.
CAL source misses the CloudAuditLogs which gets created shortly after CAL source becomes ready( https://github.com/ian-mi/knative-gcp/pull/2#pullrequestreview-333515256).
The error logs of prow looks as follows: https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/google_kn

[2020-04-15 17:45] liu-cong opened #843 "#2 GCP broker controller doesn't recreate decouple topic if it's deleted"
**Describe the bug**

 **Expected behavior**

 **To Reproduce**
Create a broker, make sure decouple topic is created. Delete the topic manually. Wait for 5 min (I believe this is the global resync period? I waited 20min), the topic is not recreated.

 **Knative-GCP release version**

**Time Estimate (optional):**
2

 **Additional context**
Maybe the global resync is not enabled? I don't see any lo