[2020-07-15 22:12] nachocano commented on #1467
I think this is a dupe from https://github.com/google/knative-gcp/issues/1336
We should close one. I'll leave it to you to decide which one. I'm fine with either.

[2020-07-15 22:13] #1467 closed

[2020-07-15 22:15] grantr opened #1468 "Can't install if Knative Eventing is not installed"
**Describe the bug**
Since the controller now depends on Knative Eventing CRDs, it's possible the controller will crash unless Knative Eventing is also installed. I haven't confirmed this.

 **Expected behavior**
I can install and create a knative-gcp source pointing directly at a consumer without also having Knative Eventing installed.

 **Additional context**
I'm not sure if the expected behavio

[2020-07-15 22:17] grac3gao commented on #1336
Just add some information here: I am working on #1444, it is switching sender image to use a cev2 client. Now that most of the test images are using knclient https://github.com/google/knative-gcp/tree/master/pkg/kncloudevents., we can change the knclient to use cev2 SDK. There might be some changes in receiver pod after we switch to use cev2 SDK.

[2020-07-16 00:33] grac3gao commented on #1051
@nachocano serviceAccountName is one of the immutable fields in `CheckImmutableFields` function (secret is also an immutable fields), theoretically, once they have set,  they will not change. User have to delete and re-create source if they want to change them

However, I tested sources today with latest branch, it seems all immutable fields are not 'immutable'.  Use storage Bucket as an example,

[2020-07-16 00:38] nachocano commented on #1051
Yes, it refers to that.
While promoting things to v1, CheckImmutable stuff was outdated. I asked to update it, but wanted to make sure it was working.
I recall Ville fixed a nasty bug in eventing. Let me find it... I think is because of the multiple versions thing, that we need to call stuff manually...

[2020-07-16 00:42] grac3gao commented on #1051
@nachocano thanks! If we fixed that multiple versions thing for immutable issue, I think this one would not be an issue. (We just make those authentication immutable, then no switching is allowed in this case)

[2020-07-16 00:44] nachocano commented on #1448
We need to do this in order to be actually immutable in higher versions: https://github.com/knative/eventing/pull/3523, https://github.com/knative/eventing/pull/3522

[2020-07-16 00:44] nachocano commented on #1448
I think that needs to be done in v1beta1 and v1...

This has just become a high priority bug

[2020-07-16 00:47] nachocano commented on #1051
Sounds good. Yes, I think we have an ugly bug when we introduced v1beta1... Updated comment here: https://github.com/google/knative-gcp/issues/1448
We will have to do this also for v1, fyi @danyinggu

[2020-07-16 01:47] #1463 closed

[2020-07-16 04:39] #1395 closed

[2020-07-16 16:50] nachocano commented on #1466
The reconciler keeps on getting called, with any deployment in the cluster, and things keep on being restarted.

`{"level":"info","ts":"2020-07-16T16:47:45.298Z","logger":"controller.github.com-google-knative-gcp-pkg-reconciler-deployment.Reconciler","caller":"deployment/deployment.go:58","msg":"Annotating the controller","commit":"c3225c0","knative.dev/traceid":"d32a2aed-fa0b-446e-81a6-69abb2f5d7

[2020-07-16 22:22] yolocs opened #1474 "Istio sidecar inject should be explicitly disabled on some workloads"
E.g. controller, webhook, broker fanout/retry

[2020-07-16 22:26] danyinggu opened #1475 "Update CRDs to use `apiextensions.k8s.io/v1`"
**Problem**
In [serving](https://github.com/knative/serving/tree/master/config/core/resources) and [eventing](https://github.com/knative/eventing/tree/master/config/core/resources), we already used `apiextensions.k8s.io/v1` as the CRD API version. We should eventually update all of our CRD to use `apiextensions.k8s.io/v1` as well.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/

[2020-07-17 05:44] nachocano commented on #1416
The eventing issue has been finished.
For 0.18 we will change the storage version to be v1beta1 and a storage migration task.

For more context see https://github.com/knative/eventing/issues/3544, and the PRs it refers to

[2020-07-17 05:44] #1416 closed

[2020-07-17 05:50] nachocano commented on #1466
Tried this but it has the same problem.
Synced with Matt, and just updated the issue description. We should not use genreconciler, but instead implement LeaderAwareFuncs ourselves.

[2020-07-17 07:04] nachocano commented on #1466
Removing the milestone as disabling HA unblocks our update dependencies.
We need to re-think the patching of the secret. Problem mentioned here: https://github.com/google/knative-gcp/pull/1465#issuecomment-659904919
Some initial code in: https://github.com/nachocano/knative-gcp/tree/leader-aware/pkg/reconciler/deployment

[2020-07-17 07:10] nachocano opened #1477 "Promote ApiServerSource to v1beta1"
**Problem**
This is just a dupe of https://github.com/knative/eventing/issues/3611 so that we can track it in our own sprint.
Once we close that one, we can close this one.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

[2020-07-17 16:47] rlopez4 commented on #1372
This is still happening in 0.16.0. The pubsub topic no longer exists but it's still listed in the broker-targets configmap. I tried restarting the webhook and controller and that did not help.

[2020-07-17 17:17] rlopez4 commented on #1372
Whoops. I forgot those deployments aren't supposed to be there. It's all broker-cells now. In which case it seems to be working fine as far as I can tell.

[2020-07-17 17:17] #1372 closed

[2020-07-17 22:00] capri-xiyue commented on #1448
Wondering whether we  also need to do that in v1alpha1. I checked the codebase, we write the function `CheckImmutableFields` but it is never get called in validation logic.

[2020-07-20 15:45] danyinggu opened #1482 "Make v1 the storage version for all sources (except CloudBuildSource)"
**Problem**
We will not make v1 the storage version for any of the source in 0.17 cut. We will v1 the storage version in 0.18, create a stand-alone issue to track this.
Relates to #1409, #1410, #1411 and #1412.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
v1 is the storage version for all sources (except Clo

[2020-07-20 17:07] grac3gao commented on #1394
fixed by #1415 and #1444

[2020-07-20 17:07] #1394 closed

[2020-07-20 17:29] capri-xiyue commented on #1477
Close this issue because https://github.com/knative/eventing/issues/3611 gets closed

[2020-07-20 17:29] #1477 closed

[2020-07-20 17:42] Ectelion commented on #1300
This has been addressed as part of [PR1379: Add hpa knobs for broker-gcp #1379](https://github.com/google/knative-gcp/pull/1379).

[2020-07-20 17:42] #1300 closed

[2020-07-20 20:50] ericlem opened #1483 "Figure out what releases to use in an upgrade test and how to find those releases"
**Problem**
We want to start performing an upgrade test that upgrades from the most recent release to the current head.  As a first step, we need to find a way to find a pointer to the yaml/images for the most recent release to upgrade from.

**Exit Criteria**
A description of what the from and to is, how we find the yaml/images for this release, and a rough description of how we would perform the

[2020-07-20 20:59] grac3gao commented on #1021
Put a summary for the permission I used to conclude:

For brokerGSA:
roles/pubsub.editor. (For basic broker functionality, needed in both Secret mode and WI mode)
roles/monitoring.metricWriter (For metric in WI mode, Secret mode doesn’t need it)
roles/cloudtrace.agent (For tracing in WI mode, Secret mode doesn’t need it)

For controlGSA:
roles/pubsub.editor (for CloudPubSubSource, Pullsubscription

[2020-07-20 21:34] #1474 closed

[2020-07-21 00:08] grantr opened #1484 "Allow tuning resource requests and limits for BrokerCell deployments"
**Problem**
While doing performance investigations we will likely need to experiment with memory limits to understand how the broker components react. Currently there's no way to do this without editing the code, because the BrokerCell will reconcile any changes to limits made on the Deployment objects.

These fields may also be useful to the cluster operator persona, but for now I think that shou

[2020-07-21 15:17] nachocano commented on #1414
@bharattkukreja can we close this one if the eventing counterpart is fixed?

[2020-07-21 15:24] bharattkukreja commented on #1414
Yep, closing this issue

[2020-07-21 15:24] #1414 closed

[2020-07-21 15:25] nachocano commented on #1414
Eventing counterpart fixed. Closing this tracking issue

[2020-07-21 18:49] nachocano opened #1488 "Update dependencies is broken"
**Describe the bug**
Updating dependencies is broken. It seems that there were some renamings in eventing.

[code]

Previously there was a problem in pkg, which modified the monitoring.PortForward signature. But that has been reverted. See https://github.com/knative/pkg/pull/1537

 **Expected behavior**
Can update dependencies

[2020-07-21 18:52] danyinggu commented on #1448
@bharattkukreja : Just synced with @nachocano offline, we should:
1. Make sure the checkImmutability is called in validation logic for all versions of sources (v1, v1beta1 and v1alpha1).
2. Make sure in our code base, the immutable fields that are included in the checkImmutableFields function are correct, complete and consistent among sources, need to add the missing fields if needed.
3. Based on

[2020-07-21 18:56] danyinggu commented on #1448
I already worked on the UTs to cover all fields in our current code base, will submit a PR, and @bharattkukreja will take over this issue. He might need to add more fields if missing and add UTs to them (see point 2 in the above comment)

[2020-07-21 19:37] #1429 closed

[2020-07-21 20:14] yolocs opened #1489 "Repeatable testing setup for analyzing broker performance and resource usage"
The test setup could be manual. The goal is to make it easy to run a certain workload against the broker.

[2020-07-21 20:16] yolocs opened #1490 "Profiling broker components under different testing workload"
Also in scope: learn to understand profiling data and what actions we could take

[2020-07-21 20:18] yolocs opened #1491 "Stress test broker until it's broken"
The goal is to understand the limits of our current broker setup

[2020-07-21 20:31] yolocs opened #1492 "Test pubsub client performance in an isolated env"
A rough setup could be in a single process having a pubsub client pulls a subscription.
Some variance in the setup:
* Set up the subscription with different `ReceiveSettings`
* Pre-fill the subscription with a lot of messages

Things to look at: cpu/memory usage

[2020-07-21 21:16] grantr commented on #1468
Install docs say this:

If Eventing is required, we should update that line.

[2020-07-21 21:18] grantr commented on #1468
A compromise fix for this is a clear error message in the controller when Eventing is not installed.

[2020-07-21 21:40] Harwayne commented on #1455
This could be done by making the upstream test framework in knative/eventing be backend agnostic, but the easier and more likely fix is to copy the framework into this repo and alter it as needed to use Cloud Trace as the backend, instead of Zipkin (as is assumed in knative/eventing's framework).

[2020-07-21 21:42] Harwayne commented on #1455
Note that this test is currently skipped because other StackDriver tests assume that the backend is StackDriver and the tests assume that the backend setting is set once. We do not currently have a mechanism to have one test use a particular backend while another uses a distinct backend.

[2020-07-21 21:43] Harwayne commented on #1455
Lowering to P2 because Channels are lower priority than other work. But this should be considered blocking for Channels.

[2020-07-21 22:37] Ectelion opened #1494 "Release-0.16 branch vendors an outdated Knative Eventing 0.15 dependency"
**Describe the bug**
In [go.mod (version 0.16)]( https://github.com/google/knative-gcp/blob/v0.16.0/go.mod), see knative.dev/eventing dependency.

 **Expected behavior**
The branch should vendor the respective 0.16 Eventing version.

[2020-07-21 22:54] #1336 closed

[2020-07-22 10:27] meteatamel opened #1496 "Setup instructions with Workload Identity is too complicated"
**Problem**
If you want to setup Knative on GKE with Knative-GCP project and with Workload Identity auth, the setup instructions are way too complicated. You need to first follow [install-knative-gcp](https://github.com/google/knative-gcp/blob/master/docs/install/install-knative-gcp.md) and then follow [dataplane-service-account.md](https://github.com/google/knative-gcp/blob/master/docs/install/da

[2020-07-22 16:19] capri-xiyue opened #1499 "Source API objects must be able to round-trip between API versions without information loss"
**Describe the bug**
 Source API objects must be able to round-trip between API versions without information loss. FYI: https://kubernetes.io/docs/reference/using-api/deprecation-policy/
But currently we don't support it. We lost spec.PayloadFormat for v1beta1 and v1alpha1 CloudStorageSource when we convert them from v1 CloudStorageSouece
https://github.com/google/knative-gcp/blob/b3228460098345fa

[2020-07-22 16:29] nachocano commented on #1499
I think when dowgrading to v1beta1 for status.ServiceAccontName, you can just set status.ServiceAccontName = spec.ServiceAccountName, as it is the same.
For CloudStorageSource spec.PayloadFormat, you can just set it to "JSON_API_V1". We weren't honoring that attribute, we were always using the same value.

[2020-07-22 16:58] nachocano commented on #1488
Assigning to @ericlem so that you have it on your radar for this week

[2020-07-22 17:48] nachocano commented on #1357
@grac3gao do you know if this can be closed with this PR https://github.com/google/knative-gcp/pull/1461?

[2020-07-22 17:51] nachocano commented on #1482
This should be done after the 0.17 cut

[2020-07-22 17:54] grantr opened #1500 "Document broker stress testing scenarios"
**Problem**
We need a list of standard test scenarios to use when probing the broker's performance characteristics. Related to #1489, #1490, and #1491.

The test scenarios should be designed to push the broker to its limits and beyond, but based on realistic customer use cases and performance targets.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**

[2020-07-22 17:59] nachocano opened #1501 "Add new features to ApiServerSource v1beta1"
**Problem**
In order to consider ApiServerSource in v1beta1 state, we should add the new features asked from the community.
This is just a duplicate to track the eventing issue here: https://github.com/knative/eventing/issues/3675

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
ApiServerSource v1beta1 with new features

[2020-07-22 18:00] grantr opened #1502 "Determine applicability of Kubernetes QoS classes or priority class to broker deployments"
**Problem**
Kubernetes supports [QoS classes](https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/) and [PriorityClass](https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/) as methods of controlling which pods should be evicted first under resource pressure. These may be useful when planning the preemption of broker pods vs customer pods.

[2020-07-22 18:09] nachocano opened #1503 "Propose improvements to EventType"
**Problem**
Eventing api group has moved to v1 but EventType. We have asked to hold off the promotion of EventType until we can gain more insights of what the shape might look like. This task is to track the eventing https://github.com/knative/eventing/issues/2750

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer, Operator

**Exit Criteria**
A definition o

[2020-07-22 18:10] nachocano commented on #1503
Adding it as part of the Sources project, as we do not have a Discovery one (yet)

[2020-07-22 18:17] grantr commented on #1484
Also part of this is updating the HPA thresholds to match resource limits.

[2020-07-22 18:18] grantr commented on #1250
Fixed by #1379. Duplicate of #1300.

[2020-07-22 18:18] #1250 closed

[2020-07-22 18:20] #1267 closed

[2020-07-22 18:32] grantr commented on #1490
Blocked by #1489

[2020-07-22 18:41] grac3gao commented on #1357
@nachocano Thanks for reminding this! Closed as #1461 lands

[2020-07-22 18:41] #1357 closed

[2020-07-22 18:49] nachocano commented on #1501
If this is just a data plane change, it might take just 2 story points.
If we need to add stuff to the spec, then is bigger, and it might be 5

[2020-07-22 18:49] grantr commented on #1492
Proposed exit criteria: a document containing the following:
- A list of scenarios tested
- Explanation of the test setup (so that it can be repeated)
- Results of the tests run
- Analysis of results

Before starting work on this, I'd recommend asking the pubsub client team if they know of any related work we can use.

This issue may be too large for a single sprint.

[2020-07-22 20:45] bskaplan commented on #1483
/assign

[2020-07-22 22:00] #665 closed

[2020-07-22 23:12] ian-mi opened #1506 "Eliminate Broker Ingress HTTP Span"
**Problem**
Two nearly identical spans are created broker ingress: the HTTP handler span followed by the main broker ingress span. These could be combined into a single span in order to improve trace readability.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event producers and consumers

**Exit Criteria**
Manual verification that broker ingress creates a single

[2020-07-23 17:03] yolocs commented on #1489
Test setup tool is at: https://github.com/yolocs/ce-test-actor
Existing scenarios are at: https://github.com/yolocs/ce-test-actor/tree/master/scenarios

[2020-07-23 22:36] yolocs opened #1511 "Delivery processor event.Clone consumes too much unnecessary memroy"
Problematic code:

https://github.com/google/knative-gcp/blob/73a3d4a3ca48aad0d7b6c2345012f59c203677d9/pkg/broker/handler/processors/deliver/processor.go#L106

Revealed from profiling, `event.Clone()` dominates the memory consumption (which potentially causes a serials of stability issues).

With clone.
![with_clone](https://user-images.githubusercontent.com/14087829/88345138-2dc50b80-ccfa-11ea-84

[2020-07-24 18:59] grac3gao commented on #1502
For the **QoS**, there are three levels, best-effort, burstable and guaranteed (less important -> more important). When the node is overcommitted, Kubelet will kill containers that are less important: [QoS classes](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/resource-qos.md#qos-classes)

Currently, we set our memory/CPU limit > memory/CPU request, and it

[2020-07-24 19:09] bskaplan commented on #1483
Looks like there's a method in knative.dev/eventing/test/e2e-common.sh for finding the latest release from the git tags. Since knative-gcp uses the same release schedule and numbering as knative/eventing, we should be able to re-use that to find the latest release. https://github.com/knative/eventing/blob/master/test/e2e-common.sh#L68

[2020-07-24 21:23] capri-xiyue commented on #1499
Not sure whether it's a bug, not sure whether it falls under the exception:
Rule #2: API objects must be able to round-trip between API versions in a given release without information loss, with the **exception of whole REST resources that do not exist in some versions.**
@adam Do you have any ideas?

[2020-07-24 21:31] capri-xiyue commented on #1499
I don't think we need to do roundtrip for status.ServiceAccontName since reconciler will never set the status.ServiceAccontName now and user also won't set it.
Yep. I think for CloudStorageSource spec.PayloadFormat, you can just set it to "JSON_API_V1".

[2020-07-25 02:09] capri-xiyue commented on #1499
For this Rule #2: API objects must be able to round-trip between API versions in a given release without information loss, with the **exception of whole REST resources that do not exist in some versions** listed under https://kubernetes.io/docs/reference/using-api/deprecation-policy/, I'm not sure whether our case falls in the category of exception. If it is, then it's not a bug.

[2020-07-27 17:00] grantr opened #1516 "Introduce a ConfigMap to configure broker delivery spec defaults"
**Problem**
Followup to #1072. Add a configmap to allow the cluster admin to set defaults for delivery settings (retry, dlq) for all new brokers.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Operator

**Exit Criteria**
Operator can use a configmap to set delivery defaults for new brokers.

[2020-07-27 17:00] grantr commented on #1072
@tommyreddad asked offline about default. My preference for defaulting is setting a default BackoffPolicy and BackoffDelay in SetDefaults. That simplifies the default handling code in the controller and shows the user how to use the policy fields. We don't need to set defaults for DeadLetterQueue or Retry.

A future enhancement could create a configmap that allows a cluster admin to modify these d

[2020-07-27 17:44] capri-xiyue opened #1517 "Add data plane performance regression tests for sources"
**Problem**
Add data plane performance regression tests for sources

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
Add data plane performance regression tests for sources

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?

**Additional context (optional)**
Add any oth

[2020-07-27 17:54] capri-xiyue commented on #1517
Maybe we can follow how broker does for the performance tests

[2020-07-27 18:27] tommyreddad opened #1519 "Determine handling of dead letter topic creation/deletion"
**Problem**
Part of #1072. We need to specify how to handle dead letter topics upon Broker creation/deletion, as part of implementing the broker delivery spec.

1. Should a dead letter topic be created if it doesn't exist when the Broker is created? (yes, according to https://github.com/google/knative-gcp/issues/1392#issuecomment-655617873)
2. When a Broker is deleted, should its dead letter topic

[2020-07-27 19:01] nachocano commented on #1503
Proposal here: https://docs.google.com/document/d/1LtDPmithgr6Myj9eagIQ6IHQjsjAtzZlX3d0D4fw2A0/edit#

[2020-07-27 19:02] #1503 closed

[2020-07-27 19:13] Ectelion opened #1520 "Memory-based autoscaling for the Broker deployments may not be reachable in certain circumstances"
For the Broker deployments — Fanout, Retry, Ingress —  we have a considerable span between requested memory and the memory limit e.g. "500Mi" and "3000Mi" for Fanout, respectively. At the same time, when the HPA is initialized, it includes a parameter for memory-based auto-scaling, and the threshold is currently selected as half of the memory limit, e.g. "1500Mi" in this case. Note that "1500Mi" i

[2020-07-27 19:18] capri-xiyue commented on #1499
Just talked with @Harwayne, the [deprecation policy](https://kubernetes.io/docs/reference/using-api/deprecation-policy/#:~:text=Occasionally%20a%20Kubernetes%20release%20needs,year%20after%20their%20announced%20deprecation.) is for kubernetes. Since we build on kubernetes, we may not need to follow it. But it's a good reference for us when we reach stable api. Since v1alpha1 and v1beta1 are not st

[2020-07-27 19:18] #1499 closed

[2020-07-27 19:46] tommyreddad commented on #1072
FYI: I did a quick investigation of the pubsub exponential backoff retry behaviour. Currently, it appears that the exponential factor in retry delay tends to be less than 2, and closer to roughly 1.3. See the attached plots for the measured empirical backoff delay using pubsub's retry policy with two settings, one with MinimumBackoff=1ms, and one with MinimumBackoff=2s.

![backoff 1ms 10m](https:/

[2020-07-27 20:05] capri-xiyue commented on #1119
Check with CLI regarding the roles we will use if there is any change of the roles.

[2020-07-27 20:14] capri-xiyue commented on #1321
We may need a new prow job for the conformance tests.

[2020-07-27 20:17] capri-xiyue commented on #1216
@grac3gao  Is this still an issue or we can close it?

[2020-07-27 20:19] capri-xiyue commented on #1051
We can close this issue since we have decided that switch of the data plane authentication is not allowed and we created this issue https://github.com/google/knative-gcp/issues/1448 to fix the immutability problem

[2020-07-27 20:19] #1051 closed

[2020-07-27 20:23] nachocano commented on #1292
We might need to update the KEDA version here as well

[2020-07-27 20:29] capri-xiyue commented on #1482
Maybe we should follow knative eventing to have a migration tool.

[2020-07-27 22:04] nachocano commented on #1321
Should look at this as well: https://github.com/knative/pkg/issues/1563

[2020-07-27 22:04] nachocano commented on #1321
and this one: https://github.com/knative/eventing/pull/3719

[2020-07-28 01:11] grac3gao commented on #1502
For the **Pod Priority**, it is used for scheduler to order pending pods. ([Effect of Pod priority on scheduling order](https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#effect-of-pod-priority-on-scheduling-order)). If no Node is found that satisfies all the specified requirements of the Pod, Preemption logic will preempt lower priority Pods which are in the Node according

[2020-07-28 01:59] #1412 closed

[2020-07-28 02:00] #1409 closed

[2020-07-28 02:00] #1411 closed

[2020-07-28 02:00] #1410 closed

[2020-07-28 05:53] grac3gao commented on #1502
For summary, there are three scenarios:
1. [Node OOM Behavior](https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#node-oom-behavior):
Referring to when node experiences a system OOM (out of memory) event **prior** to the` kubelet` being able to reclaim memory, `kubelet` will kill some containers as OOM. The difference between Pod eviction and Pod container OOM killed is Pod conta

[2020-07-28 17:18] grantr commented on #1516
We decided that we don't want DLQ defaults because the lifecycle of the default DLQ is unclear.

[2020-07-28 17:19] yolocs opened #1522 "Add timeout delivery metrics"
Currently we have delivery dispatch time metrics with response code. But if the delivery is cancelled because of timeout, we don't report metrics which could be useful in identifying receiver issues.

[2020-07-28 17:34] tommyreddad commented on #1519
We decided that we don't want to handle dead letter topics: https://github.com/google/knative-gcp/issues/1516#issuecomment-665167868

[2020-07-28 17:34] #1519 closed

[2020-07-28 17:46] #1511 closed

[2020-07-28 18:26] #1405 closed

[2020-07-28 19:24] bskaplan commented on #1483
OK, it's going to be a bit more complicated than that because while we can re-use that implementation for installing upgrades and downgrades to knative-gcp components, we install knative/eventing from the exported YAMLs in GCS. We can either assume knative-gcp versioning matches knative/eventing versioning, or use dates on the GCS objects to find the most recent knative/eventing release for non-re

[2020-07-28 21:12] Harwayne commented on #1468
P1 - Change in documentation, saying that you need Knative Eventing installed.
P2 - Have the controller check if Knative Eventing is installed, if it isn't give a good error message to the user. As opposed to the existing code which will have all the reconcilers startup in parallel and the returned error may not be as helpful.

[2020-07-28 21:13] Harwayne commented on #1475
@danyinggu has this work started?

[2020-07-28 21:18] Harwayne commented on #1494
@ericlem We might want a new issue that addresses the fact that it seems like our update-deps.sh script doesn't always update to what we expect.

[2020-07-28 21:33] danyinggu commented on #1475
No It hasn't started yet. I think we can utilize your PR #919 to change it to use v1 template?

[2020-07-28 21:57] grac3gao opened #1524 "Provide guidance about configuring memory request and limit for users"
**Problem**
Once https://github.com/google/knative-gcp/pull/1509 lands, user will be able to set request and limits for broker pods.

We might need to provide some guidance for configuring memory request and limits for users, considering different resource setting combinations leads Pod to be in different QoS class, and would affect Broker Pods to have potential OOM killed/Eviction issues as  http

[2020-07-28 21:59] grac3gao opened #1525 "Define Pod Priority for broker pods"
**Problem**
As  https://github.com/google/knative-gcp/issues/1502#issuecomment-664793074 indicates, we might need to find a proper value for broker pods' `Priority`, in order to avoid pods will be preempted when node is overcommitted.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test th

[2020-07-28 22:26] #1448 closed

[2020-07-28 23:07] grac3gao commented on #1502
Created follow-up issue #1524 & #1525 based on the summary.

[2020-07-28 23:07] #1502 closed

[2020-07-29 03:13] Ectelion commented on #1494
@Harwayne, @ericlem I suspect it's due to calling update-deps without the "--upgrade" flag. Maybe a simple warning in such case would do.

[2020-07-29 05:53] nachocano commented on #1494
This is the PR that did the update. I'm almost sure I ran it with `--upgrade` (although I might be wrong)
https://github.com/google/knative-gcp/pull/1390
If you see the go.mod there, you can see that serving went to 0.16, but not eventing. So, I'm more confident that it was run with `upgrade`
If you see this PR that move pkg to 0.16 https://github.com/google/knative-gcp/pull/1373, you can see the

[2020-07-29 13:21] runzexia opened #1527 "need deploy knative crd if want use knative-gcp"
**Describe the bug**
knative-gcp controller would pending in init if the cluster do not have knative crds.

 **Expected behavior**
As readme It can be useful independently, but is best mixed with Knative.

 **To Reproduce**
Install knative gcp without knative serving/eventing crds.

[2020-07-29 16:09] danyinggu opened #1529 "Create docs for knative eventing source"
**Problem**
As requested by Knative community, we need to create stand-alone pages for ContainerSource, APIServerSource and SinkBinding. Similar to https://knative.dev/development/eventing/sources/pingsource/. Create an issue here to keep track of it.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
The pages ar

[2020-07-29 18:28] liu-cong commented on #1500
I unassigned myself for now as I don't think I will get to it this week.

[2020-07-29 19:09] capri-xiyue commented on #1475
Synced with @Harwayne  offline, Adam is ok if we use yaml merge to rewrite the yaml. So currently we can work on this issue first and Adam will work on that template change #919 later.
And here is the file of the PR that you can refer to https://github.com/google/knative-gcp/pull/1473/files#diff-03dcdd5a50d164008de2bb1c827d7cab regarding how to update CRDs to use `apiextensions.k8s.io/v1` and
use

[2020-07-29 19:12] Harwayne commented on #1475
With the changes made in #1473, namely usage of `<<:` to inject the differences between versions, I think the CRD generation is less useful than it used to be.

I think we are better off moving to `apiextensions.k8s.io/v1`, then if we still want the CRD generation in #919, we can make it match the handmade CRDs.

If we end up having issues like incorrect schemas, then we can reprioritize and get t

[2020-07-29 21:58] nachocano commented on #1435
If we decide to remove v1alpha1, we need to:

- Change our converters, not to use v1alpha1 as Hub version anymore.
- Create a migration tool so that we can move existing users to v1beta1 (or v1)

By removing v1alpha1, we will be removing a bunch of code, and we will reduce the maintenance cost (e.g., fixes to v1beta1 and v1 won't have to be backported to v1alpha1, etc.)
CLI is moving to v1beta1 so

[2020-07-29 22:15] nachocano commented on #1291
fyi @selim5
The eventing issue linked here has some context as well

[2020-07-29 23:58] capri-xiyue opened #1532 "knative-gcp broken CI/CD"
**Describe the bug**
Currently the CI/CD of knative-gcp is broker. All e2e tests which involves ksvc can't pass.
https://prow.knative.dev/job-history/gs/knative-prow/pr-logs/directory/pull-google-knative-gcp-integration-tests
and https://prow.knative.dev/job-history/gs/knative-prow/pr-logs/directory/pull-google-knative-gcp-wi-tests
It looks like the issue is related to serving.
The root cause is `

[2020-07-29 23:58] capri-xiyue commented on #1532
fyi @liu-cong

[2020-07-30 15:27] danyinggu commented on #1529
Fixed by https://github.com/knative/docs/pull/2713.

[2020-07-30 15:27] #1529 closed

[2020-07-30 15:31] danyinggu commented on #1475
@nachocano @capri-xiyue I checked the code base, since I already update all sources' CRDs to use `apiextensions.k8s.io/v1` during the promotion of source to v1, the only resources that will need to be updated are Channel and BrokerCell.

[2020-07-30 16:18] liu-cong commented on #1532
This should be temporarily fixed by https://github.com/google/knative-gcp/pull/1533.

I am going to look into whether we should use a release or nightly for serving.

[2020-07-30 16:18] #1532 closed

[2020-07-30 17:29] capri-xiyue opened #1534 "Decide whether we should use release serving or nightly serving for knative-gcp master e2e tests"
**Problem**
In https://github.com/google/knative-gcp/pull/1533, we changed from nightly serving to release serving to unblock the broken CI/CD.  Need to discuss whether we should use release serving or nightly serving for knative-gcp master e2e tests
(presubmit jobs)
**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria

[2020-07-30 17:29] capri-xiyue commented on #1534
fyi @liu-cong @chizhg

[2020-07-30 17:43] tommyreddad commented on #1516
/assign

[2020-07-30 18:22] liu-cong commented on #1534
My Thoughts: We should at least try not to use nightly builds in our presubmit jobs. An unstable nightly can block all our PRs.

### Option 1:
* Use latest version of release (we need a helper function to get that)
* If we think it's important to make sure latest knative-gcp works with serving, then we can have a separate test
### Option 2:
* Use nightly in nightly jobs
* Use latest release in all

[2020-07-30 18:30] chaodaiG commented on #1534
Thinking this from a slightly different point of view, how about treating serving and eventing as third party dependencies?

From this angle, we assume that we don't have control over them, so a reasonable approach imo is that knative-gcp only need to maintain compatibility with LTS of serving and eventing, and if knative-gcp suddenly isn't compatible with them it needs to be fixed asap, and it wo

[2020-07-30 18:42] liu-cong commented on #1534
I think it might be challenging to treat eventing as a third party dependency given the current pace of development. But serving should have no problem.

[2020-07-30 19:09] chizhg commented on #1534
Sorry what do you guys mean by "third party dependencies" here? Copying the latest release yaml files to this repo and installing from there?

For the ways forward, I'm more leaning towards the option 1 proposed by Cong above:
- Change the presubmit test jobs to use the latest serving release, e.g. the current latest serving release is v0.16.0
- Add an optional presubmit job that uses the latest n

[2020-07-30 19:10] #1488 closed

[2020-07-30 19:13] chaodaiG commented on #1534
Treating them something like GKE, i.e. the "latest" GKE being tested against is actually LTS of GKE, which is released from k8s release branches

[2020-07-30 22:24] capri-xiyue commented on #1534
If we don't use latest serving for our presubmit jobs, I'm not sure whether it will delay all the work related to compatibility issues to the final release cut.

Previously, when we find the serving or eventing has some compatibility issues with latest knative-gcp, to unblock knative-gcp CI/CD, we will ping serving and eventing to latest working nightly version to unblock CI/CD and then try to sol

[2020-07-30 22:32] liu-cong commented on #1534
How do we depend on serving currently? Is serving only needed in the tests?

[2020-07-30 22:33] chaodaiG commented on #1534
I can totally see the point of delaying in cutting releases, which is a very solid issue. But still, I'm not feeling great in thinking of blocking contributions based on moving targets. So, how about:

- Gate presubmit test with LTS serving and eventing
- Continuously testing master with nightly serving and eventing
- (Optionally) When in doubt, one can manually trigger tests against nightly servi

[2020-07-30 22:41] capri-xiyue commented on #1534
I just checked the code. Besides the e2e tests, we also need ksvc when we create topic:
https://github.com/google/knative-gcp/blob/7bf16c6b11e72c295118cf8017e6fff882134b7a/pkg/reconciler/intevents/topic/topic.go#L212

[2020-07-30 22:47] liu-cong commented on #1534
If our code depend on certain serving release, I think the test clusters should install that release too. Right now we use 0.16.1: https://github.com/google/knative-gcp/blob/master/go.mod#L33

[2020-08-03 15:16] nachocano commented on #1071
See the race here as well: https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/google_knative-gcp/1498/pull-google-knative-gcp-unit-tests/1290291893745225732

[2020-08-03 16:25] nachocano commented on #1435
Synced with UI folks, there is no risk of removing v1alpha1 on that front

[2020-08-03 16:26] nachocano commented on #1435
By removing v1alpha1, we will also probably reduce our E2E test time, as we run SmokeTests for all versions.

[2020-08-03 17:00] nachocano commented on #1234
Based on @Harwayne explanation, do we still think this is a P1? Seems more like a P2 to me?
@ian-mi WDYT?

BTW, seems like it's not a Sources problem. I think we need another project area in knative-gcp. Security might be useful to have, as I've seen some WI-related issues as well.

[2020-08-03 17:51] nachocano commented on #1447
Moving it to Security area as is more WI-related. Let me know if you think otherwise

[2020-08-03 18:29] nachocano commented on #1466
The Deployment reconciler is some hack we needed to so that as soon as we patched the control-plane secret, we restarted the pod. Otherwise it could take a while. See https://kubernetes.io/docs/concepts/configuration/secret/#mounted-secrets-are-updated-automatically, and in practice we saw it took ~1 min.

Re-assigning this to Security as it's more related to that area than just Sources, and folks

[2020-08-03 19:14] grantr opened #1540 "Memory leak in Stackdriver exporter as used by Broker fanout"
**Describe the bug**
Broker fanout emits dispatch time and processing time metrics. When the Stackdriver exporter is enabled, memory is primarily used by ReportEventDispatchTime and reportEventProcessingTime and the fanout pods frequently crash due to OOM.

When these two methods are disabled by early `return` statements, memory usage of fanout pods is consistently low and primary usage is network

[2020-08-03 19:30] grac3gao commented on #1216
Sorry I didn't notice to reply this thread! @nachocano @capri-xiyue
I think this issue is just used to track an open question (we are not sure if the users want the `serviceAccountName` field to do other things rather than authentication). We might do some work once the user have such request, but now, we don't need to do that.
We can probably let it open with a low priority only for tracing purpo

[2020-08-03 21:37] nachocano commented on #1517
We should do an investigation and split this into multiple issues.
Maybe try to have mako tests measuring throughput, and some memory/cpu profiling of our receive adapter as well

[2020-08-03 21:53] capri-xiyue commented on #1435
If removing v1alpha1 doesn't affect UI and CLI, I'm find that we remove v1alpha1.
For sources like CAL source, CloudStorageSource, CloudPubSubSource and CloudSchedulerSource has v1 version.
But for CloudBuildSource and Channel, we only have v1alpha1 and v1beta1. Not sure whether removing v1alpha1 support for those resources have any side effects.

[2020-08-03 22:05] capri-xiyue commented on #1435
Just checked the https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning/,
To remove old version, we need to

Removing an old version:
Ensure all clients are fully migrated to the new version. The kube-apiserver logs can reviewed to help identify any clients that are still accessing via the old version.
Set served to false for the old version in th

[2020-08-03 23:39] Harwayne commented on #1147
/close

The trace is now running all the way from the `CloudPubSubSource` through the `googlecloud` Broker to the Knative `Service`, even without anything being done by the user container inside in the Knative `Service`.

![2020-08-03-Trace](https://user-images.githubusercontent.com/227171/89237236-853f6300-d5a7-11ea-995a-fba9f1a334a8.png)

[2020-08-03 23:39] #1147 closed

[2020-08-04 15:33] danyinggu opened #1543 "Refactor Pubsub Finalizers of mark sub-condition status"
**Problem**
According to discussion PR #1538 - https://github.com/google/knative-gcp/pull/1538#discussion_r464479107, we decide to refactor some points to make the finalizer consistent between all resources:
1. Remove mark status as Fail or NotReady when the deletion of subCondition is successful, while current deletion of PubSub does this https://github.com/google/knative-gcp/blob/7bf16c6b11e72c2

[2020-08-04 16:32] nachocano commented on #1501
@danyinggu has fixed the eventing counterpart. Agreed in the Sources WG that the different kubeconfig can be added later, irrespective of the promotion to v1beta1.
Closing this one

[2020-08-04 16:32] #1501 closed

[2020-08-04 16:39] nachocano commented on #1435
OK, given that we have no strong objections, and both CLI and UI have switched to v1beta1, we decided to remove v1alpha1 support.

re: Channel and CloudBuildSource having v1alpha1 and v1beta1 only, I don't see it as a problem to remove v1alpha1, as long as we do the proper migration for our users.

We should probably do this after 0.17 cuts, but add a Deprecated condition to our resources that v1a

[2020-08-04 16:39] #1435 closed

[2020-08-04 16:43] nachocano opened #1544 "Remove v1alpha1 support for our Resources"
**Problem**
In https://github.com/google/knative-gcp/issues/1435, we agreed to remove v1alpha1 versions of all our resources.
We should do this after 0.17 cuts.
We should add a migration tool for our users to run before upgrading to 0.18, so that we can move all of their resources to v1beta1 (or v1).

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exi

[2020-08-04 16:44] liu-cong commented on #1525
Data plane pods: Should have a higher priority than the default 0
Control plane pods: should not have higher priority than data plane pods as we think it's more important to keep events flowing.

[2020-08-04 16:44] liu-cong commented on #1525
We will ask GKE team for their recoomendation.

[2020-08-04 16:49] liu-cong commented on #1524
This is important as an interal document too, even if customers don't need to know all the details.

[2020-08-04 16:51] liu-cong commented on #1524
Need to decide whether we'd like to follow GKEs recommendation of request=limit for memory.

[2020-08-04 16:52] liu-cong commented on #1524
It's important to provide knobs for customers. However, we think it's better to provide some high level "broker profiles" to the customers, and we can adjust all knobs based on the profile. For instance, ask the user to ask how many bytes of events they have and derive values for knobs based on that.

[2020-08-04 16:58] liu-cong opened #1545 "Decide whether we should set request=limit for memory for broker data plane"
**Problem**
A short explanation of the problem, including relevant restrictions.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?

**Add

[2020-08-04 17:03] liu-cong commented on #1545
Things to consider:
* Setting limit>request helps us handle memory surges, though at the cost of potentially OOM other pods with request<limit
* Also, when usage>request, it's more easily to be killed when node is overcommited

[2020-08-04 17:05] liu-cong commented on #1520
Need to figure out #1545 first

[2020-08-04 17:07] liu-cong commented on #1545
Action items:
* Ask GKE team about recommendation in this particular case (spiky memory use)
* How to avoid memory spikes?

[2020-08-04 17:09] grantr opened #1546 "Broker memory usage spikes on initial load arrival"
**Describe the bug**
A clear and concise description of what the bug is.

 **Expected behavior**
A clear and concise description of what you expected to happen.

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative-GCP release version**

 **Additional context**
Add any other context about the problem here such as proposed priority

[2020-08-04 17:12] liu-cong commented on #610
Should probably implement this in Mako

[2020-08-04 17:18] liu-cong commented on #610
Definition of upgrade: upgrade from an old release to a newer release.

[2020-08-04 17:26] #1127 closed

[2020-08-04 18:14] nachocano opened #1547 "Mark v1alpha1 being Deprecated"
**Problem**
We decided to remove v1alpha1 support after 0.17 cuts. We should document in the release notes that we will be removing it. Further, we should have a deprecation warning in the status of the resources, probably set in the v1alpha1 conversion logic.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
Mark v1alpha1 to be deprecat

[2020-08-04 18:24] nachocano commented on #1547
We should add a Deprecated status condition, similar to what this does:
https://github.com/knative/eventing/pull/3141/files#diff-99d1987d2919a2cce497502d2ecee2b0R218

But we should probably add it in the v1alpha1 conversion logic...

[2020-08-04 18:25] nachocano commented on #1547
fyi @danyinggu in case you are interested and have some cycles

[2020-08-04 18:28] yolocs opened #1548 "Logging full event on ingress error causing unnecessary memory usage"
From profiling data.

Current

![hDPobM0jin8](https://user-images.githubusercontent.com/14087829/89330682-7b6c3d00-d645-11ea-818e-f52f0eeff317.png)

After removing logging

![bsHmaF8wEnn](https://user-images.githubusercontent.com/14087829/89330774-9939a200-d645-11ea-87e0-1552575ac720.png)

[2020-08-04 18:30] danyinggu commented on #1547
@nachocano Sure, I am definitely willing to work on it. A quick question: should it be done after v1alpha1 is removed, or these are two separate issues that can be done in parallel?

[2020-08-04 18:45] yolocs opened #1550 "Avoid pubsub publish error under higher qps in ingress"
When a single ingress pod is handling non-trivial qps (e.g. >200), we have seen the following error constantly happening.

[code]

It seems this is related to PubSub publish setting. https://github.com/googleapis/google-cloud-go/issues/1457#issuecomment-501462654

[2020-08-04 18:51] grantr opened #1551 "Use desugared logger in broker data plane and fields instead of Sprintf"
**Problem**
The broker ingress currently uses ~the Zap sugared logger and~ fmt.Sprintf to interpolate variables before logging. ~The desugared logger is safer at runtime and more efficient. We should be using the desugared logger everywhere in the data plane.~

Using Sprintf means we allocate memory for a log message even if it is below the current log level. We should use Zap fields instead, as t

[2020-08-04 19:14] grantr commented on #1550
The bundler is a generic request bundling mechanism in the gcp client library (https://godoc.org/google.golang.org/api/support/bundler). It has multiple options for tuning when to send a bundle, including:
- time since first message in bundle (DelayThreshold)
- Number of messages in bundle (BundleCountThreshold)
- Bytes in bundle (BundleByteThreshold)

The defaults used by pubsub client are [Delay

[2020-08-04 19:45] nachocano commented on #1547
Great! This should be done first and before 0.17 cuts. After the cut, we remove the support for v1alpha1 for 0.18.

[2020-08-04 19:54] #1540 closed

[2020-08-04 21:52] grantr commented on #1527
Sorry you had trouble with the docs @runzexia. The readme is incorrect. In fact the knative-gcp controller currently depends on serving and eventing also being installed in the cluster. This is a bug in our docs and #1468 tracks fixing them.

Is it important for your use case to be able to use the knative-gcp components without eventing installed, or without serving installed? We'd love to know if

[2020-08-04 21:56] #1294 closed

[2020-08-04 22:25] yolocs commented on #759
@capri-xiyue Do you know if this is fixed as described in https://github.com/google/knative-gcp/issues/759#issuecomment-608619710?

[2020-08-04 22:34] grac3gao commented on #759
@capri-xiyue could you confirm if currently, the source's condition will also reflect underlying receiver-adaptor's deployment status? based on your PR https://github.com/google/knative-gcp/pull/1339

[2020-08-04 22:40] capri-xiyue commented on #759
@grac3gao  Yep. Currently, the source's condition will reflect underlying receiver-adaptor's deployment status.

[2020-08-04 22:42] yolocs commented on #1489
@grantr @grac3gao Do you think the current test setup is repeatable enough to close this issue? If not, what's missing?

[2020-08-04 22:46] grac3gao commented on #1489
I think it is repeatable enough, it helps me a lot to run the test.

[2020-08-04 22:49] grac3gao commented on #759
#1339 fixed this

[2020-08-04 22:49] #759 closed

[2020-08-04 22:50] yolocs commented on #1500
@grantr @grac3gao Do you think the scenarios here https://github.com/yolocs/ce-test-actor/tree/master/scenarios are good enough to close this issue? For all the problems we have detected, it doesn't seem we went beyond these scenarios (some parameters might be different from the generated yamls).

[2020-08-04 22:59] capri-xiyue commented on #1547
@danyinggu  You can also take this PR as an example https://github.com/knative/eventing/pull/2107/files#diff-e18136aeccdc97c7dda5625ba2457979

[2020-08-04 23:06] yolocs opened #1552 "Adjust broker components resource request/limit and HPA for a reasonable default setup"
We need to adjust the broker components resource request/limit and HPA so that it can meet the most common needs. Some criterias:

* Components won't crash because of OOM
  * This implies each component, with a limit in mind, is able to protect itself from over consuming memory.
  * This also means we fixes all the memory leaks (if there are more).
* The setup will be able to support common loads.

[2020-08-04 23:11] yolocs opened #1553 "Determine formula for broker resource configuration given expected load"
In addition to a default setup (https://github.com/google/knative-gcp/issues/1552), we want to enable users (with the need) to configure the resource request/limit and hpa. That requires us provide guidance to answer questions like "with this much load, what broker setup I should use and how much footprint it would cause"?

[2020-08-04 23:12] yolocs commented on #1254
With further investigation, more concrete issues (e.g. https://github.com/google/knative-gcp/issues/1548, https://github.com/google/knative-gcp/issues/1550) are replacing this issue.

https://github.com/google/knative-gcp/issues/1552 should cover a scale we want to support (by the default setup).

[2020-08-04 23:12] #1254 closed

[2020-08-04 23:15] yolocs commented on #1265
More concrete issues (e.g. https://github.com/google/knative-gcp/issues/1548, https://github.com/google/knative-gcp/issues/1550, https://github.com/google/knative-gcp/issues/1511, https://github.com/google/knative-gcp/issues/1540) are replacing this one.

[2020-08-04 23:15] #1265 closed

[2020-08-04 23:17] yolocs commented on #1553
The result would also help: https://github.com/google/knative-gcp/issues/1553

[2020-08-04 23:25] grac3gao commented on #1550
In my case (500qps-1M), this error
[code]
will lead the ingress pod to `CrashLoopBackoff`, then the broker becomes unready, the ingress then has error:
[code]
which makes an endless lock.

[2020-08-04 23:55] ian-mi commented on #1550
I think it should be safe to have MaxBufferedBytes on each topic equal the MaxOutstandingBytes set in the pull side. Note the retry topic's buffered messages should not be using additional memory outside of their attributes once we've successfully removed all data copies so most of the buffered bytes memory use is already being limited by MaxOutstandingBytes.

[2020-08-05 01:45] #1548 closed

[2020-08-05 02:53] runzexia commented on #1527
In our scenario, being able to deploy independently is very useful.
We use resources such as cloudpubsub and forward them to the kubernetes service (not knative service).
We are still investigating the use of knative core. But I now need to deploy many additional components (istio/knative)

[2020-08-05 17:55] grantr commented on #1489
I think all that's missing is documentation of how to use the tool. That can go in https://github.com/google/knative-gcp/tree/master/docs/development.

[2020-08-05 17:56] grantr commented on #1500
I think those scenarios are a good start, but to close this issue they need to be documented in this repo (ideally with a link to the scenario directory in the ce-test-actor repo).

[2020-08-05 18:19] grantr commented on #1553
This includes testing multiple scenarios, and maybe multiple brokers.

[2020-08-05 18:28] nachocano commented on #1291
This is big issue and will take a while to get a proper design.

We are currently very coupled to the 1:1 Source CO - Receive Adapter relationship. From the control plane we are passing a bunch of information to the RA (like Name, Namespace, AdapterType, Secret, ServiceAccountName, etc.) to the RA pod.
Some are needed for metrics, others for deciding how to convert the PubSub message and so on.

I

[2020-08-05 18:33] grantr commented on #982
Related to #1522

[2020-08-05 18:37] grantr commented on #913
Also add a timestamp to configmap so the data plane pods can calculate the delay for #1443.

[2020-08-05 22:22] yolocs commented on #1550
cc @grac3gao

Based on some testing so far, setting a large MaxBufferedBytes (e.g. 1e9) could easily cause OOM. My theory is that because we allowed a large MaxBufferedBytes, more connections are allowed stay open at a time. This also means we were keeping more events in memory which contributed to the majority of the memory usage. The bundle buffer, on the contrary, only contributed a small porti

[2020-08-06 17:24] #1543 closed

[2020-08-06 23:03] #1475 closed

[2020-08-07 16:54] yolocs commented on #1551
All broker components _are_ using desugared logger already.

[2020-08-07 17:22] grantr commented on #1551
Oops, you're absolutely right @yolocs. When I [looked at the code](https://github.com/google/knative-gcp/blob/4cba2abf97865752025fa6a8eb8a4f2825e376e2/pkg/broker/ingress/handler.go#L87) earlier I was thinking there was a `zap.DesugaredLogger` class and `zap.Logger` was the sugared one. Sorry for the misdirection. 😞

[2020-08-07 17:30] #1072 closed

[2020-08-07 17:30] #1489 closed

[2020-08-07 18:17] #1551 closed

[2020-08-07 20:37] yolocs commented on #913
This appears to be a little bit trickier than expected. If we blindly add generation and timestamp to the configmap, it will cause unnecessary configmap updates because timestamp (and potentially generation depends on how we generate it) will always be different from the one in the existing configmap.

One possible approach: add timestamp/generation with a separate config key in the data. When rec

[2020-08-07 20:53] grantr commented on #913
Seems like a good idea to separate the timestamp into a different file, since it's really intended to communicate data about the configmap mechanism rather than event routing data. Generation I could see being used either way, but we can always move it into event routing later when we have a use for it.

[2020-08-10 18:24] capri-xiyue commented on #1534
Yep. We are using https://github.com/google/knative-gcp/blob/f9e4a707ba1939c194f94a5e2b7c3a3cd02bc758/go.mod#L34.
It looks like it's most recent one. It has 20200810114129. Looks like the serving dependency is master which matches the nightly release.

[2020-08-11 01:32] #1547 closed

[2020-08-11 18:38] grac3gao opened #1568 "TestSmokeCloudStorageSourceWithDeletion needs more sleep time in WI tests"
**Describe the bug**
According to errors from some failed test:
https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/google_knative-gcp/1564/pull-google-knative-gcp-wi-tests/1292842220960878592
https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/google_knative-gcp/1531/pull-google-knative-gcp-wi-tests/1288887263408689153
https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/googl

[2020-08-11 21:03] #1568 closed

[2020-08-12 21:58] capri-xiyue commented on #1021
We encountered some quota limits issue when running e2e tests.
Based on the discussion in https://github.com/google/knative-gcp/pull/1574.
It looks we should not change the logic in our source code since this e2e test failure issue is kind of related to how we run prow e2e tests.
Is it possible that knative-gcp has its own service account which belongs to knative-gcp specific prow project so that

[2020-08-12 23:41] ian-mi opened #1576 "Add Trace Exemplar Attachments to Existing Metrics"
**Problem**
Exemplars allow representative traces to be selected from metric data. Opencensus allows a spancontext to be added as an attachment when recording metrics, see https://pkg.go.dev/go.opencensus.io@v0.22.4/metric/metricdata. When recording metrics we should attach the current span context whenever the span is being sampled.

**[Persona:](https://github.com/knative/eventing/blob/master/do

[2020-08-12 23:50] ian-mi opened #1577 "Integrate Traces with Cloud Logging"
**Problem**
Attaching trace and span IDs to log entries causes those log entries to be linked from the corresponding trace and vice-versa. Enabling this integration would allow the removal of some duplication of messages between trace events and logs and improve the usability of both logging and tracing.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event Consum

[2020-08-13 18:30] capri-xiyue opened #1579 "Enable user to specify project for quota and billing purposes when creating knative-gcp resources"
**Problem**
Background:
When running prow e2e tests, sometimes some e2e test will fail because of the project which owns the prow service account reaches the quota limits (all prow e2e tests of different codebase use the same prow service account and some operations by default the quota and billing go to the project which owns the prow service account).
It may be better if we can enable user to sp

[2020-08-14 07:38] runzexia opened #1583 "knative trigger status Unknown because TopicReady Unknown"
**Describe the bug**
I create knative trigger with default broker(MTChannelBasedBroker) & trigger, it seems gcp controller would reconsile it and cause the trigger not ready.

[code]

 **Expected behavior**
trigger ready

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative-GCP release version**
knative-gcp v0.16.0
knative-eventing v0.16.1

[2020-08-14 16:46] #828 closed

[2020-08-14 21:32] #1522 closed

[2020-08-17 16:42] nachocano opened #1588 "Flip the storage bit to v1beta1 in core eventing sources"
**Problem**
In 0.17 we moved core sources to v1beta1. We need to flip the storage bit now, so that we store v1beta1.
This is used to track the follow eventing issues: https://github.com/knative/eventing/issues/3674, https://github.com/knative/eventing/issues/3630, and https://github.com/knative/eventing/issues/3615.
We should also sync with Lionel to see if he will take care of PingSource, which a

[2020-08-17 21:10] #1443 closed

[2020-08-18 15:52] capri-xiyue commented on #1434
Closed as https://github.com/googleapis/google-cloudevents/pull/40 got merged

[2020-08-18 15:52] #1434 closed

[2020-08-18 16:10] Ectelion opened #1592 "Add metric to monitor the delay between configmap update notification and the volume update on BrokerCell"
**Problem**
This is a follow up task for the remaining piece of #1443 that depends on #913, which is currently in the backlog. Once #913 is complete, the Broker Targets ConfigMap will have a last-update timestamp that can be used to compute the delay for the new ConfigmapUpdateToVolumeUpdate metric.

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolve

[2020-08-18 16:25] #1500 closed

[2020-08-18 16:31] Ectelion opened #1593 "Work queueing may be a potential source of additional delay during ConfigMap update on BrokerCell"
**Problem**
When BrokerCell informer receives a notification about a resource update, it does not act on it immediately, but puts the event into a work queue. When multiple notifications arrive simultaneously, the enqueuing-dequeueing process may potentially contribute to the total delay in data plane sync (see #1443 for more context). If the source of delay is not determined by the other metrics,

[2020-08-18 16:48] yolocs opened #1594 "Allow configuring retry on specific response codes"
Originated from https://github.com/google/knative-gcp/issues/970

The current delivery spec doesn't allow setting up retry for specific response codes. We might consider upstream this issue to knative/eventing.

[2020-08-18 16:51] yolocs commented on #1594
@alexander-alvarez FYI we have split this issue from https://github.com/google/knative-gcp/issues/970. There is ongoing work to implement the eventing delivery spec which would allow you to configure retry delay/strategy, etc.

[2020-08-18 17:02] tommyreddad opened #1595 "Update retry subscription config during Trigger reconciling"
This issue is leftover from #1566

**Describe the bug**
When a Trigger is reconciled, we never update its retry subscription's config settings.

 **Expected behavior**
When a Trigger is reconciled, we should update its retry subscription's config settings as necessary. In particular, the Broker delivery spec might have changed, which should cause the Trigger to reconcile, updating its subscription

[2020-08-18 17:45] grantr commented on #1553
This is blocked by #1552. Before we can develop and document the formula for achieving arbitrary load, we should determine what's needed to achieve a default load.

[2020-08-18 17:46] grantr commented on #1524
Tracked in #1545.

[2020-08-18 17:48] grantr commented on #1524
This is blocked by #1553.

[2020-08-18 18:15] grantr opened #1596 "Determine default target for broker ingress events per second"
**Problem**
What is our default target for published events per second handled by the broker ingress service? This is separate from the fanout's delivered events per second (and is likely to be lower).

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
User

**Exit Criteria**
We have a goal in published events per second to tune the default ingress resource requireme

[2020-08-18 18:22] grantr opened #1597 "Determine default target for broker fanout delivery attempts per second"
**Problem**
What is our default target for delivery attempts per second handled by the broker fanout service?

Since fanout only attempts one delivery per trigger, this may be defined as a factor of ingress rate (#1596), for example "average fanout rate is 2x average ingress rate".

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
User

**Exit Criteria**
We have a g

[2020-08-18 19:06] grantr opened #1598 "Determine default target for broker retry delivery attempts per second"
**Problem**
What is our default target for delivery attempts per second handled by the broker retry service?

This could be defined as a percentage of delivery attempt rate (#1597), for example "10% of delivery attempts will be retried," but since events may be retried multiple times, it's probably clearer to set an explicit rate goal.

**[Persona:](https://github.com/knative/eventing/blob/master/

[2020-08-18 19:14] grantr opened #1599 "Determine average event payload size for default setup"
**Problem**
We need a default event payload size for testing the default setup in #1552.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
User

**Exit Criteria**
We have a default event payload size documented.

**Additional context (optional)**
This can be based on average event sizes emitted by GCP sources. The [CloudEvents spec](https://github.com/cloudevents/sp

[2020-08-18 19:29] grantr opened #1600 "Adjust broker ingress resource requirements to meet default events per second target"
**Problem**
Once we have an events per second target #1596 and a default event payload size #1599, we can measure the resource requirements for a single ingress pod to meet the target. That's our default resource requirement value.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
User

**Exit Criteria**
The broker ingress deployment is created with default resource

[2020-08-18 19:32] grantr opened #1601 "Adjust broker fanout resource requirements to meet default delivery attempts per second target"
**Problem**
Once we have an events per second target #1597 and a default event payload size #1599, we can measure the resource requirements for a single fanout pod to meet the target. That's our default resource requirement value.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
User

**Exit Criteria**
The broker fanout deployment is created with default resource r

[2020-08-18 19:32] grantr opened #1602 "Adjust broker retry resource requirements to meet default retry attempts per second target"
**Problem**
Once we have a retry attempts per second target #1598 and a default event payload size #1599, we can measure the resource requirements for a single retry pod to meet the target. That's our default resource requirement value.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
User

**Exit Criteria**
The broker retry deployment is created with default resou

[2020-08-18 19:36] grantr commented on #1552
I created some issues breaking this down to two tasks for each broker service:
- determine the default target
- measure resource requirements to meet that target and use those requirements in the deployment

Ideally we would like to avoid crashing with any arbitrary load, but for this issue we will settle for not crashing with our default load targets.

[2020-08-18 21:48] Ectelion opened #1603 "Improve the UX for BrokerCell configurability before exposing it externally"
**Problem**
With #1484, resource and HPA configurations for BrokerCell deployments become configurable. The original motivation was to assist with performance investigations, but later on we realized that the configurability feature can also be valuable for the end users. Speaking of the end user experience, we've determined that [current implementation](https://github.com/google/knative-gcp/pull/

[2020-08-18 22:11] grantr commented on #1596
@liu-cong suggests default target 1000 events per second.

[2020-08-18 22:27] #1484 closed

[2020-08-18 22:37] grantr commented on #1597
@liu-cong suggests fanout ratio of 20x (20 triggers each matching every incoming event).

[2020-08-19 03:24] #1506 closed

[2020-08-19 16:46] cathyzhyi commented on #1468
@cathyzhyi is working on this now.

[2020-08-19 17:44] capri-xiyue opened #1608 "Change EventType of CloudBuildSource"
**Problem**
Since https://github.com/googleapis/google-cloudevents/pull/40 gets merged, we need to change the CE type of CloudBuildSource from `com.google.cloud.build.event` to `google.cloud.cloudbuild.build.v1.statusChanged`

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
Change CE type of CloudBuildSource  fr

[2020-08-19 17:47] capri-xiyue commented on #1413
This can be done after https://github.com/google/knative-gcp/issues/1544 gets merged so that we can avoid merge conflicts devs don't need to write conversion logic from v1alpha1 to other versions and from other versions to v1alpha1.

[2020-08-19 17:50] nachocano commented on #1544
This should be done before #1413
Also, v1alpha1 ducks in eventing are going to be removed. We need to remove our Channel v1alpha1 that uses those ducks fast if we want to keep on updating dependencies. See https://github.com/knative/eventing/pull/3789

[2020-08-19 18:04] nachocano commented on #1608
fyi @bharattkukreja
this is an simple one

[2020-08-19 18:08] nachocano commented on #1482
Yes, we should have a migration tool as eventing is doing. The migration will also help with the deletion of v1alpha1, which we will do in https://github.com/google/knative-gcp/issues/1544

[2020-08-19 18:10] nachocano commented on #1482
@danyinggu expressed interest in this. If she has cycles later in the sprint, she might be able to pick it up

[2020-08-19 18:12] danyinggu commented on #1482
@nachocano Is this blocked by #1608 and #1413?

[2020-08-19 18:15] capri-xiyue commented on #1482
@danyinggu I don't think it's blocked since for this issue, we make Make v1 the storage version for all sources EXCEPT CloudBuildSource)

[2020-08-19 18:16] grantr opened #1609 "Upstream ce-test-actor to this repo"
TBD

[2020-08-19 18:24] danyinggu commented on #1482
@nachocano @capri-xiyue Yes, when I created the issue, we decided to promote all sources to v1 except CloudBuildSource, that was why I marked it as "Except CloudBuildSource" here, but I remembered in the last triage or sprint planning, Nacho mentioned that we might want to flip bits for all sources at once, so I'm wondering if this is still the case, then the title of this issue should remove the

[2020-08-19 18:38] Ectelion commented on #1593
Note: it turns out that the work queue already has some de-duplication logic. Because there is only one BrokerCell per namespace, the queue shouldn't grow large, so this part of the process is not likely to cause any significant delay.

[2020-08-19 18:39] yolocs commented on #1601
We currently use the default outstanding bytes limit (1G). We probably need a smaller number.

[2020-08-19 18:41] #1494 closed

[2020-08-19 18:43] capri-xiyue commented on #1482
@danyinggu  CloudBuildSource will be promoted to v1 in 0.18 release. We need to wait for one release to flip the storage version to v1 which will be 0.19 release. So the title of this issue is still correct.

[2020-08-19 18:44] danyinggu opened #1610 "Make v1 the storage version of CloudBuildSource"
**Problem**
We will not make v1 the storage version for CloudBuildSource in 0.18 release cut. We will v1 the storage version OF CloudBuildSource in 0.19 release cut, create a stand-alone issue to track this.
Relates to #1413, #1608 and #1482.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
v1 is the storage ver

[2020-08-19 18:44] danyinggu commented on #1482
@capri-xiyue I created a separate issue for CloudBuildSouce. https://github.com/google/knative-gcp/issues/1610

[2020-08-19 18:59] nachocano commented on #1588
/assign @nlopezgi

This is just for tracking the eventing issues in our sprint. Solving those, should solve this.
If you can also sync with Lionel regarding PingSource, maybe you can flip the storage bit there as well, and you will have to change the reconciler to use v1beta1 as well.

[2020-08-19 20:36] grantr opened #1611 "Observed brokercell pod update rate of 40/s"
**Describe the bug**
A GKE investigation identified some dev-owned GKE clusters that are updating brokercell-fanout, brokercell-ingress, and brokercell-retry pods 40 times per second. Whether this is steady state update or peak, it's very likely to be a bug in the brokercell controller somewhere. I can't think of a reason to be updating pods 40 times in a second.

Probably it's related to the anno

[2020-08-19 22:02] Harwayne commented on #1468
/assign @cathyzhyi

[2020-08-19 23:06] liu-cong opened #1612 "Probe Helper stopped responding probe requests"
Need to run some stress test to reproduce.

I think the issue could be due to the concurrent map access. We should fix that.

[2020-08-19 23:08] liu-cong opened #1613 "Add liveness probe to Probe Helper pod"
**Problem**
A short explanation of the problem, including relevant restrictions.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?

**Add

[2020-08-19 23:15] #1516 closed

[2020-08-20 21:04] tommyreddad commented on #1612
There are a few problems with the probe helper.

### 1. The probe helper sender client is limited to waiting on 4 events

The CloudEvents client creates GOMAXPROCS(0) == 4 goroutines which concurrently handle events by way of the probe helper's `forwardFromProbe` function (which is blocking). Once the probe helper waits for 4 events, the CloudEvents client waits before handling any more events.

H

[2020-08-20 22:21] nachocano commented on #1608
See this release notes: https://github.com/google/knative-gcp/pull/1340

[2020-08-20 22:24] nachocano commented on #1608
Also change the schemaURL to point to the correct one:
https://raw.githubusercontent.com/googleapis/google-cloudevents/master/proto/google/events/cloud/build/v1/data.proto

and see how we are doing it in pubsub for example.

[2020-08-20 22:52] Harwayne commented on #1576
/assign zhongduo

[2020-08-20 23:37] grac3gao commented on #1525
Did some investigation for defining the Pod Priority. It seems there is no certain criteria for the pod value. Typically, we would like to broker higher scheduling/eviction priority, but worry about this would put other applications at risk in the case of insufficient resource.

Some general ways used by other applications are 1)introducing a scaling mechanism or 2) make related resource value con

[2020-08-21 18:35] zhongduo opened #1623 "Missing `google-broker-key` secret in `dataplane-service-account.md`"
**Describe the bug**
The existing `dataplane-service-account.md` does not create a `google-broker-key` secret, this will result in `Failed to publish to PubSub` error when sending events to the gcp broker.

 **Expected behavior**
The secret key `google-broker-key` gets created in the documentation.

 **To Reproduce**
With a fresh GKE cluster, follow the instructions in: https://github.com/google/k

[2020-08-21 19:25] zhongduo opened #1624 "Report error in GCP broker when `google-broker-key` is not setup"
**Problem**
Currently in an absence of `google-broker-key`, the broker will be started to a ready state, but reject all the messages/events by returning 500. It will be more helpful if the broker can give a serivous warning or just not get to ready state at all.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event consumer (developer)

**Exit Criteria**
Without s

[2020-08-24 19:05] yolocs commented on #1596
The default target I'm setting for a single ingress pod is: <= 1000 qps, <= 256k event size.

[2020-08-24 19:45] danyinggu commented on #1623
In https://github.com/google/knative-gcp/tree/master/docs/examples/gcpbroker, it is actually pointing to https://github.com/google/knative-gcp/blob/master/docs/install/install-gcp-broker.md in the [prerequisites](https://github.com/google/knative-gcp/tree/master/docs/examples/gcpbroker#prerequisites) section, so I think there is not a bug in the current documentation.

Also, as @grac3gao mentioned

[2020-08-24 19:50] zhongduo commented on #1623
Agreed it is not a bug in the gcpbroker doc, but it is a bug now in https://github.com/google/knative-gcp/tree/master/docs/examples/metrics which was what I followed originally before it was merged. I think the action item in this issue is to avoid duplication of the section `How to add google-broker-key` in different docs, otherwise it will be very easy to have this problem again in a new doc.

[2020-08-24 20:22] yolocs commented on #1600
To support the target [load](https://github.com/google/knative-gcp/issues/1596#issuecomment-679309679), here are proposed values:

- CPU 2000m
- Mem 2Gi
- Pubsub publish buffer 200Mi
- HPA CPU 90%, Mem 1800Mi

Here is the reasoning.

### CPU

Between 1000-2000 qps, the CPU ranges between 1800m to 3000m. Event size has very little impact on the CPU usage. Setting 2000m CPU allow HPA to kick in near

[2020-08-24 20:28] grac3gao commented on #1623
From my point of view, [Metrics Example]( https://github.com/google/knative-gcp/tree/master/docs/examples/metrics ) Prerequisites (2) should point to [Installing GCP Broker](https://github.com/google/knative-gcp/blob/master/docs/install/install-gcp-broker.md)(it only need broker, doesn't need any sources). [Installing GCP Broker](https://github.com/google/knative-gcp/blob/master/docs/install/insta

[2020-08-24 20:56] danyinggu commented on #1623
I agree. This makes sense.

[2020-08-24 21:39] liu-cong commented on #1600
These numbers make sense to me, thanks for the investigation!

Just a couple of followups:
1. Does the CPU grow relatively linearly with QPS? Just to confirm how good is it to use CPU as a proxy to QPS.
2. If customer complain about memory, I was wondering if there is an acceptable tradeoff we can make. For example, memory request=1Gi, HPA threshold=800Mi, memory limit=2Gi. This configuration will

[2020-08-24 21:53] zhongduo commented on #1623
That's a good idea, but would you say it is possible to have a doc that only need to set up the `google-broker-key` without needing to apply the broker? If so, I think having a separate doc for setting service account for broker still make sense. Otherwise you can always just use the whole `Install GCP Broker` as a whole as prerequisites.

[2020-08-24 22:32] yolocs commented on #1600
@liu-cong

Not sure if it's close to "linear" but when under 2000 qps I definitely see more qps causes more cpu and vice versa.

I was not considering a different memory requirement/limit; I assumed they have to be the same (as gke recommended). The numbers you mentioned would probably also work.

[2020-08-24 22:38] grantr commented on #1600
Great research, thanks @yolocs!

On your memory chart I see a surge in usage to 9GiB. Will this be an issue if we set memory limit to 2GiB?

Seems like we should investigate the reason for that memory usage surge to determine if it can be eliminated or mitigated.

[2020-08-24 22:45] yolocs commented on #1600
@grantr Sorry for the confusion. That surge was caused by a different setup. I was too lazy to cut that part out in my screenshot

[2020-08-24 23:05] grantr commented on #1600
Ah got it. I still think we should look into why the memory surge is happening :)

[2020-08-24 23:22] yolocs commented on #1600
@grantr Fair point :) In practice, there are some challenges I have seen so far.

1. I used "always" in the comment above. That was not precise. It's very _common_ to have mem surges when there is qps/size increase. However, there were also times when no surge happened (with the exact same setup).

2. We lack the ability to profile during a specific time window. Although I have profiling data, I c

[2020-08-24 23:35] liu-cong opened #1627 "True ingress readiness for GCP Broker"
**Describe the bug**
The ingress returns an error if the broker status is not ready:
https://github.com/google/knative-gcp/blob/57e63f94a1447dcba916336aed86001c8de4ae12/pkg/broker/ingress/multi_topic_decouple_sink.go#L137

Currently a Broker is marked ready when the brokercell (including data plane services and HPAs) and pubsub topic/subscription is ready. However, from the  ingress's perspective,

[2020-08-24 23:49] grantr commented on #1627
Thanks @liu-cong for finding this issue!

Before making the change in #1628, let's confirm that the original reasoning for #1261 and #1272 no longer applies or is less important than the issue here. I believe the original discussion was recorded in our meeting notes.

[2020-08-25 00:01] liu-cong commented on #1627
Thanks for reminding me the previous discussions! @grantr

The purpose of #1261 is to reject events if topic/sub is not ready. So it seems that we could have a topic/sub status in the config and the ingress can check that instead. I guess it's better than just optimistically sending events to the topic. @yolocs may have more context on this.

[2020-08-25 00:30] zhongduo opened #1629 "Update `cloud-trace.md` with right filter format"
**Describe the bug**
The filters in `cloud-trace.md` do not work with the the latest `Trace list` as of today.

 **Expected behavior**
By following the instructions, we should be able to see the trace.

 **To Reproduce**
Make sure you have some traces without any filter, then try to apply the filter in the doc.

 **Knative-GCP release version**
0.17

[2020-08-25 00:39] grantr commented on #1627
Thanks for the reminder @liu-cong. Now I recall the concern was that messages would be published but never delivered if the fanout subscription has not yet been created. I think I recall some discussion of separating broker readiness (from the user perspective, as shown in the object) from readiness of internal pubsub objects.

Theoretically the brokercell can use the Broker's pubsub topic and sub

[2020-08-25 05:23] #1629 closed

[2020-08-25 14:56] nlopezgi commented on #1588
ContainerSource and SinkBinding fixed here: https://github.com/knative/eventing/pull/3895. ApiServerSource is pending confirmation on the bug that its ready to proceed. Is https://github.com/knative/eventing/issues/3886 also part of what is needed for this issue? @danyinggu  and @bharattkukreja might be taking on https://github.com/knative/eventing/issues/3886?

[2020-08-25 15:02] danyinggu commented on #1588
Thanks Nick! I don't have free-cycles for now, but I'm willing to pick it up when I have cycles.

[2020-08-25 16:44] grac3gao commented on #1624
related to #1058

[2020-08-25 16:51] #1593 closed

[2020-08-25 17:03] grantr commented on #1624
We could check in the controller if the secret exists, but it won't exist if WI is enabled and there's no obvious way to know if WI is enabled.

[2020-08-25 17:20] zhongduo commented on #1624
Is it possible to use some sort of startup check? Like keep-alive beacon.

[2020-08-25 17:22] yolocs opened #1631 "Better ingress error message on pubsub authentication problem"
**Describe the bug**

On pubsub authentication failure, the ingress nowadays just returns 500 with plain pubsub authentication error.

 **Expected behavior**
We want to provide additional context to the error message. E.g. Pointer to the init/setup doc.

 **To Reproduce**
Use broker without going through init setup

[2020-08-25 17:22] grantr commented on #1599
Decided to use 256K as the target.

[2020-08-25 17:22] #1599 closed

[2020-08-25 17:23] grantr commented on #1552
Broke this down into smaller issues.

[2020-08-25 17:23] #1552 closed

[2020-08-25 17:23] yolocs commented on #1631
Related to: https://github.com/google/knative-gcp/issues/1624

[2020-08-25 17:31] grantr commented on #611
We should be able to use the sendtracker to determine the percentage of requests that were published successfully.
How do we determine the previous and next releases?
What is the load during upgrade?
We may need to adjust rolling update configuration of the deployment.

[2020-08-25 17:59] grac3gao commented on #1623
The authentication steps for broker and source in those two docs have difference. For secret, they have different namespace and secret name (secret name is kind of fixed in the related Pod volume) and for WI, they have different scenarios. Source examples don’t need broker, broker examples and metric examples don’t need source. I guess that's why we separate them into two different places.

I have

[2020-08-25 19:34] Ectelion opened #1632 "BrokerCell Configurability: settle on the policy around the HPA metrics"
**Problem**
In #1603, we iterated over some of the UX aspects of [BrokerCell configurability](https://github.com/google/knative-gcp/issues/1484). Since there are quite many possible combinations of these parameters and their values are inter-related, we had discussions around defaulting and validation approaches, and the user experience around it. For instance, when any of the CPU parameters is se

[2020-08-25 23:51] #1627 closed

[2020-08-26 04:20] grac3gao opened #1635 "Determine a way to know which authentication configuration mode users are using"
**Problem**
We assume users are using WI mode by checking secret is not there. However, it is not always true.
Users may want to use secret mode, but create a wrong name one or forget to create one.

It is easy to measure this in source with following rules:
1) If no `serviceAccountName` or `secret` specified under source, use `configMap` gcp-auth-config to see which mode is set as the default one

[2020-08-26 17:32] yolocs opened #1640 "Source event schema validation"
**Problem**

We currently "blindly" pass data from upstream, assuming they match the desired schemas defined in https://github.com/googleapis/google-cloudevents. If any change happens, it would break this contract without us knowing.

**Solution**

Option 1: Manual validation. This is probably good as one-shot validation before releases.
Option 2: Automated integ tests that validates the schemas.

[2020-08-26 17:33] yolocs commented on #1640
@nachocano @capri-xiyue for proper planning.

[2020-08-26 18:52] yolocs commented on #1600
In all the follow-up tests, I was not able to reliably reproduce the memory surges. In fact, under gradual qps/size increase, I observed no obvious memory usage change at all. Although at the certain point, the pubsub publish buffer limit error starts to surface more often.

One amendment for my proposed values is to make Pubsub publish buffer size limit 300Mi. In the follow-up tests, this value m

[2020-08-26 19:09] grac3gao commented on #1447
/assign zhongduo

[2020-08-26 20:09] #1608 closed

[2020-08-26 20:27] zhongduo commented on #1447
/assign zhongduo

[2020-08-26 21:53] #1623 closed

[2020-08-27 01:25] #1576 closed

[2020-08-27 15:53] danyinggu opened #1645 "Flip served bits of v1alpha1 Sources and Channel and add migration tool of it"
**Problem**
As part of #1544, need to flip served bits of v1alpha1 source and channel to false.
Add migration tool to remove these versions.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
The bits are flipped and migration tools are added.

**Time Estimate (optional):**
How many developer-days do you think thi

[2020-08-27 16:07] danyinggu commented on #1588
@nlopezgi Seems like someone from Knative Community was assigned with knative/eventing#3886 and will take care of it.

[2020-08-27 18:05] nlopezgi commented on #1588
sgtm

[2020-08-27 19:07] capri-xiyue commented on #1579
Discussed offline with @grantr and @ericlem
Currently it's premature to make this a customer-facing feature. For the E2E test flakiness, it may be better if we can find other ways to do it like use the service account belonging to our own specific gcp project to run the E2E tests so that we can get rid of the quota issues which result in the E2E test flakiness or increase the project quota of Cont

[2020-08-27 20:24] #1482 closed

[2020-08-28 20:36] #1603 closed

[2020-08-28 21:38] cathyzhyi commented on #1468
Potential fix in `pkg` https://github.com/knative/pkg/issues/1663

[2020-08-28 22:50] yolocs commented on #1631
/assign @cathyzhyi

[2020-08-29 00:45] zhongduo commented on #1447
As discussed with @grac3gao, the reconciler has already been promoted to v1, we will not update it now. But later we might want to continue this work with feature flag.

[2020-08-29 01:31] cathyzhyi commented on #1631
/assign @cathyzhyi

[2020-08-31 16:21] danyinggu commented on #1544
I did some investigation. Since we haven't had any migration tool before, there might be some customers still using the old cluster with v1alpha1 as the storage version for some sources. If we remove v1alpha1 support before these users migrate their storage version, their side will be crashed. I created a cluster with v1alpha1 as the storage version and serves v1beta1 and v1, then upgrade my clust

[2020-08-31 16:29] danyinggu commented on #1544
Synced with @nachocano offline. We agreed that
1.  We remove v1alpha1 in 0.19
2. We migrate storage of Channel and CloudBuild to v1beta1 in 0.18

So this issue will be blocked until 0.19.

[2020-08-31 16:31] danyinggu commented on #1413
Due to https://github.com/google/knative-gcp/issues/1544#issuecomment-683882784 and synced with @nachocano offline. We will delay the removal of v1alpha1 (#1544) until 0.19 release, but we will still promote CloudBuildSource in 0.18, so it doesn't need to wait for #1544 to be done..

[2020-08-31 16:35] danyinggu commented on #1645
Due to https://github.com/google/knative-gcp/issues/1544#issuecomment-683882784 and https://github.com/google/knative-gcp/issues/1544#issuecomment-683887291. We will remove v1alpha1 in 0.19 and we need to migrate all sources (and channels ) to use non-v1alpha1 storage version now. There is no need to have a migration tool when v1alpha1 is removed then. Closing this issue.

[2020-08-31 16:35] #1645 closed

[2020-08-31 17:05] nachocano commented on #1544
Removing the milestone here, as this is blocked

[2020-08-31 20:07] nachocano commented on #1640
I think we should aim to have Option 2. We might be able to add that to our current E2E tests.
Estimating it as if we are doing Option 2.

BTW, the Serverless WG has the Discovery/Subscription/SchemaRegistry APIs, and there is being some talks about doing runtime validations (Option 3). I think I'd rather hold off on that one for a bit until we get more clarity what CloudEvents is thinking of doin

[2020-08-31 20:08] nachocano commented on #1640
fyi @danyinggu @bharattkukreja

[2020-08-31 22:02] ian-mi opened #1654 "Investigate using zapdriver to format logs"
**Describe the bug**
Zap's structured log format differs from the format expected by Cloud Logging. For example zap's level field is not recognized as "severity" by Cloud Logging.

 **Expected behavior**
zapdriver or another solution should be used to ensure that severity is set correctly in cloud logging.

**Additional Context**
https://github.com/blendle/zapdriver is a possible solution which ou

[2020-09-01 14:03] nlopezgi commented on #1588
I noted in https://github.com/knative/eventing/issues/3630 that I wont be able to complete the issue in the upcoming weeks as the effort required is a bit more than I planned and I dont have the cycles available. https://github.com/knative/eventing/issues/3630

[2020-09-01 17:13] cathyzhyi commented on #1583
/assign @cathyzhyi

[2020-09-01 17:25] grantr commented on #1624
Yes, that solution is tracked in #1058. For now we plan to add troubleshooting docs to help users debug this case.

[2020-09-01 17:35] yolocs commented on #1583
Hi @runzexia, thanks for reporting the issue!

Just to understand the issue better.

Were you creating MTChannelBasedBroker with Pubsub channel? If that's case, Topic being not ready is going to cause broker not ready.

Or you were creating it with other Channel implementation and ran into this problem?

[2020-09-01 19:50] #1577 closed

[2020-09-01 21:16] Harwayne commented on #1527
FYI @bryanzimmerman.

[2020-09-02 02:20] runzexia commented on #1583
hi @yolocs, this broker is created by sugar controller. i think it is  MTChannelBasedBroker with InMemoryChannel.
I guess `Topic Not Ready` because knative-gcp reconcile resource not belong to it.
Trigger Yaml:
[code]

[2020-09-02 13:02] tommyreddad commented on #1611
How to reproduce: create many brokers. The brokercell pod update rate will scale rapidly with the number of existing brokers, and does not stop. To see this happen clearly, just create 50 brokers and observe the brokercell pod volumeGeneration rapidly climb to 1000.

This is caused by a bug in the broker-targets ConfigMap diff check in the [DeepEquals](https://github.com/google/knative-gcp/blob/ma

[2020-09-02 17:12] #1613 closed

[2020-09-02 17:48] nlopezgi opened #1664 "Set up upgrade tests for knative-gcp"
**Problem**
Currently the knative/eventing repo runs as part of their CI, [upgrade tests](https://github.com/knative/eventing/blob/master/test/e2e-upgrade-tests.sh).
Knative-gcp repo, however, does not have such tests.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**

developer

**Exit Criteria**
Upgrade tests are setup for relevant resources defined in this repo.

[2020-09-02 18:03] #1596 closed

[2020-09-02 18:32] nachocano commented on #1588
Thanks @nlopezgi for working on this! Someone else will pick the remaining ApiServerSource in the upcoming sprint(s)

[2020-09-02 18:37] #1600 closed

[2020-09-02 19:22] #1413 closed

[2020-09-02 20:07] danyinggu commented on #1640
Thanks for mentioning! I may not have free cycles for this sprint. Not sure if @bharattkukreja does

[2020-09-03 15:17] yolocs commented on #1583
Could you also provide the broker yaml output and two configmaps `default-ch-webhook` and `config-br-default-channel` in the `knative-eventing` namespace? That will help us better understand the problem.

[2020-09-03 19:03] #1611 closed

[2020-09-03 21:37] #1631 closed

[2020-09-03 22:42] yolocs commented on #1550
Update: we're currently setting the buffer limit to 300Mi. No greater because this can actually somewhat protect ingress pod as a throttling mechanism. With unexpected amount of load put on ingress, such errors will be expected.

[2020-09-03 22:42] yolocs commented on #1550
/close

[2020-09-03 22:42] #1550 closed

[2020-09-04 02:18] runzexia commented on #1583
broker :
[code]

default-ch-webhook
[code]
config-br-default-channel
[code]

[2020-09-08 17:45] yolocs commented on #1583
Thanks @runzexia. We will take a look.

[2020-09-09 03:54] grantr commented on #1612
Can this issue be closed? If not, let's move it to a current milestone.

[2020-09-09 10:22] upodroid opened #1671 "Set the resource requests for the pubsub BrokerCell when creating the Broker resource."
**Problem**
The BrokerCell defaults to very high resource requests which is akward for development. It defaults to like 3.5 cores as a starting point which is overkill for development or learning purposes.

I had to tweak the Brokercell resource in the cloud-run-events namespace so some documentation on how to change it or the ability to set it when creating the broker resource.

**[Persona:](http

[2020-09-09 13:27] zhongduo opened #1672 "Wrong error message when failed to verify Pub/Sub topic exists"
**Describe the bug**
When the system failed to verify Pub/Sub topic exists, the error message in broker status is shown as before instead of real cause:

[code]

 **Expected behavior**
The message should print out the detailed reason of the failure.

 **To Reproduce**
Without a valid service account, create the GCP broker. Then check status part in the yaml of the broker.

 **Knative-GCP release v

[2020-09-09 14:15] zhongduo commented on #1672
Experiment shows that `%w` does not support error with struct formatting. Changing to `%v` fixed the problem. Example output after fix:
[code]

[2020-09-09 14:19] tommyreddad commented on #1612
The part of this issue dependent on our code has been fixed.

Otherwise, part of this issue was caused by a bug in the CloudEvents client, which has now been fixed and merged in the CloudEvents SDK master branch (https://github.com/cloudevents/sdk-go/pull/574) but not yet released. So I'm not sure how we should continue to track this issue, if we should keep it active until the next CloudEvents SD

[2020-09-09 17:45] cathyzhyi commented on #1583
I took the following steps to try to reproduce the issue:

1.  install knative eventing
2. install mt-channel-broker and sugar controller
3. kubectl create namespace test-tigger
4. kubectl label namespace default knative-eventing-injection=enabled
5. install knative-gcp
6. create a trigger with the following yaml file
[code]

In my case, the `my-trigger` does have a `TopicReady` status with value

[2020-09-09 18:02] yolocs commented on #1583
Let me try to add more context. I believe the reason why we finalize non-gcp-broker triggers is that: 1. a trigger is pointing to a **gcp** broker named "x", 2. "x" is now deleted, 3. a new **non-gcp** broker is created with name "x". In this case, we want to GC the pubsub resources we created for the trigger since it's no longer in our control. But we really don't know whether a trigger was ever

[2020-09-09 18:56] grantr commented on #1583
@yolocs is there any evidence that the `default` broker in these cases was originally the gcp broker class, then switched to MTChannelBasedBroker? Seems like these brokers start as MTChannelBasedBroker.

[2020-09-09 19:07] yolocs commented on #1583
Yes, they started as MTChannelBasedBroker. But our trigger controller has no way to know whether if they were gcp brokers or not. And we always finalize triggers pointing to non-gcp brokers.

[2020-09-09 21:17] #1672 closed

[2020-09-09 22:13] yolocs commented on #611
Test strategy:

- Send events to broker with a steady rate
- Make a change that will cause the controller + brokercell deployments to be updated (to mimic an upgrade)
- Wait a bit longer
- Watch event reject rate, broker/trigger event count metrics

Results:

Under a fair rps that can be handled by a single pod (<=1000), the upgrade only caused neglectable ingress failures (<1%). Occasionally, the

[2020-09-09 22:28] liu-cong commented on #1583
@yolocs 's theory seems reasonable to me! If auth is setup properly, I think this should not be an issue, and that's probably why @cathyzhyi couldn't reproduce it.

We could skip the logic to finalize triggers pointing to a non GCP broker with dangling retry topic/sub if users do recreate the broker with a different brokerclass.

However, I believe a better fix is #1164. That allows us to add a fi

[2020-09-10 14:15] zhongduo opened #1678 "Adding data residency support"
**Problem**
Data residency is a requirement to make sure all the data and metadata storage, whether it is in Google Cloud Storage or Pub/Sub, to be in certain regions exclusively. An example is that some countries require sensitive data to be in the country, and explicit export permission is required to transmit the data out of the country.

**[Persona:](https://github.com/knative/eventing/blob/ma

[2020-09-10 14:28] zhongduo opened #1680 "Add another configuration map for data residency configuration"
**Problem**
This configuration will be used to support #1678. But since the data residency itself is small, here are two possible ways:

1) create one for generic configuration in eventing so that new configurations can be added.
2) create one for data residency only.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criter

[2020-09-10 17:00] Harwayne opened #1682 "PullSubscription Status does not reflect non-creatable Deployment"
**Describe the bug**
When PullSubscriptions cannot create their Deployment, the PullSubscription's status does not have a reasonable error message.

 **Expected behavior**
The PullSubscription's status should have something like "Unable to create/update Deployment: [error when creating Deployment]"

 **To Reproduce**
Create a PullSubscription that whose Deployment cannot be created.

[code]

[code

[2020-09-10 19:04] yolocs opened #1683 "Brokercell reconciliation will reset deployment replicas during upgrade"
See https://github.com/google/knative-gcp/issues/611#issuecomment-689850159

Fix: do not change deployment replica number.

[2020-09-10 19:04] yolocs commented on #611
Tested brokercell reconciliation without updating replicas. The dip caused by error "connect: no route to host" still exists but there was no more surge of 500s as shown above.

![9nS4qogVA7qYvFY](https://user-images.githubusercontent.com/14087829/92786731-58782b80-f35d-11ea-8834-b0bbfc76574b.png)

Created issue: https://github.com/google/knative-gcp/issues/1683

[2020-09-11 18:05] cathyzhyi opened #1687 "Inaccurate TopicReady status for both GCP and eventing broker users"
**Describe the bug**
When a non GCP broker is recreated from a GCP broker, trigger status's `TopicReady` condition could show `True` even when the topic is not properly finalized. This can results in unnoticed dangling topic.
When a user installs a non GCP broker and creates  triggers for it, the triggers can show `TopicReady: True` even though it doesn't matter to them.
After user of eventing bro

[2020-09-11 18:28] cathyzhyi commented on #1583
According to the discussion above, I am going to fix this by not finalizing any trigger pointing to a non GCP broker. I opened a new issue to describe the potential problem can be caused by this fix https://github.com/google/knative-gcp/issues/1687 and will add the limitation into some documentation.

[2020-09-11 18:46] liu-cong commented on #1583
Instead of skipping the trigger finalizer entirely, I would try to do a best-effort finalizing. However, we would always return success even if we fail to cleanup the pubsub resources.

[2020-09-11 18:58] yolocs commented on #1583
What @liu-cong suggested sounds reasonable.

[2020-09-11 20:44] grantr opened #1688 "Update to k8s 1.18 client libraries"
**Problem**
K8s 1.18 libraries have changed signatures to include contexts. Eventing has already done this, see https://github.com/knative/eventing/pull/3348. We will need to update all our Create and Update API calls.

For now, we can just use context.TODO() as the context argument.

/cc @nachocano

[2020-09-11 21:37] capri-xiyue commented on #1588
closed since all https://github.com/knative/eventing/issues/3674, https://github.com/knative/eventing/issues/3630, https://github.com/knative/eventing/issues/3615 and https://github.com/knative/eventing/pull/3951 get closed or merged

[2020-09-11 21:37] #1588 closed

[2020-09-11 22:47] yolocs commented on #611
My early [understanding](https://github.com/google/knative-gcp/issues/611#issuecomment-689850159) of "connect: no route to host" errors was wrong. It's not client side errors. What happened is that a request reached the ingress service but the service didn't find a backing pod to handle the request. Why that happened is still unclear. A potential cause is that kube proxy needs a second to resync I

[2020-09-14 14:06] nlopezgi commented on #1688
/assign

[2020-09-14 14:59] zhongduo opened #1692 "Investigate into performance impact of using InformedWatcher instead of raw watcher interface for configmap change"
Currently raw watcher interface is used to watch the configuration maps such as the gcp-auth and broker config, which means in the existing controller where multiple reconcilers are instantiated, each reconciler will watch the configmap independently. InformedWatcher is a new way to share watcher by providing cache internally. Switching to that should significantly reduce the traffic contention to

[2020-09-14 15:06] zhongduo opened #1693 "Possible code cleanup for configmap with default"
We have established several patterns in our configmaps, eg cluster default, namespace default and singleton. This results in some duplicate code. Also for testing purpose, we pass configmap to controllers in the top level, which means every time we add a new one, most controller interface has to be updated.

Here is proposed changes to clean up:

1) Use codegen to generate configmap implementation

[2020-09-14 18:08] capri-xiyue commented on #1640
I checked the status https://github.com/googleapis/google-cloudevents-go. It looks like currently user has to run some script like `./gen.sh` to generate the libraries. After this https://github.com/googleapis/google-cloudevents-go/issues/2 gets resolved, I think we can use this repo https://github.com/googleapis/google-cloudevents-go to automate integ tests that validates the schemas.

[2020-09-14 18:43] #1447 closed

[2020-09-14 18:48] yolocs commented on #1234
Test if the case eventing on -> off -> on will cause this problem

[2020-09-14 19:17] yolocs opened #1696 "Document broker default performance target and auto scaling limitations"
In multiple issues (e.g. https://github.com/google/knative-gcp/issues/1596) we have set a default load target for the default broker setup. We should document that in details.

Additionally, we probably want to document:

- How to customize the resource requirements for different loads
- The current auto scaling strategy (cpu/mem based) and its limitations (e.g. not capable of detecting backpressu

[2020-09-14 19:19] yolocs opened #1697 "Return 429 when reaching pubsub publish buffer limit"
From https://github.com/google/knative-gcp/issues/1550, when a broker ingress pod is handling more load than it's capable of and reaching pubsub publish buffer limit, we should return 429 instead of 500.

[2020-09-14 22:42] grantr commented on #1602
#970 is effectively a subtask of this one.

[2020-09-14 22:45] grantr commented on #1491
Do the more specific issues for #1552 cover this one? (#1600, #1601, #1602)

[2020-09-14 22:53] grantr commented on #1624
Related to #1393

[2020-09-14 23:15] #1490 closed

[2020-09-14 23:19] yolocs commented on #1491
Yes

[2020-09-14 23:19] #1491 closed

[2020-09-14 23:40] Ectelion commented on #1545
I believe it indeed makes sense to match resource requests and limits for the Broker replicas. Here are few reasons for that:
1. This is explicitly recommended in Component ResourceRequest Policy for the GKE;
1. While Kubernetes's guidance is not as conclusive on that, it's [part of requirement](https://kubernetes.io/docs/tasks/configure-pod-container/assign-memory-resource/) for the pod to obtain

[2020-09-15 00:24] liu-cong commented on #1545
I think allowing memory spikes (request < limit) helps us prevent OOM as we currently cannot reliably limit the pod memory usage.
If we set HPA threshold to be lower than requested, hopefully our autoscaling strategy kicks in timely so that  **usage**>requested should be very very rare.

I think the pod is "Guranteed" QoS class as long as its actual **usage** is below requested. Even if we set req

[2020-09-15 01:08] Harwayne opened #1698 "Sources allow invalid spec.secret = {} when spec.serviceAccountName != """
**Describe the bug**
Creating a source where `spec.secret` is `{}` and `spec.serviceAccountName` is non-empty cause the bad `spec.secret` value to be used when eventually creating a Deployment, leading to:

[code]

Inside the Source's PullSubscription's receive adapter Deployment.

 **Expected behavior**
Either reject the request or default the field as the empty object is inherently incorrect.

[2020-09-15 01:44] Ectelion commented on #1597
Note that this task has evolved from settling on targets for a single fanout pod to determining targets for the final fanout deployment with autoscaling. This is because by settling on the Ingress max rate (which was 1000 rps with 256kb payload), we have also implicitly settled on the maximal fanout inbound rate, but a single fanout pod can not handle that load.

Based on our experiments with auto

[2020-09-15 02:09] Ectelion commented on #1545
Good points. I think the additional risk is that the safety span between request and limit is not guaranteed to be available at the time of the memory peak. Yeah, interesting trade-off between having a reasonable memory utilization and further reducing the OOM risks.

[2020-09-15 14:41] cathyzhyi commented on #1583
The statement in https://github.com/google/knative-gcp/issues/1583#issuecomment-689717174 about FinalizeKind resulting in The `type: TopicReady` is wrong. The trigger status is initialized in `PreProcessReconcile` https://github.com/knative/pkg/blob/a5e2edc217c09add4a3152c2d24930810800e523/reconciler/reconcile_common.go#L42-L55 which is called before `ReconcileKind`. Therefore, the condition `Topi

[2020-09-15 16:21] Ectelion opened #1699 "Evaluate the impact of initial delivery timeout on throughput"
Currently, BrokerCell deployments have a default timeout of 10 minutes per event. There is also a cap on the number of concurrent open connections. When there is a mix of fast and slow clients, from throughput perspective, it may not always be optimal to hang on to slow clients for that long. For example, if 10 clients out of 1000 are very slow and they happen to be at the beginning of the deliver

[2020-09-15 16:55] grantr commented on #1696
Related to #1671

[2020-09-15 17:00] grantr commented on #1696
Related to #1553

[2020-09-15 17:09] grac3gao opened #1700 "Automatically restart broker data plane when broker secret created or updated"
**Problem**
Update secret have sync period + cache propagation delay https://kubernetes.io/docs/concepts/configuration/secret/#mounted-secrets-are-updated-automatically, it is around 1 min. For the control plane, we automatically restart the controller pod once the secret got updated to avoid the delay. For the broker data plane, we need to wait for 1 min or manually restart ingress/fanout/retry p

[2020-09-15 17:13] grantr commented on #1699
Exit criteria: benchmark results of a workload with a variety of response times

[2020-09-15 17:18] #970 closed

[2020-09-15 19:53] Ectelion commented on #1597
It seems we are good with these targets. The rest of discussions are around proposed changes to support them.

[2020-09-15 19:53] #1597 closed

[2020-09-15 20:00] zhongduo opened #1701 "Investigate into what happens when pubsub topic config conflicts with organization policy."
We need to know the results when pubsub topic created has conflict with the organization policy in message storage settings. Eg, if pubsub topic config only allows us-east, but orgranization policy only allows us-west, will the topic creation failed or will the error occurs when publishing mesages.

[2020-09-15 21:52] cathyzhyi commented on #1583
with short term fix in https://github.com/google/knative-gcp/pull/1703 the trigger readiness shouldn't be blocked anymore. I opened a new issue https://github.com/google/knative-gcp/issues/1687  to describe the potential problems with the short term fix.

If the broker has been deleted, I choose to leave the code as it is now for the following reasons: 1. users of GCP brokers can delete the broker

[2020-09-15 23:44] ian-mi opened #1704 "Brokercell reconcile not triggered by Broker Changes"
**Describe the bug**
Brokercell reconciles only happen on resync or change to the brokercell itself.

 **Expected behavior**
A brokercell reconcile should happen with each broker change.

 **To Reproduce**
Create a new broker and look for brokercell reconcilation log messages.

 **Knative-GCP release version**
master

[2020-09-16 00:09] liu-cong commented on #1704
Possible duplicate of #1437

[2020-09-16 00:12] Harwayne commented on #982
The decision is to report invalid events in the `event_count` metric with the `_invalid_cloud_event_` event type and response code 400.

This is very similar to a suggestion in the initial post:

But, uses the sentinel type `_invalid_cloud_event_`. Yes, that is technically a valid cloud event, but we already use an allow list to only record certain event types (others are converted to `custom`), s

[2020-09-16 00:16] Harwayne opened #1706 "Report event_count metric in Broker Ingress when request is not a valid event"
**Problem**
As decided in https://github.com/google/knative-gcp/issues/982, when a request is received by the Broker Ingress, but the request is not a valid cloud event, then record the `event_count` metrics with event type `_invalid_cloud_event_` and response code 400.

[2020-09-16 00:16] Harwayne commented on #982
/close

#1706 tracks implementation.

[2020-09-16 00:16] #982 closed

[2020-09-16 00:36] #1704 closed

[2020-09-16 17:23] grantr commented on #1437
This is probably fixed by #1705

[2020-09-16 17:47] nachocano commented on #1682
fyi @capri-xiyue in case you can take care of this as well

[2020-09-16 18:00] Harwayne opened #1709 "WI: Broker Ingress Readiness should depend on getting a valid Credential"
**Problem**
We think that spans are getting dropped when the Broker ingress is just starting up in Workload Identity mode. Because the credential is not available for a few seconds, so sending to StackDriver fails.

**Feature Request**
Broker Ingress, when running in WI mode, should have a readiness probe that depends on getting a valid credential from WI.

**Exit Criteria**
When running in WI mod

[2020-09-16 18:09] ian-mi commented on #1437
I agree this should be fixed now. I'll go ahead and close this but please reopen if the issue persists.

[2020-09-16 18:09] #1437 closed

[2020-09-16 18:18] grantr commented on #1697
/assign tayarani

[2020-09-16 20:59] Ectelion commented on #1601
Key notes from our investigation on fanout:
*  We’ve started with single pod experiments, which suggested that a single Fanout pod can not reach a sustainable throughput under our initially assumed Ingress load (1000 rps and 256kb payload) even with high resource requests. For a suitable max load for a single fanout pod, please refer the table on #1597;
* We’ve then adjusted our goal to supporting

[2020-09-16 21:25] Ectelion commented on #1601
The results above were reliably achieved with the following config:
* **CPU**
    * **Request:** 2500m request
        * There was some trade-off here: as can be seen from the past experiments, high CPU is important for fanout throughput. On the other hand, see notes on the risk of high CPU requests for horizontal scaling.
    * **Limit:** No limit for the CPU, as suggested by GKE's best practices

[2020-09-16 21:52] Ectelion opened #1713 "Minimize resource consumption by a single fanout pod while still supporting the default max load targets"
**Describe the bug**
In #1601, we've determined a Fanout configuration that can support our default max load target (#1597). While it works reliably, the resulting configuration has quite high resource requirements per individual pod. For better resource utilization and being considerate of feedback like [this](https://github.com/google/knative-gcp/issues/1671), it's best to reduce the initial res

[2020-09-16 22:23] grantr commented on #1601
Thank you @Ectelion, this is really useful knowledge to have about our performance characteristics.

We now have the parameter values to meet the original target, and all remaining work is now part of #1713, so this issue can be closed.

[2020-09-16 22:23] #1601 closed

[2020-09-16 22:52] capri-xiyue commented on #1682
Can't reproduce the same error after we fixed https://github.com/google/knative-gcp/issues/1698
Now the error looks like this
<img width="1440" alt="Screen Shot 2020-09-16 at 3 49 16 PM" src="https://user-images.githubusercontent.com/52932582/93400381-89ac9c00-f834-11ea-8ebc-06a6363a030e.png">

[2020-09-16 23:24] #1698 closed

[2020-09-17 01:07] capri-xiyue opened #1719 "Add UT for pullsubscriptions regarding scenarios like failing to create receiver adapter and failing to update receiver adapter"
**Problem**
Currently we miss UT for pullsubscriptions regarding scenarios like failing to create receiver adapter and failing to update receiver adapter.
Will need to use https://godoc.org/k8s.io/client-go/kubernetes/typed/apps/v1/fake#FakeAppsV1.Deployments to do it.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Crite

[2020-09-17 02:41] #611 closed

[2020-09-17 04:07] #1682 closed

[2020-09-17 05:39] #1719 closed

[2020-09-17 14:56] zhongduo commented on #1692
Default topic test:
Organization Policy set to `us-west`, created new topic with no or empty TopicConfig, read back topic configuration to `us-west`.

Conclusion: new created topic will always respect the organization policy.

[2020-09-17 15:03] zhongduo commented on #1692
Create conflict topic test:
Organization Policy set to `us-west1`, created new topic with `AllowedPersistenceRegions = []string{"us-east1"}`, getting errors when creating topic:
[code]

Conclusion: new created topic will fail if it conflicts with the organization policy.

[2020-09-17 15:34] zhongduo commented on #1692
Publish message to a topic with outdated location restriction:

Organization Policy set to `us-west1`, created new topic so that the region is `us-west1`, then change the organization policy to `us-east1`, publish message again. No error is reported when publishing messages to the old topic.

Conclusion: a change of organization policy will not impact publishing message to the existing topic.

[2020-09-17 16:04] #1688 closed

[2020-09-17 16:35] zhongduo commented on #1692
Manual topic configuration update test:

Organization Policy set to `us-west1`, created new topic so that the region is `us-west1`, then change the organization policy to `us-east1`, call Update as below:
[code]

This failed due to conflict in AllowedPersistenceRegions.

Using an empty MessageStoragePolicy can resync the topic setting with organization policy, below will set topic to `us-east1`:
[

[2020-09-17 16:40] zhongduo commented on #1678
An investigation of conflict behavior between topic setting and organization policy can be found in #1692

[2020-09-17 16:47] zhongduo commented on #1701
Default topic test:
Organization Policy set to `us-west1`, created new topic with no or empty TopicConfig, read back topic configuration to `us-west1`.

Conclusion: new created topic will always respect the organization policy.

[2020-09-17 16:47] zhongduo commented on #1701
Create conflict topic test:
Organization Policy set to `us-west1`, created new topic with `AllowedPersistenceRegions = []string{"us-east1"}`, getting errors when creating topic:
[code]

Conclusion: new created topic will fail if it conflicts with the organization policy.

[2020-09-17 16:48] zhongduo commented on #1701
Publish message to a topic with outdated location restriction:

Organization Policy set to `us-west1`, created new topic so that the region is `us-west1`, then change the organization policy to `us-east1`, publish message again. No error is reported when publishing messages to the old topic.

Conclusion: a change of organization policy will not impact publishing message to the existing topic.

![i

[2020-09-17 16:48] zhongduo commented on #1701
Manual topic configuration update test:

Organization Policy set to `us-west1`, created new topic so that the region is `us-west1`, then change the organization policy to `us-east1`, call Update as below:
[code]

This failed due to conflict in AllowedPersistenceRegions.

Using an empty MessageStoragePolicy can resync the topic setting with organization policy, below will set topic to `us-east1`:
[

[2020-09-17 20:24] upodroid opened #1732 "Allow the controller to inject istio sidecar proxy."
**Problem**
I need to have istio sidecar injected in to every pod but the Controller sets `sidecar.istio.io/inject` to false.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for? All

**Exit Criteria**
Istio Injection is set to true.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve? Half a d

[2020-09-17 20:24] upodroid commented on #1732
@yolocs ^

[2020-09-17 22:58] #1732 closed

[2020-09-18 16:35] grac3gao opened #1738 "Separate the Data Plane to use a new Google Service Account in E2E test WI mode"
**Problem**
We have some flakiness in E2E test WI mode. It was solved by separate the Data Plane to use a new Google Service Account.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many develop

[2020-09-18 19:09] grantr opened #1739 "Switch Topic and PullSubscription to use normal pubsub client"
**Problem**
Topic and PullSubscription reconcilers still use the gpubsub client, making their tests different from the Broker and Trigger tests which use pstest. It would be nice, especially for horizontal features like #1678, if the tests used similar helpers.

**Exit Criteria**
Topic and PullSubscription reconciler code stop using gpubsub, and tests use pstest.

Related to #1430.

/cc @nachocano

[2020-09-18 19:20] grantr opened #1740 "No unit tests for data residency config in Topic reconciler"
We'll try to fix #1739 first. See https://github.com/google/knative-gcp/pull/1681#discussion_r491141529.

/assign @zhongduo

[2020-09-18 19:22] grantr opened #1741 "Data residency configmap is not validated by webhook"
**Describe the bug**
Followup from https://github.com/google/knative-gcp/pull/1681#issuecomment-695042860.

 **Expected behavior**
Invalid keys in the config-data-residency configmap cause a webhook error.

/assign @zhongduo

[2020-09-19 02:27] #1680 closed

[2020-09-21 17:34] zhongduo commented on #1701
Closing this if no more tests are required. @grantr @yolocs

[2020-09-21 17:50] zhongduo commented on #1430
One of the important factor here when making such choice is: **do we want to reconcile/recreate topics when the topics for broker or trigger are deleted somehow?**

My experiment shows that if I delete manually a topic for retry, the trigger reconciler will not recreate it in minutes. It might recreate it during the next reconciliation period, but that will be hours later. If we want to do that, w

[2020-09-21 18:17] liu-cong commented on #1430
The resync period is 5 min, so it should recreate within 5 min. Did you have to wait longer than that?

Note that CRDs won't reconcile the topic immediately either.

[2020-09-21 18:23] zhongduo commented on #1430
You just made this a bug.... If you confirm this is the intended behavior, I will open a bug issue. But if I didn't do anything wrong, the retry topic I deleted was not created after 15 mins at least.

[2020-09-21 18:42] liu-cong commented on #1430
Please file a bug. Thanks @zhongduo for your finding!

[2020-09-21 19:00] grantr commented on #1430
There should be a k8s event noting that the topic was found to be missing and was recreated (plus the pull subscription was deleted and recreated with the new topic). Looking for that event within 5 minutes of the topic deletion will help narrow down where the issue is.

[2020-09-21 19:01] zhongduo opened #1749 "Reconcile deleted topics created by broker or trigger"
**Describe the bug**
Currently if a retry topic is deleted, the trigger reconciler cannot recreate it in minutes. I have tested with 30 mins at least.

 **Expected behavior**
When the resync period is reached, which is 5 mins currently, the deleted topic should be recreated.

 **To Reproduce**
Follow the gcp example, then delete the retry topic, and wait long enough to see if the topic is recreate

[2020-09-21 19:02] zhongduo commented on #1749
This is also discussed in #1430

[2020-09-21 19:17] zhongduo commented on #1430
hmm, waited for 5 minutes with `stern -n cloud-run-events controller....`, no output in the 5 minutes.

[2020-09-21 21:30] #1697 closed

[2020-09-21 22:32] ian-mi opened #1751 "Target Test Pod Exits Without Sending HTTP Response Status"
**Describe the bug**
The target test pod will sometimes exit after successfully receiving the target event but will not send the response status causing the trigger to get an EOF error.

 **Expected behavior**
The target test pod should send status OK before exiting when receiving the target event.

 **To Reproduce**
This issue causes occasional failures in TestGCPBrokerMetrics.

[2020-09-21 23:17] grac3gao commented on #1751
[Summary](https://docs.google.com/spreadsheets/d/1foMAzCFvOk07SEvp0uD9lsm4OC-cMJInC3wDndkf7LI/edit?usp=chrome_omnibox&ouid=117204249182022171180) for TestGCPBrokerMetrics failure

[2020-09-21 23:40] grantr opened #1753 "Sending a huge event crashes the broker ingress"
**Describe the bug**
Reported by @Ectelion. An extremely large event causes the broker ingress to crash with OOM.

 **Expected behavior**
Extremely large events don't crash the broker ingress. Events greater than a configured or hardcoded size are rejected with HTTP status code 413 Payload Too Large.

 **To Reproduce**
Send an event payload of multiple gigabytes (not sure exactly how big).

 **Kna

[2020-09-22 00:12] Ectelion opened #1754 "Requests with very large payload (>1Gb) need to be gracefully handled"
**Describe the bug**
Currently, there seems to be no validation that gracefully handles the case with very large payload (>1Gb are possible). Regardless of payload size, the Broker attempts to load it in-memory, which in some cases makes it prone to out-of-memory issues.

 **Expected behavior**
There should be a cap on payload. The Broker shouldn't attempt to process requests with payload exceedin

[2020-09-22 00:22] Ectelion commented on #1754
I think the max cap should be lower than both of (1) default Pub/Sub throughput quota and (2) OustandingBytesLimit on ReceiverSettings (otherwise, the message may get stuck on PubSub).

[2020-09-22 00:35] Ectelion commented on #1753
Oh, just got an e-mail notification about this and by that time I have also reported it over [here](https://github.com/google/knative-gcp/issues/1754). We can mark that one as a duplicate, but, whoever needs, may refer there for some additional details.

[2020-09-22 00:40] Ectelion commented on #1754
Actually, same issue was just reported in #1753, so we may consider this as a duplicate.

[2020-09-22 16:19] grantr commented on #1706
We may want other values for different error cases.

[2020-09-22 16:33] ian-mi opened #1757 "Probe Helper Fails With Fetching OAuth2 Token"
**Describe the bug**
probe_helper_test.go fails with oauth2: cannot fetch token: 400 Bad Request

 **Expected behavior**
Unit tests should not need to fetch auth tokens.

[2020-09-22 16:43] liu-cong commented on #1430
I was not able to reproduce this for 0.15. @zhongduo Which version did you test?

[2020-09-22 16:56] tommyreddad commented on #1757
Do you have a log of this happening, locally or on prow? I wrote the probe helper tests and never ran into this while running the tests myself.

[2020-09-22 17:06] #1753 closed

[2020-09-22 17:14] grac3gao commented on #1393
We are fine with our current way to make Broker Data Plane's auth config more like our Control Plane do (no `IdentitySpec`). We may want to revisit it if we want to use multiple BrokerCell in one cluster in the future.

[2020-09-22 17:21] grantr commented on #1700
The deployment controller used for control plane can be used to restart data planes as well.

[2020-09-22 17:24] grantr commented on #1700
Also note: during a rolling restart, pod rollover takes at least 30 seconds

[2020-09-22 17:45] ian-mi commented on #1757
Yes, this is the test output on master:

[code]

[2020-09-22 17:51] tommyreddad commented on #1757
Thanks! I see what's wrong. This can be recreated just by disconnecting from the internet before running the test lol

[2020-09-22 18:06] zhongduo opened #1759 "Test reconciler event handlers from informer"
**Problem**
Currently we don't have an easy way to test event handlers of certain informers. This led to hard to notice problems like #1704.  Similar problem is whether an informer resync will really happen, like in #1749. We should investigate in a possible testing framework to test similar problems that involves event handlers of informers. Our existing solution is to rely on e2e test, but it is

[2020-09-22 18:07] cathyzhyi opened #1760 "Broker fanout service doing unnecessary event copying when publish to retry topic"
**Describe the bug**
The fanout profiling data shows large memory consumption on sending message to retry topic. Almost all the memory usage comes from copying bytes in `makeSlice`
<img width="1002" alt="Screen Shot 2020-09-22 at 2 21 19 PM" src="https://user-images.githubusercontent.com/14285834/93921695-e4377380-fcde-11ea-8052-cf9ded535b30.png">

 **Expected behavior**
Fanout don't copy events w

[2020-09-22 19:56] zhongduo commented on #1739
gpubsub has a way to inject errors in a normal client call, eg create new topic or deleting a topic, this is currently not supported in `pstest`, so we will be missing some tests of server error handling.

[2020-09-22 21:56] liu-cong commented on #1749
It seems there was some recent change to the reesyncPeriod validation logic. I found the following log in my controller:
`W0922 21:37:44.196866       1 shared_informer.go:461] resyncPeriod 300000000000 is smaller than resyncCheckPeriod 36000000000000 and the informer has already started. Changing it to 36000000000000`

The resync is overriden to 10 hours. Need to find the code where the 10 hour li

[2020-09-22 21:58] zhongduo commented on #1749
The default reconciler period is 10 hours from Adam, maybe in webhook.

[2020-09-22 22:00] zhongduo commented on #1749
Found it, `pkg/reconciler/reconciler.go`.

[2020-09-22 22:27] Ectelion commented on #1713
Here is a more resource-aware configuration. Compared to the [baseline config](https://github.com/google/knative-gcp/issues/1601#issuecomment-693673854), it reduces the initial and per-pod resource request and makes it more demand-driven at the cost of performance (e.g. more sensitive cold start, higher initial backlog):
* **CPU**
    * **Request:** 1500m (reduced by 1000m, compared to the baselin

[2020-09-22 22:45] #1757 closed

[2020-09-22 22:58] zhongduo commented on #1749
IIUC, the problem is due to the fact that the actual resync period is rounded up to at lest the `resyncCheckPeriod` which is passed when creating the informer. The actually informer creation is hidden deeply in the injection code:

The injection in the project eventually called this function in `pkg/client/injection/informers/factory/factory.go`:
[code]

Where `GetResyncPeriod` will check if one i

[2020-09-22 23:26] zhongduo commented on #1749
I don't think `resyncPeriod` is the right method for doing this, it seems that what we need is just a topic monitoring at a fixed interval etc. Note that resync operation can be costly as it will try to reconcile all resources, eg 10000 triggers, so we should really investigate other alternative here.

[2020-09-23 13:35] zhongduo opened #1765 "Revisit pubsub client creation behaviour in several reconcilers like broker and trigger"
I understand this code is unlikely to use in reality, but I am seeing in the broker and trigger that when a pubsub client is not passed from the controller, a new pubsub client will always be created then closed during reconciliation, rather than created then save. See following code from `pkg/reconciler/broker/broker.go`.

![image](https://user-images.githubusercontent.com/9036084/94019360-acccd3

[2020-09-23 16:46] #1760 closed

[2020-09-23 18:22] tayarani commented on #928
/assign @tayarani

[2020-09-24 16:45] liu-cong commented on #928
A few caveats to consider:

* Adjust Resource Usage

We need to rerun our stress tests and adjust default resource request/limit and HPA parameters.

* Reuse Prefilter Result
Reusing prefilter results in fanout/retry will cause interesting behavior change due to timing. Current implementation always evaluates trigger filters at delivery time, while reusing prefilter shifts the evaluation at ingest

[2020-09-24 18:20] #1713 closed

[2020-09-25 19:40] #1741 closed

[2020-09-25 22:36] #1751 closed

[2020-09-25 23:24] #1738 closed

[2020-09-26 01:52] Ectelion commented on #1754
There is actually a bit wider issue: down the page with [PubSub quotas](https://cloud.google.com/pubsub/quotas#resource_limits), there appears to be an additional table with non-extendable quotas. It specifies "10Mb" as the max message size.  Just in case, I've double checked and requests with payload above that are indeed not passing at the publishing stage.

[2020-09-28 15:52] zhongduo opened #1774 "Enforce proper commit message to improve the code base"
Our existing codebase does not enforce any commit message check hook and also squash happens automatically. This has resulted in very difficult to read commit history, which is supposed to be a informative document of the code change over time. Here is my proposal to improve our code base:

* Enforce commit history check from www.conventionalcommits.org, some of the google cloud repos are already

[2020-09-28 19:47] grac3gao commented on #1709
Related: https://github.com/google/knative-gcp/issues/1058

[2020-09-29 17:23] grantr commented on #1749
@nachocano this might also affect source reconcilers. Seems like we may have a bug in injection-gen with a recent version of client-go.

[2020-09-29 19:37] capri-xiyue commented on #1749
I tested CloudSchedulerSource with latest knative-gcp.
Verified that CloudSchedulerSource can't recover from Topic deletion now.
Saw error logs in the controller logs of cloud-run-events namespace
`W0929 18:43:26.592792       1 shared_informer.go:461] resyncPeriod 300000000000 is smaller than resyncCheckPeriod 36000000000000 and the informer has already started. Changing it to 36000000000000
`
I b

[2020-09-29 19:57] grantr commented on #1612
I moved this back to the backlog. Has the fix we were waiting on in CloudEvents SDK been released yet?

[2020-09-29 19:59] capri-xiyue commented on #1749
I verified that knative-gcp release-0.16 works but master is broken.
Did some investigation.
It looks like in knative-gcp release-0.16 and master, the informers start at different time.
In master, the informer starts before source/broker controller starts, therefore, it fails when we try to set non-default resync period.
But in release-0.16,  the informer starts after the source/broker controller

[2020-09-29 20:48] #1754 closed

[2020-09-29 21:18] tommyreddad commented on #1612
It was released yesterday, I'll make a quick PR with the upgrade which should close this issue.

[2020-09-30 00:20] #1595 closed

[2020-09-30 00:43] grantr commented on #1774
I agree good commit messages are important and useful when trying to find out why code was written a certain way! But before adding enforcement of commit messages, let's work on the shared understanding of what a good commit message looks like. Once we have that shared understanding, then we can add automatic enforcement if we feel it's useful.

The collaborators in this repo frequently work with

[2020-09-30 00:43] #1774 closed

[2020-09-30 13:24] tommyreddad opened #1780 "Add more descriptive log message during subscription config update"
**Problem**
Currently when a pubsub subscription config is updated during subscription reconciliation, we only log the subscription ID.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
During subscription reconciliation when the subscription config is updated, we should also log the new subscription config.

**T

[2020-09-30 15:52] zhongduo opened #1781 "Infer project id from environment variable if not set in sources"
**Problem**

The sources, such as the topic, currently expect project id to be set in the spec. If
not set, it uses the metadata client to infer the project id. In the broker and trigger,
an environmental variable is also used to work with non-gcp system. We should
change the source logic to infer project id in the following order:

1. spec.project
2. env `PROJECT_ID`
3. gcp metadata client

**[Pe

[2020-09-30 20:15] danyinggu commented on #1544
@nachocano Is there anyone planning to pick up this? If not, I can go for this.

[2020-09-30 20:18] nachocano commented on #1544
I was thinking of giving this to @eclipselu but he has some other issues to work on first. If you are free and want to go for it, you are more than welcome to do so. Otherwise we can wait a bit

[2020-09-30 20:22] danyinggu commented on #1544
Ok. Thanks for clarifying! Just want to see if we need help with this as it was unassigned. But yeah this is a great issue for ramping up. Let's see if Lu has free cycle then. Please let me know if I can help later.

[2020-09-30 20:34] capri-xiyue opened #1784 "Move APIServerSource to v1"
**Problem**
This is just a duplicate of https://github.com/knative/eventing/issues/4166, so that we can track it in our sprint.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
APIServerSource in v1

[2020-09-30 20:36] capri-xiyue opened #1785 "Move PingSource to v1beta2"
**Problem**
This is just a duplicate of https://github.com/knative/eventing/issues/4167, so that we can track it in our sprint.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
PingSource in v1beta2

[2020-09-30 20:37] capri-xiyue opened #1786 "Move ContainerSource to v1"
**Problem**
This is just a duplicate of https://github.com/knative/eventing/issues/4175 so that we can track it in our sprint.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
ContainerSource in v1

[2020-09-30 20:39] capri-xiyue opened #1787 "Move SinkBinding to v1"
**Problem**
This is just a duplicate of https://github.com/knative/eventing/issues/4176, so that we can track it in our sprint.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
Sinkbiding in v1

[2020-09-30 23:39] yolocs opened #1789 "Avoid unintentional HPA replicas increase during deployment updates"
**Describe the bug**
We currently use autoscaling v2beta2 API for broker deployments. But the it seems causing unintentional autoscaling during deployment update. Found related issue https://github.com/kubernetes/kubernetes/issues/84142, and in comment https://github.com/kubernetes/kubernetes/issues/84142#issuecomment-544865183 it specifically points out that v2beta2 is impacted.

[2020-10-01 01:51] Ectelion commented on #1545
We had some more thoughts and discussions about this, let me try to summarize it.

To recap, we have a trade-off between more meaningful resource utilization and the following pod failure risks:
* When consumption goes above the request, the pod is considered as ‘overcommitted’ and becomes a candidate for eviction;
* A pod is not guaranteed to get resources above the request, e.g. it may be schedu

[2020-10-01 01:51] #1545 closed

[2020-10-01 15:18] #1612 closed

[2020-10-01 21:41] #1583 closed

[2020-10-02 20:00] grantr opened #1796 "Move Broker and Trigger controllers to v1 APIs"
The broker and trigger controllers currently use v1beta1 APIs. The v1 APIs have the same structure so we should be able to upgrade to v1 without changing any behavior.

[2020-10-05 19:17] zhongduo opened #1801 "Remove dependency on serving v1alpha and v1beta API"
**Describe the bug**
The Knative serving has removed support for v1alpha and v1beta, https://github.com/knative/serving/releases

Though the official EOL is 0.19, the master branch has already remove the support, so errors will be encountered when running `./hack/update-deps.sh --upgrade`. Currently the serving repo is pinned to v0.18.0.

 **Expected behavior**

`./hack/update-deps.sh --upgrade` s

[2020-10-05 19:38] #1739 closed

[2020-10-05 20:43] #842 closed

[2020-10-05 20:44] nlopezgi commented on #842
Closing as this is old. Please open a new bug if seen again

[2020-10-06 15:24] #1749 closed

[2020-10-06 15:54] tayarani opened #1803 "Stress test ingress filtering of trigger-less events"
**Problem**
As part of issue  #928 a new behaviour was added to drop events without triggers at the ingress level. We need to stress test that to see how it affects performance.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
Performance is better when the feature is enabled.

**Time Estimate (optional):**
5d

[2020-10-06 15:56] tayarani opened #1804 "Make ingress filtering of trigger-less events the default behaviour"
**Problem**
The solution to #928 is disabled by default. Once #1803 is done and confirmed, we should make dropping trigger-less events the default behaviour.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
The feature is enabled by default.

[2020-10-06 16:52] grantr commented on #1598
Decided on 10% of total throughput being retried.

[2020-10-06 17:04] grantr commented on #1671
Duplicate of #1696

[2020-10-06 17:04] #1671 closed

[2020-10-06 17:11] grantr commented on #609
Clarifying that this issue is about automating the E2E upgrade test, not doing it manually.

[2020-10-06 17:11] cathyzhyi commented on #1598
The default target for retry is set to cover 10% failure rate for the fanout delivery. The resulting throughput is sum of a geometric progression with scale factor of 10% and base of 2.5Gb which is fanout target throughput set in #1597 . ( 10%+10%*10% + 10%*10%*10%....)*2.5 Gb/s ~280Mb/s.

[2020-10-06 17:27] #1598 closed

[2020-10-06 17:55] #1610 closed

[2020-10-06 19:09] grantr opened #1807 "Add support for a feature flag configmap"
**Problem**
Sometimes we need to add features that are experimental or carry tradeoffs. It would be useful to give cluster operators a unified way to list these features and enable or disable them as needed **at runtime**.

Two features that have mentioned the need for feature flags are #1130 and #928. For #928, we will add an environment variable to turn the feature on and off. This works for con

[2020-10-06 19:24] grantr commented on #866
Let's scope this down to just creating the webhook infrastructure to label broker objects. We can create followup issues to:
- decide and implement an assignment strategy
- use the label in the brokercell controller to select a subset of brokers per brokercell

[2020-10-06 19:30] grantr commented on #866
I'm not sure this is strictly necessary. We can also select brokers using an annotation by looping through the informer cache with no efficiency penalty.

[2020-10-06 19:34] grantr opened #1808 "Use assignment label to select which BrokerCell should service a Broker"
**Problem**
In #866 we'll define a label or annotation that assigns a Broker to a BrokerCell. The BrokerCell controller should use this value to decide which BrokerCell should service a broker, and in which targets configmap the broker's targets should be contained.

**Exit Criteria**
Brokers are serviced by the BrokerCell identified in their metadata

**Additional context (optional)**
Not strictl

[2020-10-06 19:46] grantr opened #1810 "Decide on a strategy to assign Brokers to BrokerCells"
**Problem**
Split out from #866, which only assigns the default BrokerCell.

We should define the strategy for selecting the correct BrokerCell for a Broker when multiple BrokerCells exist. Ideally the strategy can be configured by a cluster operator to automatically select the correct BrokerCell for a Broker.

**Exit Criteria**
Given a set of BrokerCells and Brokers, we can predict which Brokers

[2020-10-06 20:24] #1740 closed

[2020-10-06 20:45] grantr commented on #1683
Looks like we never triaged this one. This seems like it might be a P1. What do you think @yolocs?

[2020-10-06 20:48] yolocs commented on #1683
Should be fixed in https://github.com/google/knative-gcp/pull/1690

[2020-10-06 20:48] #1683 closed

[2020-10-06 20:49] grantr commented on #1632
Looks like we missed this in triage. @Ectelion did we make a decision about this, or is it still an issue?

[2020-10-06 21:13] grantr opened #1811 "Create default BrokerCell on installation"
**Problem**
Currently we create the default BrokerCell only when the first Broker is created. This makes it impossible to alter the default BrokerCell's parameters before creating a Broker. See #1671 for a case where this would be useful.

The original idea of creating the default BrokerCell on demand was to minimize idle resource requirements. We can still accomplish this by scaling all deploymen

[2020-10-06 21:17] grantr commented on #1808
Also part of this: adding assignment awareness to the Broker controller so it can decide which BrokerCell determines readiness and Broker address.

[2020-10-06 22:17] Ectelion commented on #1632
@grantr current implementation follows approach 1, but we didn't discuss if everyone is fine with this policy. My bad on putting this to the backlog. I will bring this up during the next team sync up.

[2020-10-06 22:20] grantr opened #1812 "Default broker resource requirements too high for development clusters"
**Problem**
The BrokerCell default resource requirements are currently intended for production clusters, requesting several CPUs and a few gigabytes of memory. #1671 suggests these requirements are too high for development purposes.

We may want to ship a more development-oriented configuration by default, on the assumption that most installs from this repo will not be running in production immedi

[2020-10-06 22:20] grantr commented on #1671
I think this is actually 3 requests:
- Document how to alter the BrokerCell resource requirements. This is tracked in #1696.
- Make the BrokerCell resource requirements editable before creating a Broker. Tracked in #1811.
- Reduce the shipped resource requirements to be more appropriate for dev clusters. Tracked in #1812.

[2020-10-06 22:21] grantr commented on #1812
@upodroid do you have any thoughts on what resources are available in a typical development environment? What tweaks did you make to the BrokerCell resource for #1671?

[2020-10-06 22:23] Ectelion commented on #1520
This is now fixed for Ingress and Fanout as part of #1600 and #1601. Retry configs are upcoming (#1602) and will most likely account for this as well. We can close this after that.

[2020-10-06 22:36] upodroid commented on #1812
In a dev environment, you usually run out of cores before memory. In my case I was running a gke cluster with 2 e2-standard-4 nodes with a total of 8 codes. It was running istio + knative + knative-gcp + prom-operator stack.

When I'm creating the broker, I would like to specify the resource limits there so that I don't have to edit the underlying resource such as the brokercell. The deployments t

[2020-10-06 22:38] upodroid commented on #1812
The default node pool that Google creates nowadays is like 3x e2-medium which is a total of 3 real cores. For some reason k8s doesn't consider it as 6 vcpus

[2020-10-06 23:11] grantr opened #1813 "Partition brokers and triggers to avoid scaling limits"
**Problem**
The BrokerCell has a few scaling limits today:

1. Each fanout pod maintains a streaming pull connection to each broker subscription. Each of those connections maintains an incoming message buffer (and the size of that buffer is [difficult to control](https://cloud.google.com/pubsub/docs/pull#streamingpull)) These buffers limit the total number of brokers that can be serviced by a fano

[2020-10-07 00:49] capri-xiyue commented on #1784
Closed issue since knative/eventing#4166 get closed

[2020-10-07 00:49] #1784 closed

[2020-10-07 03:18] cathyzhyi commented on #1602
here are the configuration proposed to reach the target throughput in #1598
* **CPU**
    * **Request:** 2000m
This is based on all the experiments did with different combinations (`rps`* `payload size` *`number of triggers` ) to reach target throughput. The highest CPU consumption for a single pod is around 3500-4000m. With autoscaling, this is set to a lower number so that a single pod resources

[2020-10-07 15:17] cathyzhyi opened #1815 "Retry OOM when setting memory request to 1-1.5G"
**Describe the bug**
While determine the resource requirement for target workload in #1602 , we found that retry can get OOM with setting _MaxOutstandingMessags=100, memory limit=1 or 1.5G_  However, when setting memory limit to 2G the memory usage graph shows the memory usage consistently below 1G.
<img width="1101" alt="Screen Shot 2020-10-07 at 11 07 03 AM" src="https://user-images.githubuserco

[2020-10-07 17:05] #1706 closed

[2020-10-07 19:00] grantr commented on #1544
The v1alpha Channelable duck is likely to be removed in 0.19 (https://github.com/knative/eventing/issues/3881). The v1alpha1 PubSub Channel uses v1alpha1 Channelable, but v1beta1 Channel does not.

If we can't drop support for v1alpha1 Channel by 0.19 (I'm not sure we can, since we need to do a post-install job to convert), then we'll need to figure out how to keep v1alpha1 channelable code (by co

[2020-10-07 19:17] zhongduo commented on #1664
/assign @zhongduo

[2020-10-07 20:51] grantr commented on #1801
I think the exit criterion is that we can upgrade to serving master, not v0.18.1

[2020-10-07 20:58] zhongduo commented on #1801
Thanks for catching it, updated. Also agree this is one of the highest priority items, as any upgrade of knative.dev might fail or introduce unexpected bug now that we are not using master.

[2020-10-08 15:08] nlopezgi commented on #1534
Hi folks, are there any updates on this issue? Is this still a problem?

[2020-10-08 16:17] liu-cong commented on #1534
I think we encountered another serving nightly issue since this issue was created. @capri-xiyue can confirm I think.

In my opinion it's pretty bad to block PRs due to nightly serving errors. But we may be OK with it given its relatively low frequency.

[2020-10-08 17:18] capri-xiyue commented on #1534
Yep, we encountered serving issues since istio had some problems. But the frequency is quite low, I think it will be ok if we use nightly serving.

[2020-10-08 18:30] nlopezgi commented on #1534
sgtm, closing this issue for now. Please reopen anytime if the frequency of errors increases and we need to have this discussion again. For what its worth, I agree with the principle that we should be using nightly serving to try to catch any issues as soon as they occur.

[2020-10-08 18:30] #1534 closed

[2020-10-08 20:49] #1781 closed

[2020-10-08 21:46] grantr commented on #1594
https://github.com/cloudevents/sdk-go/pull/596 makes this possible by allowing a custom function to specify the retry policy.

[2020-10-08 22:21] #1801 closed

[2020-10-10 01:09] capri-xiyue opened #1822 "Add missing source observer role in knative-gcp"
**Describe the bug**
There is no source observer role in knative-gcp which provides read-only access to sources.
Without this source ovserver role, knative-gcp trigger won't be able to track sources for the dependency annotation

 **Expected behavior**
A clear and concise description of what you expected to happen.

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative-GCP release version

[2020-10-10 01:17] AlexandraRoatis commented on #1789
- I verified that the unintended increase in replicas occurs and it escalates substantially for fast successive updates (in my test consecutive `kubectl rollout restart`).
- Switching to version `v1` may not be desirable because it appears that it only supports autoscaling on CPU:
    - https://godoc.org/k8s.io/api/autoscaling/v1#HorizontalPodAutoscalerSpec
    - https://cloud.google.com/kubernete

[2020-10-12 16:02] yolocs commented on #1789
@Ectelion @cathyzhyi

How comfortable will we be if we remove memory from HPA?

[2020-10-12 17:30] capri-xiyue opened #1824 "ClusterRole of knative-eventing and knative-gcp has same name"
**Describe the bug**
For example, in knative-gcp, we have clusterrole called [addressable-resolver](https://github.com/google/knative-gcp/blob/e048a4ff559a26871b287632eeeceddfdf1490b9/config/core/roles/addressable-resolvers-clusterrole.yaml#L20) ,
and in knative-eventing, we also have clusterrole called  [addressable-resolver](https://github.com/knative/eventing/blob/7d981f818ef045898581d31578226e

[2020-10-12 18:05] #1822 closed

[2020-10-12 18:58] #1787 closed

[2020-10-12 19:57] Harwayne opened #1827 "Controller should not have Cluster-wide Secret permissions"
**Problem**
We currently grant the `cloud-run-events/controller` KSA cluster-wide read permissions on Secrets:
https://github.com/google/knative-gcp/blob/8957a127be43c428dbc9f9db3e0219af8a8684a2/config/core/roles/clusterrole.yaml#L122

As far as I can tell, the controller only wants to inform about secrets in its own namespace:

https://github.com/google/knative-gcp/blob/8957a127be43c428dbc9f9db3e

[2020-10-12 23:19] capri-xiyue opened #1829 "Add E2E test for DependencyAnnotation in Triggers"
**Problem**
In order not to regress the dependencyAnnotation functionality, we need an e2e test that first creates a Trigger with the dependency annotation, and then the source. Both should become ready.
Similar to this https://github.com/knative/eventing/issues/2582
**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria

[2020-10-13 07:09] Ectelion commented on #1789
This is an interesting result, thanks for finding this out!

In the current version, we have very different worst cases for the CPU consumption and for memory consumption. This can be seen on the plot below, where we have high CPU / low memory series of experiments to the left and, contrary, low CPU / high memory results to the right.

![image](https://user-images.githubusercontent.com/1721518/958

[2020-10-13 07:37] Ectelion commented on #1713
## Update

Thanks to @yolocs, one other memory pressuring worst case has been found. It appears when there are multiple brokers under relatively high load, when total load across the brokers approaches our max throughput target.

As a result, _MaxOustandingBytes_ is now being further reduced to 400Mb. This significantly reduces the memory consumption for that scenario. The impact has also been re-

[2020-10-13 16:26] tommyreddad opened #1832 "Properly implement linear backoff in Broker delivery spec"
**Describe the bug**
The Broker delivery linear backoff policy is incorrectly implemented and actually implements constant backoff, i.e., the same duration is used as a delay between each retry.

 **Expected behavior**
The linear backoff policy should have the delay increase linearly between each retry, i.e., the n-th retry delay should be `backoffDelay*n`.

 **To Reproduce**
Steps to reproduce th

[2020-10-13 16:48] tommyreddad commented on #1832
As discussed during the sync meeting, we decided not to support linear backoff, and we can reject linear backoff configuration during webhook validation.

[2020-10-13 17:00] grantr commented on #1789
Notes from sync:
- Test the number of replicas added during update
- If 2x, try to increase speed of scaledown
- if +1, do nothing

[2020-10-13 17:01] #1632 closed

[2020-10-13 17:17] grantr commented on #1765
When does the pubsub client creation return an error? Let's list the possible failure modes. If they are all unrecoverable and not triggerable by user error, then maybe we should crash the pod.

Pubsub client may in the future add a creation failure. So we should be defensive about client error.

Pubsub outage can cause the client creation to hang. Difficult to add a connection timeout.

Suggest a

[2020-10-13 17:19] #1701 closed

[2020-10-13 18:39] Ectelion commented on #1553
We've completed additional experiments for various workloads and summarized our configurability recommendations. Below is a snapshot of the doc shared internally (some details and links are removed for now). As can be seen, we focus on summarizing the general trends rather than providing some exact numbers/formulas (which may likely vary from one version to another), although some experimental res

[2020-10-13 18:40] #1553 closed

[2020-10-13 21:52] #1602 closed

[2020-10-13 23:05] grantr opened #1835 "Figure out if we need knative/eventing#4296"
https://github.com/knative/eventing/pull/4296 changes the way trigger dependencies are tracked by switching from the kresource duck to the source duck. Do we need this change too?

[2020-10-14 19:40] grantr commented on #1824
Suggestion for how to avoid future regressions: verify that no cluster-scoped or namespaced objects installed have the same name as other objects

[2020-10-15 18:00] tommyreddad commented on #1177
@capri-xiyue @nlopezgi The MTBroker with pub/sub channel tests are now working ever since https://github.com/knative/eventing/pull/3612.

Knative-GCP currently does not distinguish between conformance and e2e tests, so this issue seems to also involve creating that distinction. Do we want to replicate the repo structure for knative/eventing? The current knative-gcp hierarchy is
- test
  - e2e

[2020-10-15 18:02] nlopezgi commented on #1177
I do think in general its better to replicate the repo structure from usptream, unless there is a reason not to do so for our case.

[2020-10-15 18:04] capri-xiyue commented on #1177
Another point of this issue is to create separate testgrid for conformance test like what knative-eventing does instead of combining all the e2e and conformance tests in the same testgrid

[2020-10-15 18:07] #1829 closed

[2020-10-17 00:10] #1177 closed

[2020-10-19 18:20] Ectelion commented on #1520
This is now addressed for all the BrokerCell deployments.

[2020-10-19 18:20] #1520 closed

[2020-10-20 16:06] tommyreddad opened #1844 "Conformance tests fail during uploading test images"
**Describe the bug**
The conformance tests are failing while uploading knative-gcp test images.

 **Expected behavior**
The conformance tests should run and complete successfully.

 **To Reproduce**
Submit a PR against knative-gcp, e.g.,
- https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/google_knative-gcp/1842/pull-google-knative-gcp-conformance-tests/1318568469230260226
- https://prow.

[2020-10-20 16:49] #1786 closed

[2020-10-20 16:58] liu-cong opened #1846 "Investigate how to detect regressions using micro benchmarks"
**Problem**
We currently have micro benchmark tests such as [this](https://github.com/google/knative-gcp/blob/b705748520fa4ede869289b374a25bd1bbd87ad5/pkg/broker/handler/handler_test.go#L182). Right now we need to run these manually when needed. The idea is to run these tests automatically on presubmit (or periodically), and have some "analyzer" tool that detects performance regressions automatica

[2020-10-20 21:56] grantr commented on #1544
@eclipselu points out that we have a pre-install job in 0.18 that converts all v1alpha1 Channels to v1beta1 (#1653). So it should be safe to drop v1alpha1 Channel in 0.19.

[2020-10-21 18:56] #1844 closed

[2020-10-21 19:53] nlopezgi commented on #1610
Hey Folks, sorry to chime in on this so late after its been closed. We should be avoiding writing any more pre-install jobs and instead rely on post install jobs. Pinging here for future reference as I'm not sure where else to note this.

[2020-10-22 14:11] nlopezgi opened #1852 "maybe pull-google-knative-gcp-build-tests should skip *_gen.go files?"
**Problem**
Auto generated PRs fo Format Go code (https://github.com/google/knative-gcp/pull/1850) are not getting through.
From that PR:

Alternatively we should fix the tooling to generate properly formatted files?

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
Auto generated PRs can pass.

**Time Estimate (optional):**
1

**Additio

[2020-10-22 15:36] nlopezgi commented on #1544
I actually think we should consider switching the pre-install job for 0.18 that was just created and move it to a post install job. Pre-install jobs are heavily discouraged.

[2020-10-22 18:39] grantr commented on #1852
This might be as simple as adding `*_gen.go` to the list of patterns in .gitattributes: https://github.com/google/knative-gcp/blob/master/.gitattributes

[2020-10-22 21:38] Harwayne commented on #1234
Manually tested. Everything works correctly. The `ValidatingWebhookConfiguration` is deleted during the 'off' stage, so no problems occur when turned back to 'on'.

/close

[2020-10-22 21:38] #1234 closed

[2020-10-22 21:53] nlopezgi commented on #1852
Tested in PR above and using .gitattributes does not work as intended.

[2020-10-22 21:57] grantr commented on #1852
Looks like it's not quite that simple. I think we'll need to update the format bot to exclude files with the `linguist-generated` attribute set to `true`.

Currently the format bot uses this find command to get the names of files:
`export FILES=( $(find -path './vendor' -prune -o -path './third_party' -prune -o -name '*.pb.go' -prune -o -type f -name '*.go' -print) )`
(it already attempts to exclu

[2020-10-22 23:30] zhongduo opened #1857 "Failure for upgrade test in branch"
**Describe the bug**
In #1854 the upgrade test is not using the right latest version function in `test/lib.sh`, because our master does not have the right tag in `git describe`. Once we do this correctly in master from 0.19.0, we should change it back. For now, the upgrade test will always used the latest patch version of 0.18, and CI test will fail if we are committing to older release like 0.17.

[2020-10-23 20:24] #1664 closed

[2020-10-26 20:15] zhongduo commented on #610
I believe this is done by #1854 . We should be able to close this one.

[2020-10-27 04:32] grac3gao opened #1862 "[Respectful Code]Replace Disrespectful Terms"
**Problem**
Replace disrespectful terms.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?

**Additional context (optional)**
Add any oth

[2020-10-27 04:36] grac3gao opened #1863 "[Respectful Code]Tooling to avoid regressions"
**Problem**
Tooling to avoid regressions. Mainly for adding a presubmit to avoid regressions in the codebase for disrespectful code.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many develope

[2020-10-27 13:20] nlopezgi commented on #1863
Hi @grac3gao thanks for creating this issue,
Could you specify a bit more what kind of regressions you are referring to? If possible, if we have an issue or PR that shows the specific kind of regression you refer to please link it here.

[2020-10-27 13:53] eclipselu commented on #1544
Closing as the necessary PRs are merged, this is scheduled to release in v0.19

[2020-10-27 13:53] #1544 closed

[2020-10-27 17:21] grantr opened #1865 "Backport test/e2e-conformance-tests.sh to release branches"
**Describe the bug**
Adding the conformance test as a required job means it is required on all the release branches as well. Release branches don't have the job entry point script that Prow expects so the job always fails on PRs to release branches. See https://github.com/google/knative-gcp/pull/1864.

Prow doesn't seem to allow per-branch configs of which jobs are required. We'll need to backport

[2020-10-27 17:22] grantr commented on #1865
@tommyreddad is this something you can take care of?

[2020-10-27 17:48] tommyreddad commented on #1865
Which release branches should I do this for? I'm guessing 0.18, 0.17, 0.16, and 0.15b?

[2020-10-27 17:51] grantr commented on #1865
Thanks! That seems sufficient to me. You should be able to commit to one of the branches, then cherry-pick that commit to all the others.

[2020-10-27 19:20] zhongduo commented on #1862
I think native to "" can be a problem to enforce, as our project is.... Knative

[2020-10-27 19:53] grac3gao commented on #1862
@zhongduo for unavoidable terms, the guidance is to minimize the usage outside of it.

[2020-10-29 19:50] #928 closed

[2020-10-29 19:54] tommyreddad commented on #1865
The fix has been backported into all the required branches, PRs linked above. Closing the issue.

[2020-10-29 19:54] #1865 closed

[2020-10-30 23:43] liu-cong opened #1882 "TestCloudAuditLogsSourceBrokerWithPubSubChannel is very flaky"
**Describe the bug**
This test has caused several nightly test failures, also noticed this in presubmit tests. Example: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-google-knative-gcp-nightly-release/1321747110059577344

 **Additional context**
Can we just get rid of this test? This test is part of the "conformance" tests for PubSubChannel integration with MT broker. We don't need to inc

[2020-10-31 03:54] Ectelion commented on #1835
The Eventing's construct for tracking trigger dependencies was inherited by the [trigger reconciler](https://github.com/google/knative-gcp/blob/master/pkg/reconciler/trigger/trigger.go) in knative-gcp repo. Thus, we may see the same mismatch between the informer and lister in [pkg/reconciler/trigger/trigger](https://github.com/google/knative-gcp/blob/master/pkg/reconciler/trigger/trigger.go), [pkg

[2020-11-02 16:34] tommyreddad commented on #1882
@liu-cong We currently have the following conformance tests:
- TestEventTransformationForTrigger
- TestBrokerChannelFlow
- TestBrokerWithPubSubChannel
- TestCloudPubSubSourceBrokerWithPubSubChannel
- TestCloudStorageSourceBrokerWithPubSubChannel
- TestCloudAuditLogsSourceBrokerWithPubSubChannel
- TestCloudSchedulerSourceBrokerWithPubSubChannel

I'm not sure how valuable it is to keep any of the so

[2020-11-02 16:56] liu-cong commented on #1882
@tommyreddad

SGTM. Do you know what each of "TestEventTransformationForTrigger", "TestBrokerChannelFlow","TestBrokerWithPubSubChannel" does exactly? Just from the name it looks there might be some duplication there as well.

[2020-11-02 17:15] tommyreddad commented on #1882
- TestEventTransformationForTrigger:
  - Same as the knative/eventing test with the same name, using MTBroker backed by PubSubChannel rather than InMemoryChannel. Uses the knative/eventing test library.
  -  A diagram explains the test flow:
[code]
- TestBrokerChannelFlow:
  - Same as the knative/eventing test with the same name, using MTBroker backed by PubSubChannel rather than InMemoryChannel.

[2020-11-02 19:23] #1882 closed

[2020-11-02 21:10] Ectelion commented on #1835
Also, in case you wonder why the previous version still worked. There are two pieces here: Informer and Lister. When it comes to listing, the difference is in KSources and Sources are ducks, which are very similar/substitutable ones, so listing should work consistently in both cases. Informer is more tricky and my understanding is that it did work before because the Informer events in both cases a

[2020-11-02 22:19] #1835 closed

[2020-11-03 00:39] grantr commented on #1835
Thanks @Ectelion for investigating and fixing this!

[2020-11-03 17:59] #610 closed

[2020-11-03 18:00] #609 closed

[2020-11-03 18:50] grantr opened #1888 "Support IdentitySpec in BrokerCell"
**Problem**
Currently BrokerCell is hardcoded to use a default service account or secret. Supporting IdentitySpec would make more complex auth setups possible and clarify to both users and data planes which authentication strategy and identity is being used.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Operator

**Exit Criteria**
A BrokerCell can specify a Goog

[2020-11-04 21:06] #651 closed

[2020-11-06 15:49] zhongduo opened #1892 "Backport eventing #4460"
**Problem**
This PR use a fetcher pod to pull report in upgrade test instead of replying on external cluster IP address, which is not necessarily available.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
The upgrade test works without external IP resolve.

**Time Estimate (optional):**
How many developer-days

[2020-11-09 14:44] #1892 closed

[2020-11-10 14:24] nlopezgi commented on #1852
This still needs https://github.com/google/knative-gcp/pull/1856/files

[2020-11-10 15:11] #1852 closed

[2020-11-12 10:08] meteatamel commented on #976
/remove-lifecycle stale

[2020-11-12 10:09] meteatamel commented on #1496
/remove-lifecycle stale

[2020-11-12 15:52] #1857 closed

[2020-11-12 18:57] zhongduo opened #1914 "Occasional setup failure of knative eventing in e2e"
**Describe the bug**

In our prow job, there are some failure during knative eventing installation like:

[code]
From @Harwayne :
[code]

This can be easily worked around by reapplying the yaml. Though the real fix might be from knative eventing, I am opening this issue to check a workaround in our repo, eg reapply the yaml.

 **Expected behavior**

Check the failure log: https://prow.knative.dev/

[2020-11-12 18:59] grantr commented on #1832
When we start rejecting linear backoff, we should correct the description of linear backoff in https://github.com/google/knative-gcp/blob/master/docs/spec/delivery.md.

[2020-11-12 19:36] grac3gao commented on #1216
/remove-lifecycle stale

[2020-11-12 19:36] grac3gao commented on #1364
/remove-lifecycle stale

[2020-11-12 19:36] grac3gao commented on #1160
/remove-lifecycle stale

[2020-11-12 19:36] grac3gao commented on #1055
/remove-lifecycle stale

[2020-11-12 19:37] grac3gao commented on #1037
/remove-lifecycle stale

[2020-11-12 19:37] grac3gao commented on #1023
/remove-lifecycle stale

[2020-11-12 19:38] grac3gao commented on #1021
/remove-lifecycle stale

[2020-11-12 19:38] grac3gao commented on #978
/remove-lifecycle stale

[2020-11-12 19:38] #945 closed

[2020-11-13 20:11] AlexandraRoatis commented on #1119
## Controller GSA permissions and their code uses

- `pubsub.subscriptions.create`
    - https://github.com/google/knative-gcp/blob/0f98edcf37c911c5b75f8f171169deb3528d5830/pkg/reconciler/intevents/pullsubscription/reconciler.go#L237
    - https://github.com/google/knative-gcp/blob/0f98edcf37c911c5b75f8f171169deb3528d5830/pkg/reconciler/intevents/pullsubscription/reconciler.go#L244
- `pubsub.subsc

[2020-11-13 20:12] #1119 closed

[2020-11-15 06:28] #764 closed

[2020-11-16 20:10] nlopezgi commented on #749
closing as we now have upgrade tests in this repo

[2020-11-16 20:10] #749 closed

[2020-11-16 23:23] zhongduo opened #1920 "Possible bug in trigger event count"
**Describe the bug**
During the upgrade test, I found that the broker event count is not the same as sum of all the trigger event counts. Note that the receiver pod does receive all the events as the broker event count, so there is a possibility that we didn't record all the trigger event counts.

 **Expected behavior**
Broker event count should be same as sum of all trigger event count in stackdr

[2020-11-16 23:58] grac3gao commented on #1862
Summary:

hit -> reach (17 times)
native -> "" (4 times)
dummy -> sample (55 times)
victim -> "" (1 times)
special -> "" (4 times)
health check -> probe check (72 times)

[2020-11-16 23:58] #1862 closed

[2020-11-17 13:55] nlopezgi commented on #746
/remove-lifecycle stale

[2020-11-17 17:44] #1914 closed

[2020-11-17 19:48] #1496 closed

[2020-11-17 20:06] grac3gao commented on #1496
@meteatamel I added auto-script to the data plane for both secret and workload identity method. So now, the quick-steps would be: running script to set up the control plane, then running script to set up the data plane. Please let me know if these would help to reduce the complexity for authentication configuration. Thanks!

[2020-11-18 09:49] meteatamel commented on #1496
Ok. I'll try them next time I install Knative-GCP and open a new bug, if I feel like it's still hard to install and configure auth.

[2020-11-18 15:40] danyinggu opened #1931 "eventing.yaml missing for nightly release results in failed presubmit and CI"
**Describe the bug**
eventing.yaml missing for nightly release results in failed presubmit and CI
Due to an upstream issue https://github.com/knative/eventing/issues/4545

Fix is there:
https://github.com/knative/hack/pull/24

Need to update deps until the above PR is merged.

Create an issue in our repo to keep track.

[2020-11-18 16:34] nachocano commented on #1785
Fixed by https://github.com/knative/eventing/pull/4474
Closing

[2020-11-18 16:34] #1785 closed

[2020-11-18 17:19] danyinggu opened #1932 "Conformance tests failed due to missing MT channel based broker CRD manifests"
**Describe the bug**
Conformance tests failed due to missing MT channel based broker CRD manifests

 **Expected behavior**
Relates to knative/eventing#4545 and #1930

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative-GCP release version**

 **Additional context**
Add any other context about the problem here such as proposed priority

cc: @tommyreddad

[2020-11-18 17:44] danyinggu commented on #1932
Relates to https://github.com/knative/eventing/pull/4546
Previously, eventing.yaml generated from eventing has the MT channel based broker manifest, the above PR should fix it.

[2020-11-18 18:20] danyinggu commented on #1932
in #1930 conformance test is temporarily disabled. Will enable it once the upstream issue is fixed.

[2020-11-18 18:50] #1931 closed

[2020-11-19 19:46] #1932 closed

[2020-11-20 15:32] danyinggu opened #1939 "knative-gcp nightly test failed because of $KO_DOCKER_REPO set to gcr.io/knative-nightly, which is forbidden"
**Describe the bug**
knative-gcp nightly test failed because of $KO_DOCKER_REPO set to gcr.io/knative-nightly, which is forbidden
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-nightly-release/1329714294278852608

This is an upstream issue(https://github.com/knative/eventing/issues/4563), as Knative eventing nightly also failed because of this issue. I will sync with OSS f

[2020-11-20 16:36] zhongduo commented on #1789
Do we still need to work on this? From the comment it seems that this is already fixed upstream in k8s.
https://github.com/kubernetes/kubernetes/issues/84142#issuecomment-629564829

[2020-11-20 17:40] mattwelke opened #1940 "Allow CloudPubSubSource to use existing subscription instead of creating one"
**Problem**
When I read the docs example on CloudPubSubSource, I saw that it used `topic` as input (https://github.com/google/knative-gcp/blob/master/docs/examples/cloudpubsubsource/cloudpubsubsource.yaml). This means that it must create a subscription to the topic to use. This prevents the Knative user from being in control of the lifecycle of the subscription. For some use cases, this is necessa

[2020-11-20 17:59] #1609 closed

[2020-11-20 20:59] #1939 closed

[2020-11-25 19:37] Harwayne commented on #1920
The description of the bug is a bit ambiguous. Was the test set up such that every event sent to the Broker should pass the only Trigger's filter? Or that every event sent into the Broker passes exactly one Trigger's filter?

Which was greater, the Broker's event_count or Sum(Trigger event_count)?

---

The Broker's event_count and sum of all the Trigger event_counts for that Broker do not need to

[2020-11-25 20:20] zhongduo commented on #1920
Broker event_count > Sum(Trigger event_count)

The difference is about missing 300 events.

[2020-11-25 20:22] zhongduo commented on #1920
There are two triggers, `step` gets almost all the events from broker, `finished` gets only one.

[2020-11-29 00:03] jonbcampos opened #1952 "bad documentation: missing selector"
**Describe the bug**
The documentation to install knative-gcp seems wrong. There is an example to pull a selector `messaging.cloud.google.com/crd-install=true`, this doesn't exist in `cloud-run-events.yaml`.

[code]

from https://github.com/google/knative-gcp/blob/master/docs/install/install-knative-gcp.md#option-2-install-a-release

 **Expected behavior**
This line should either be removed or `cl

[2020-11-29 00:04] jonbcampos commented on #1952
when you run the command, you get `error: no objects passed to apply`

[2020-11-30 06:45] mattwelke opened #1953 "Cannot complete CloudPubSubSource example, no subscription created in GCP"
**Describe the bug**
I tried to run the example here: https://github.com/google/knative-gcp/tree/master/docs/examples/cloudpubsubsource.

I followed each step.

For the prerequisite step "Install Knative" (https://github.com/google/knative-gcp/blob/master/docs/install/install-knative-gcp.md), where it tells you to choose a version (for `KGCP_VERSION`), I chose `v0.19.1` because it was the latest r

[2020-11-30 07:21] mattwelke commented on #1953
Should put this on hold til I try again. I realized when reviewing the steps that I had only installed Serving onto my cluster, not Eventing. After I ran the Eventing install instructions (which were hidden in the docs for Knative version 0.19.0, I grabbed install commands from the 0.18.0 docs and changed the version in those commands to 0.19.0), I saw this in the logs for the controller pod:

[co

[2020-11-30 18:47] grantr commented on #1164
/remove-lifecycle stale

[2020-12-01 03:45] mattwelke commented on #1953
I was able to get this working. It was indeed the two issues described above. I also found though that the default GKE cluster settings resulted in a cluster with not enough CPU to schedule the "receive-adapter" pods for CloudPubSubSource. I changed that to three e2-highcpu-4 nodes and I was able to get it working that way (though I think smaller node sizes than that may also work).

Closing issue

[2020-12-01 03:45] #1953 closed

[2020-12-01 03:49] mattwelke commented on #1940
I confirmed that this is how CloudPubSubSource behaves right now by running its example in the docs. I ran into an issue with my first cluster because its nodes were too small to schedule the receive-adapter pod CloudPubSubSource tells the cluster to start. When I had recreated my cluster, I ended up with two subscriptions, since the new cluster had no idea about the old one:

![image](https://use

[2020-12-01 05:36] grac3gao commented on #1953
Thanks for trying out the installation and finding those issues! @mattwelke. I'll update the installation guide for some recommendations (about node number and machine type) when creating the cluster.

[2020-12-01 17:53] #1952 closed

[2020-12-01 18:33] AlexandraRoatis opened #1958 "Set the correct value for SYSTEM_NAMESPACE"
**Describe the bug**
The stated assumption seems to be that `SYSTEM_NAMESPACE`/`system.Namespace()` is set to `cloud-run-events`.
However, there are instance where it is defined as `knative-eventing` or `knative-testing`, e.g.:
- https://github.com/google/knative-gcp/blob/38d5ca803ff48e839b248963506cf527e8ef6d4b/test/lib.sh#L20
- https://github.com/google/knative-gcp/blob/38d5ca803ff48e839b2489635

[2020-12-01 20:14] grac3gao opened #1959 "Add a doc about Error Conditions and Reporting in doc/spec"
**Problem**
From the discussion of https://github.com/google/knative-gcp/pull/1947#discussion_r532775305, it would be useful to add an Error Conditions and Reporting doc in https://github.com/google/knative-gcp/tree/master/docs/spec.

We can put information about error signalling https://knative.dev/docs/serving/spec/knative-api-specification-1.0/#error-signalling and examples we used to standardi

[2020-12-01 21:17] grantr commented on #1958
The testingdata ones can remain `knative-testing`, that value is independent of any value outside tests.

[2020-12-01 21:24] grantr commented on #1920
@quentin-cha

[2020-12-01 21:48] grantr opened #1961 "Document the GCP broker on knative.dev"
**Problem**
The knative.dev docs site has a nice page all about the Kafka broker: https://knative.dev/docs/eventing/broker/kafka-broker/

In comparison the GCP broker page is not so nice: https://knative.dev/docs/eventing/broker/alternate. The markdown file it links to is https://github.com/google/knative-gcp/blob/master/docs/install/install-gcp-broker.md, which has a lot of great info, but it's n

[2020-12-01 22:24] grantr commented on #800
@Harwayne @ian-mi do you know if this is completed for sources and channels in this repo?

[2020-12-01 22:41] #1678 closed

[2020-12-02 16:00] MohamedElhawaty commented on #1958
The `system.Namespace()` value can either be:

* initialized as an environment variable.
* set to `knative-testing` by importing `"knative.dev/pkg/system/testing"`

So in unit tests, if we don't `import _ "knative.dev/pkg/system/testing"`, a panic would be raised:

[code]

[2020-12-02 17:52] #1863 closed

[2020-12-02 19:23] Harwayne commented on #800
I believe #1481 fixed this. @ian-mi please re-open if I am incorrect.

/close

[2020-12-02 19:23] #800 closed

[2020-12-02 19:29] Harwayne commented on #486
Switching release as Channel is not in scope for `release/2`.

[2020-12-02 19:33] Harwayne commented on #1624
@grac3gao did #1947 fix this?

[2020-12-02 21:20] grac3gao commented on #1624
@Harwayne Yes, it did.
Fixed by #1947

[2020-12-02 21:20] #1624 closed

[2020-12-02 22:59] Harwayne commented on #1920
@zhongduo and I talked, this issue is reproducible via the `TestEventingUpgrades` E2E test.

There is a Broker which is being sent events continuously at roughly 30 QPS. Each event going into the Broker should match a single Trigger's filter, all of which point to a receiver Pod. At the end of the test, the Broker event_count is 4200, which exactly matches the number of events seen by the receiver

[2020-12-03 00:01] Harwayne commented on #1920
Because the Pods were restarting, I thought it might have something to do with not flushing properly in the fanout/retry Pods, but from what I can see, the ingress, fanout, and retry Pods all flush metrics in the exact same way.

[2020-12-03 07:59] Harwayne commented on #1920
As far as I can tell this line is the only place a Trigger sends an event to the subscriber:

https://github.com/google/knative-gcp/blob/2ef4ca1b39478f1d423b167a0c1e37ab62f495f2/pkg/broker/handler/processors/deliver/processor.go#L151

The only way to get out of that function without calling `p.StatsReporter.ReportEventDispatchTime`, which is what increments the event_count metric, is if that line

[2020-12-03 20:48] Harwayne commented on #1654
Fixed by knative/pkg#1773.

[2020-12-03 20:48] Harwayne commented on #1654
/close

[2020-12-03 20:48] #1654 closed

[2020-12-03 20:55] Harwayne opened #1972 "Document Broker data plane on docs/install/authentication-mechanisms-gcp.md"
**Describe the bug**
docs/install/authentication-mechanisms-gcp.md describes the control plane and sources data plane, but does not mention the Broker data plane.

 **Expected behavior**
Broker data plane should also be documented.

[2020-12-03 21:37] grac3gao commented on #1972
@Harwayne Broker’s instruction is in https://github.com/google/knative-gcp/blob/master/docs/install/install-gcp-broker.md, we set the broker as an independent part. Shall I add the link in installation doc for that or combine it to the installation doc?

[2020-12-03 21:44] grac3gao opened #1973 "Ingress Readiness and Liveness check stop working after an upstream change"
**Describe the bug**
Ingress readiness and liveness (using kncloudevents library from eventing) check stop working after an upstream change: https://github.com/knative/eventing/pull/3917

 **Expected behavior**
A clear and concise description of what you expected to happen.

 **To Reproduce**
change the following line to return `response.WriteHeader(nethttp.StatusMethodNotAllowed) `
https://github

[2020-12-03 22:01] Harwayne commented on #1972
At the very least we should update  https://github.com/google/knative-gcp/blob/master/docs/install/authentication-mechanisms-gcp.md to state that it is setting up the source data plane (rather than the current implication of the entire data plane), and we should link to the install-gcp-broker docs.

[2020-12-04 00:07] #1827 closed

[2020-12-04 15:31] MohamedElhawaty commented on #1958
The one in `lib.sh` should be set to `knative-eventing` as well. It was added as part of this [PR](https://github.com/google/knative-gcp/pull/1867).

As per my discussion with @tommyreddad, eventing test library depends on `system.Namespace()` in `pkg/system` and needs this value to point to the namespace in which Knative Eventing is installed

[2020-12-04 19:59] zhongduo opened #1978 "Delete system namespace gracefully"
**Problem**
Currently deleting the system namespace `cloud-run-events` will have a big chance to hang forever, with the namespace in `Terminating` state. The reason is that the brokercell is using the webhook as the validation webhook, so when the webhook is deleted before the brokercell, the namespace won't be able to add the deletionTimestamp to the brokercell.

Possible solutions:
1) remove the

[2020-12-08 06:27] Harwayne commented on #1594
When we do this, we should make sure to have a Trigger `retry_event_count` metric, so that we can easily see how many events going to a given Trigger are failing and forcing a retry.

[2020-12-09 15:13] quentin-cha commented on #1920
Reran the test (`TestEventingUpgrades`) a couple of times and confirmed the issue.
Observations so far:
- There is always a difference between the Broker event count and Trigger event count.
- Trigger event count is always less than Broker event count.
- The delta amount varies from run to run.

Investigate
- make sure triggers have a chance to report all counts before test tear down
- add logging

[2020-12-09 19:25] grantr commented on #1789
Downgrading this to P2.

[2020-12-09 21:42] zhongduo opened #1989 "Use cluster region as the default constraint for data residency"
**Problem**
As per data residency requirements, the default data residency of a GKE application should be the cluster region instead of global.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developers and customers.

**Exit Criteria**
In case of no data residency configuration, make it the same as the cluster region.

**Time Estimate (optional):**
2 developer-da

[2020-12-10 22:35] quentin-cha commented on #1920
Observation update:
- broker event count doesn't always have the correct count, and sometimes the trigger event count is higher than the broker event count.
- added log around where the broker event count and trigger event count are being recorded
https://github.com/google/knative-gcp/blob/eae120d016abff5a176662a9329e3456e64970f0/pkg/broker/ingress/handler.go#L234
https://github.com/google/knative

[2020-12-11 23:11] cathyzhyi opened #1991 "Properly tear down knative related installation"
**Describe the bug**
In e2e-secret-tests.sh `knative_teardown` overwrites the original definition https://github.com/google/knative-gcp/blob/6d964ddaae98f1c3ed062e39145f25e9fc5165c6/test/e2e-secret-tests.sh#L59 and just removes some temp file. However, the original `knative_teardown` defined in https://github.com/google/knative-gcp/blob/6d964ddaae98f1c3ed062e39145f25e9fc5165c6/vendor/knative.dev/e

[2020-12-12 01:38] #1546 closed

[2020-12-12 01:38] #1517 closed

[2020-12-12 01:38] #1483 closed

[2020-12-12 01:38] #1466 closed

[2020-12-12 01:38] #1455 closed

[2020-12-12 01:38] #1343 closed

[2020-12-12 01:38] #1321 closed

[2020-12-12 01:38] #1292 closed

[2020-12-12 01:38] #1291 closed

[2020-12-12 01:38] #1287 closed

[2020-12-12 01:38] #1196 closed

[2020-12-12 01:38] #1193 closed

[2020-12-12 01:38] #1171 closed

[2020-12-12 01:38] #1130 closed

[2020-12-12 01:38] #1118 closed

[2020-12-12 01:38] #1104 closed

[2020-12-12 01:38] #1071 closed

[2020-12-12 01:38] #1039 closed

[2020-12-12 01:38] #1029 closed

[2020-12-12 01:38] #1019 closed

[2020-12-12 01:38] #966 closed

[2020-12-12 01:38] #964 closed

[2020-12-12 01:38] #935 closed

[2020-12-12 01:38] #930 closed

[2020-12-12 01:38] #920 closed

[2020-12-12 01:38] #918 closed

[2020-12-12 01:38] #913 closed

[2020-12-12 01:38] #865 closed

[2020-12-12 01:38] #847 closed

[2020-12-12 01:38] #829 closed

[2020-12-13 01:42] #785 closed

[2020-12-13 01:42] #781 closed

[2020-12-14 14:32] zhongduo commented on #1991
The `test_teardown` in eventing is to uninstall the channel CRD, which is not applicable in knative-gcp. `knative-teardown` however removes the system namespace, which knative-gcp will have problem due to the dependency of webhook and brokercell in the same namespace. The whole teardown is not very important as the Prow job will remove the whole cluster after the test, but not sure what people wil

[2020-12-14 15:31] cathyzhyi commented on #1991
I thought the `knative_teardown` in knative-gcp needs to cleanup knative-gcp related resources and then do whatever the original `knative_teardown` in e2e-common.sh does to cleanup eventing related resources.

[2020-12-14 15:41] cathyzhyi opened #1994 "Add e2e test for detecting naming conflicts between knative-gcp and other components"
**Problem**
Need an e2e test to verify that no cluster-scoped or namespaced objects installed by knative-gcp have the same name as other objects

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
add e2e test to verify that no cluster-scoped or namespaced objects installed have the same name as other objects

**Ti

[2020-12-14 17:06] cathyzhyi commented on #1468
Change this issue to P2 as the P1 part in https://github.com/google/knative-gcp/issues/1468#issuecomment-665286067  is completed

[2020-12-16 15:18] #1824 closed

[2020-12-16 17:26] quentin-cha commented on #1920
After some more investigation, a possible theory is that:

When we record metrics, the metrics themselves do not get pushed into the bundlers right away, instead, they are stored in intermediaries call views:
https://github.com/google/knative-gcp/blob/3fc6d6f43caca85fa04ff85b231f7a414d74b010/vendor/go.opencensus.io/stats/view/worker_commands.go#L166

There is a separate mechanism that periodically

[2020-12-16 17:30] zhongduo commented on #1920
Does this explain why the broker always has the right number?

On Wed, Dec 16, 2020 at 12:27 PM Quentin Cha <notifications@github.com>
wrote:

[2020-12-16 18:06] quentin-cha commented on #1920
Based on what I have seen during the investigation, broker event counts can also be off. So the root cause would most likely be in the common layers.

[2020-12-16 18:14] zhongduo commented on #1920
It might be a coincidence in this case then. My previous experience has
always been that the broker is getting the right number *when the test
succeeds.*

On Wed, Dec 16, 2020 at 1:06 PM Quentin Cha <notifications@github.com>
wrote:

[2020-12-17 01:44] #1492 closed

[2020-12-17 01:44] #1020 closed

[2020-12-17 21:52] zhongduo opened #2007 "The default webhook port does not work"
**Describe the bug**

Kubernets adds additional env vars for each service with name
*_SERVICE_PORT, *_SERVICE_HOST and *_PORT, this causes trouble
in the webhook as it is using WEBHOOK_PORT to configure the
webhook port. Disabling it will enable using a default port.

 **Expected behavior**
Without WEBHOOK_PORT env the default port should be used.
 **To Reproduce**
remove the WEBHOOK_PORT env var

[2020-12-17 22:07] grac3gao commented on #1973
kncloudevents are using drainer in pkg to run liveness and readiness check now (https://github.com/knative/pkg/blob/d5c09d2aef18eaabbb9ce3ac71a487288ca542aa/network/handlers/drain.go#L78), all inbound request will firstly send through drainer then to the handler we configured. Drainer will take every request from k8s probe and truncated it instead of continuing sending it to our handler, which mak

[2020-12-17 22:43] #2007 closed

[2020-12-19 01:46] #729 closed

[2020-12-20 01:47] #727 closed

[2020-12-20 12:02] Uvindu96 opened #2010 "Getting TopicReconcileFailed when creating Cloud Storage Source"
**Describe the bug**
When I trying out the https://github.com/google/knative-gcp/blob/master/docs/examples/cloudstoragesource/README.md sample, I tried to deploy the https://github.com/google/knative-gcp/blob/master/docs/examples/cloudstoragesource/cloudstoragesource.yaml file in order to create the cloud storage source, but it give me TopicReconcileFailed error.

 **Expected behavior**
I need to

[2020-12-20 16:56] quentin-cha commented on #2010
Is your cluster configured to use Workload Identity or K8S secrets?
Can you also give this a try

[2020-12-20 17:18] Uvindu96 commented on #2010
@quentin-cha  Thank you for the quick response, i got an error while creating the workload identity and I'm not sure is that the reason to cause this error, this is the error log I got,

![Screenshot from 2020-12-20 17-35-31](https://user-images.githubusercontent.com/31029812/102719685-643c9c00-4315-11eb-82cf-05b5de574018.png)

[2020-12-20 19:34] quentin-cha commented on #2010
@Uvindu96
It seems that you are running out of CPU quota in your region, you can maybe:
- increase your quota
- use a different region
- use a machine type with smaller number of CPUs when you create your cluster

[2020-12-21 16:53] Uvindu96 opened #2011 "knative trigger status Unknown due to TopicReady Unknown"
**Describe the bug**
Recently I'm trying out the Knative sample https://github.com/meteatamel/knative-tutorial/blob/master/docs/image-processing-pipeline.md, I have created knative trigger with default broker(MTChannelBasedBroker) & trigger, I have also installed the Google Cloud Pub/Sub Channel in the same namespace. I'm not sure what causes this error.
![Screenshot from 2020-12-21 21-56-10](http

[2020-12-21 16:53] Uvindu96 commented on #2010
@quentin-cha This is resolved Thank You.

[2020-12-21 16:53] #2010 closed

[2020-12-21 17:42] liu-cong opened #2012 "Create App Engine application as part of Cloud Scheduler source"
**Problem**
Currently we ask the user to manually create an AppEngine application before they can create a CloudScheduler source. This is not a great user experience.
Can we manage the creation of the App Engine app for the user?

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that wo

[2020-12-22 18:48] zhongduo opened #2015 "Trigger unable to deliver to different namespace"
**Describe the bug**
Currently the trigger always set the sink namespace to its own namespace, so there is no way to deliver to sink in other namespace. Note that according to the spec, the destination can be a k8s service, which is cluster wide.

 **Expected behavior**
When the namespace is set in subscriber spec, it should be respected.

 **To Reproduce**
Try adding a namespace to the subscriber

[2020-12-22 19:26] Harwayne opened #2017 "update-codegen.sh should compile pkg/broker/config/targets.proto"
**Describe the bug**
Changes made to `pkg/broker/config/targets.proto` are not reflected until the developer runs `protoc` out of band.

 **Expected behavior**
Any changes made to `pkg/broker/config/targets.proto` should be codegen'ed into the project. Making it impossible to accidentally commit the proto file without commiting the derived go files as well. This is what we do for all our other gen

[2020-12-22 19:33] #2015 closed

[2020-12-24 02:03] #1592 closed

[2020-12-28 13:26] Uvindu96 commented on #2011
Is there any solution for this?

[2020-12-29 15:14] zhongduo commented on #2011
This typically means authentication problem to Cloud resource, which in this case is Google Pub/Sub. Can you try if this help: https://github.com/google/knative-gcp/blob/master/docs/install/authentication-mechanisms-gcp.md#option-2-kubernetes-secrets

[2020-12-29 16:16] cathyzhyi commented on #1789
I am still seeing this issue with `v1.18.12-gke.1201`
Seems there is something wrong with the memory usage that `kubectl get hpa default-brokercell-fanout-hpa -n cloud-run-events --watch` shows the following output after `ko apply -f configs`
[code]
The outputs from `kubectl top pod -n cloud-run-events` are like the following and looks normal.
[code]

[2020-12-29 16:43] zhongduo commented on #1789
hmm, I just tried with master, and didn't see the problem.

[2020-12-30 15:23] Uvindu96 commented on #2011
@zhongduo Thanks for the response, I tried the Kubernetes secrets option but I keep getting the same issue with the trigger.

![Screenshot from 2020-12-30 20-33-06](https://user-images.githubusercontent.com/31029812/103363375-fba5aa00-4ae0-11eb-8f94-ae7e80524cde.png)

Steps Followed

1. Install both Knative serving and eventing (v0.18).
2. Install Knative GCP (From GitHub release version 0.18).
3.

[2020-12-30 15:44] zhongduo commented on #2011
There is no `google-broker-key`, can you also do it by following: https://github.com/google/knative-gcp/blob/master/docs/install/install-gcp-broker.md#option-2-export-service-account-keys-and-store-them-as-kubernetes-secrets

[2020-12-30 18:56] Uvindu96 commented on #2011
@zhongduo I have created the google-broker-key as you requested, but It didn't help :(. Still, my trigger is in an unknown state. I'm followed each step can't find what is missing :(

![Screenshot from 2020-12-31 00-08-31](https://user-images.githubusercontent.com/31029812/103374300-3fa6a800-4afd-11eb-9c4a-830b2c0f676c.png)

This is the trigger file -:
![Screenshot from 2020-12-31 00-16-32](https:

[2020-12-30 21:41] zhongduo commented on #1789
I was also able to reproduce the problem, which I believe also explain the unexpected number of brokercell pods in the upgrade test. After syncing with Yi offline and taking a closer look at the output of HPA, `19675818666m` is actually ~19Mi as `m` means 0.001. However such a unit shouldn't exist for memory usage in the first place, so I am inclined to believe that this is a bug in HPA. We should

[2020-12-30 21:53] zhongduo opened #2031 "Test post install in upgrade test"
**Problem**
The existing upgrade test does not test post install jobs of release version or head. So if there is a need for post install job, the upgrade test will fail. Ideally we should do as closely to what the operator do as possible: run the corresponding post-install jobs after upgrade and downgrade.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developers

[2020-12-30 21:57] zhongduo commented on #2031
Note that `pre-install` job is not supported by the operator and the community is trying to remove it too.

[2020-12-31 02:10] #1635 closed

[2020-12-31 10:36] Uvindu96 commented on #2011
I want to add another thing, for the sample I'm following, It's using the default broker, not the GCP broker.

[2021-01-03 02:15] #684 closed

[2021-01-05 17:45] tayarani commented on #1804
/remove-lifecycle stale

[2021-01-05 18:06] Harwayne opened #2037 "Channels backed by BrokerCells"
**Problem**
BrokerCells have had a lot of productionization work, far more than the current Channel implementation. In order to make Channels production quality, and to minimize the difference between Brokers and Channels, use the same data plane for both, the BrokerCell.

**Exit Criteria**
Channels use BrokerCells, rather than Topic and PullSubscription K8s objects.